<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.menu_login').css('display', 'inline-block');
            $('.menu_logout').css('display', 'none');
        });
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- join_sec page-->
            <section class="join_sec">
                <h1>가입완료</h1>
                <dl class="cmn_fjb finish_join_box1">
                    <dt>마켓마하 회원가입을 환영합니다.</dt>
                    <dd>
                        <p>마켓마하 뿐만 아니라 캐시거래소, MACH커뮤니티에서 제공하는 모든 서비스를 이용하실 수 있습니다.</p>
                        <p>단, 19세 미만 회원은 게임아이템거래 이용이 불가능합니다.</p>
                    </dd>
                </dl>
                <div class="btn_align_c">
                    <a class="btn btn_in_view1" href="/main">홈으로</a>
                </div> 
                <dl class="cmn_fjb finish_join_box2">
                    <dt>원활한 거래를 위해<br>MACH 거래소에 지갑을 등록해주세요^^</dt>
                    <dd>
                        <a class="btn bgc3" href="/bitberry">지갑 등록하러 하기</a>
                        <p>※ 지갑 등록 및 관리는 나의페이지-나의지갑에서 언제든지 이용하실 수 있습니다.</p>
                    </dd>
                </dl>
            </section>
            <!--// join_sec page-->

        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body> 