<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type='text/javascript'>
        //<![CDATA[
        var client_id = 'N190vIFvGWb_8YJWKoLJ';
        var redirectURI = "http://localhost:3000/naverLoginCallback";
        var state;

        // 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('b1df4eec5132836f4c9ea5311dfd80fa');
        var naver_id_login = new naver_id_login(client_id, redirectURI);

        function enterkey(){
            if(window.event.keyCode==13){
                login();
            }
        }

        function login() {
            var id = $("#userId").val();
            var password = $("#password").val();
            var data = {
                "userTag": id,
                "password": password
                // "country": $('[name=country]').val()
            };

            // if($("input:checkbox[name='remember-me']").is(":checked")==true){
            //     data["remember"]=true;
            // }else{
            //     data["remember"]=false;
            // }

            console.log("data : ",data);
            $.ajax({
                method: "POST",
                url: "/v1/users/login",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data)

            }).done(function (success) {
                location.href='/';
            }).fail(function (fail) {
                if (fail.status == 403) {
                    alert('아이디 또는 패스워드가 일치하지 않습니다.');
                } else {
                    console.log(fail);
                }
            })
        }

        // 카카오 로그인 버튼을 생성합니다.
        function loginWithKakao() {
            // 로그인 창을 띄웁니다.
            Kakao.Auth.login({
                success: function(authObj) {
                    //to-do : 비동기 처리로 user 데이터를 조회 후 저장한다.
                    console.log(authObj)
                    location.href="/";
                },
                fail: function(err) {
                    //에러처리한다.
                    console.log(err);
                }
            });
        };

        function loginWithNaver() {
            // 로그인 창을 띄웁니다.
            state = naver_id_login.getUniqState();
            // naver_id_login.setButton("white", 2,40);
            naver_id_login.setDomain("http://localhost:3000");
            naver_id_login.setState(state);
            naver_id_login.setPopup();
            //naver_id_login.init_naver_id_login();
            var url = 'https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=' + client_id + '&redirect_uri=' + redirectURI + '&state=' + state;
            window.open(url, 'naverloginpop', 'titlebar=1, resizable=1, scrollbars=yes, width=600, height=550');
        };
        //]]>
    </script>
</head>
<body>
<div class="login_wrap col-sm-12" id="wrap">
    <div class="login_head">
        <h1 class="">
            <a href="/main">
                <img src="/image/login_match_logo.png" alt="" class="">
            </a>
        </h1>
    </div>
    <div class="login_body">
        <input class="login_ipt" type="text" name="id" id="userId" placeholder="아이디">
        <input class="login_ipt" type="password" name="password" id="password" onkeyup="enterkey()" placeholder="비밀번호">

        <!--
            <input type="checkbox" name="" id="idSave"> <label class="d-inline-block" for="idSave">아이디저장</label>
        -->
        <div class="text-center">
            <button class="btn_login" onclick="login()">로그인</button>
        </div>
        <div class="login_btn_sec">
            <div class="col-lg-12 col-md-12 col-sm-12 form-inline text-center">
                <a href="/findId" class="col-lg-4 col-md-4 col-sm-12">아이디 찾기</a>
                <a href="/findPassword" class="col-lg-4 col-md-4 col-sm-12">비밀번호 찾기</a>
                <a href="/agreement" class="col-lg-4 col-md-4 col-sm-12">회원가입</a>
            </div>            
        </div>
    </div>
    <div class="login_foot">
        <!--
            <div class="kakao-login btn_auth" onclick="loginWithKakao();">
                <img src="/image/btn_kakao_login.png" alt="" />
            </div>
        -->
        <!-- <div id="naver_id_login" onclick="loginWithNaver();" class="btn_auth">
            <img src="/image/btn_naver_login.png" alt="" />
        </div> -->
    </div>
</div>
</body>
</html>
