<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/buy/register.css" rel="stylesheet">
</head>

<body class="background">

<header class="header_area" id="header">
</header>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55 register-container">
            <span class="login100-form-title p-b-32 text-white"><img
                    src="/img/icon-img/ic-write.png">&nbsp;&nbsp;<%= __('page.buy.game.add.bigTitle1') %></span>

            <div class="col-10 offset-1 px-0 mt-4">
                <div class="form-inline">
                    <div class="txt1 col-12 p-b-11 text-white pl-0 mach-account">
                        <%= __('page.buy.game.add.title1') %>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="wrap-input100 col-6 validate-input m-b-12 px-0 mach-account">
                        <select class="selectpicker show-tick custom-select" data-live-search="true" id="game-name" onchange="selectServer()">
                            <option value="false" selected><%= __('page.buy.game.add.gameNameFirstOption') %></option>
                        </select>
                    </div>
                    <div class="wrap-input100 col-6 validate-input m-b-12 px-0">
                        <select class="selectpicker show-tick custom-select" data-live-search="true" id="game-server">
                            <option value="false" selected><%= __('page.buy.game.add.serverFirstOption') %></option>
                        </select>
                    </div>
                </div>
                <% if(country=="CN"){ %>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.buy.game.add.title8') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100 text-white" type="text" name="region1" id="region1" maxlength="30" placeholder="<%= __('page.buy.game.add.placeholder.placeholder6') %>">
                    <span class="focus-input100"></span>
                </div>
                <!--<div class="txt1 p-b-11 text-white">-->
                    <!--<%= __('page.buy.game.add.title9') %>-->
                <!--</div>-->
                <!--<div class="wrap-input100 validate-input m-b-12">-->
                    <!--<input class="input100 text-white" type="text" name="region2" id="region2" maxlength="30">-->
                    <!--<span class="focus-input100"></span>-->
                <!--</div>-->
                <% } %>
                <div class="txt1 p-b-11 text-white">
                    <div class="txt1 col-12 p-b-11 text-white pl-0 mach-account">
                        <%= __('page.buy.game.add.title2') %>
                    </div>
                    <select class="custom-select" id="type">
                        <option value="false" selected><%= __('page.buy.game.add.title2FirstOption') %></option>
                        <option value="item"><%= __('page.buy.game.add.title2SecondOption') %></option>
                        <option value="gameMoney"><%= __('page.buy.game.add.title2ThirdOption') %></option>
                    </select>
                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.buy.game.add.title3') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100 text-white" type="text" name="title" id="title" maxlength="30" placeholder="<%= __('page.buy.game.add.placeholder.placeholder1') %>">
                    <span class="focus-input100"></span>
                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.buy.game.add.title4') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100 text-white" type="email" name="game-character" id="game-character" maxlength="20" placeholder="<%= __('page.buy.game.add.placeholder.placeholder2') %>">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-inline">
                    <% if(useBlockchain=="Y"){ %>
                    <div class="txt1 col-6 p-b-11 text-white pl-0 mach-account">
                        <%= __('page.buy.game.add.title5') %>
                    </div>
                    <% } if(usePoint=="Y" && country=="KR"){ %>
                    <div class="txt1 col-6 p-b-11 text-white pl-0">
                        <%= __('page.buy.game.add.title6') %>
                    </div>
                    <% } %>
                </div>
                <div class="form-inline">
                    <% if(useBlockchain=="Y"){ %>
                    <div class="wrap-input100 col-6 validate-input m-b-12 px-0 mach-account">
                        <input class="input100 text-white" type="number" min="0" name="price" id="price" placeholder="<%= __('page.buy.game.add.placeholder.placeholder3') %>">
                        <span class="focus-input100"></span>
                    </div>
                    <% } if(usePoint=="Y" && country=="KR"){ %>
                    <div class="wrap-input100 col-6 validate-input m-b-12 px-0">
                        <input class="input100 text-white" type="number" min="0" name="point" id="point" placeholder="<%= __('page.buy.game.add.placeholder.placeholder4') %>">
                        <span class="focus-input100"></span>
                    </div>
                    <% } %>
                </div>
                <div class="form-inline">
                    <% if(useBlockchain=="Y"){ %>
                    <div class="mach-account col-6 txt1 p-b-6 alert-text">
                        <%= __('page.buy.game.detail.info2') %>
                    </div>
                    <% } if(usePoint=="Y" && country=="KR"){ %>
                    <div class="col-6 txt1 p-b-6 alert-text">
                        <%= __('page.buy.game.detail.info3') %>
                    </div>
                    <% } %>
                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.buy.game.add.title7') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <textarea class="input100 textarea-custom" id="desc" placeholder="<%= __('page.buy.game.add.placeholder.placeholder5') %>"></textarea>
                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.buy.game.add.title10') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100 text-white" type="text" name="keywords" id="keywords" maxlength="120" placeholder="<%= __('page.buy.game.add.placeholder.placeholder7') %>">
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center container-login100-form-btn mt-4">
                <button class="login100-form-btn" id="btnSubmit" onclick="submit()">
                    <%= __('common.buttons.button3') %>
                </button>
            </div>
        </div>
    </div>
</div>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<!-- Bootstrap-select -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-select.min.css">
<script src="/js/bootstrap/bootstrap-select.min.js"></script>
<script>
    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");

        loadGameList();
        console.log("country : ","<%= country%>");

        $("#price").on("keydown", function(e){
            /* e(지수), .(소수점) -(마이너스) 예외처리 */
            if(e.keyCode == 69 || e.keyCode == 190 || e.keyCode == 189){
                return false;
            }
        });
    });

    function loadGameList() {
        $.ajax({
            method: "GET",
            url: "/v1/games"
        }).done(function (success) {
            let strDOM = '';
            for (let i = 0; i < success.data.length; i++) {
                strDOM += '<option value="' + success.data[i].game_name + '">' + success.data[i].game_name + '</option>'
            }

            $("#game-name").append(strDOM);

            $("#game-name").selectpicker('refresh');

        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });


        })
    }

    function selectServer() {
        let gameName;
        if ($("#game-name option").val() != null) {
            $("#game-server option").remove();
        }
        gameName = $("#game-name option:selected").val();

        if (gameName == "false") {
            return false;
        }
        $.ajax({
            method: "GET",
            url: "/v1/games/" + gameName
        }).done(function (success) {
            renderServerSelect(success);
        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    }

    function renderServerSelect(data) {
        let strDOM = '';

        for (let i = 0; i < data.data.servers.length; i++) {
            strDOM += '<option value="' + data.data.servers[i] + '">' + data.data.servers[i] + '</option>'
        }
        $("#game-server").append(strDOM);
        $("#game-server").selectpicker('refresh');
    }

    function submit(){

        let country = "<%= country %>";
        if ($("#game-name option:selected").val() == "false") {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert1') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#game-server option:selected").val() == "false") {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert2') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#type option:selected").val() == "false") {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert3') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#title").val() == "") {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert4') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#game-character").val() == "") {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert5') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#price").val() == "" || $("#price").val() == "0" || parseInt($("#price").val()) < 0  ) {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert6') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if (country == "KR" && ($("#point").val() == "" || $("#point").val() == "0" || parseInt($("#point").val()) < 0 )) {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert7') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#desc").val() == "") {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert8') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if (country=="CN" && $("#region1").val() == ""){
            swal({
                text: "<%= __('page.buy.game.add.validation.alert9') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#keywords").val() == "") {
            swal({
                text: "<%= __('page.buy.game.add.validation.alert11') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        }
        // else if(country=="CN" && $("#region2").val() == ""){
        //     swal({
        //         text: "<%= __('page.buy.game.add.validation.alert10') %>",
        //         button: "<%= __('common.buttons.button10')%>"
        //     });
        //     return false;
        // }

        let data = {
            "userTag": "<%= userTag %>",
            "type": $("#type option:selected").val(),
            "trade_type": "buy",
            "category": "game",
            "game_name": $("#game-name option:selected").val(),
            "game_server": $("#game-server option:selected").val(),
            "name": "",
            "title": $("#title").val(),
            "desc": $("#desc").val(),
            "count": 1,
            "game_character": $("#game-character").val(),
            "status": 0,
            "item_tag": $("#keywords").val(),
            "clicked": 0
        };
        if ("<%= useBlockchain %>" == "Y") {
            data["price"] = $("#price").val();
        } else {
            data["price"] = 0;
        }

        if ("<%= usePoint %>" == "Y" && country == "KR") {
            data["point"]=$("#point").val();
        }else{
            data["point"]=0;
        }

        if(country=="CN"){
            data["china_region1"]=$("#region1").val();
            //data["china_region2"]=$("#region2").val();
        }

        console.log(data);
        $.ajax({
            method: "POST",
            url: "/v1/items",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            beforeSend: function( xhr ) {
                $("#btnSubmit").attr('disabled', true);
                $("#btnSubmit").text("<%= __('common.buttons.button22') %>");
            }
        }).done(function (success) {
            location.href='/buys'

        }).fail(function (fail) {
            $('#btnSubmit').attr('disabled', false);
            $('#btnSubmit').text("<%= __('common.buttons.button3') %>");

            swal({
                text: "<%= __('common.errorMessage.saveError') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
        })
    }
</script>
</body>
</html>
