#buy-title{
    width:220px;
    display:-webkit-inline-flex;
}
#list-container{
    min-height:745px;
}
#hasNoItem{
    min-height:600px;
    padding-top:100px;
}
@media (max-width:414px){
    #list-container{
        min-height:500px;
    }
    #hasNoItem{
        min-height:400px;
        padding-top:50px;
    }
}
@media (min-width: 768px) {
    #buy-game-select {
        width: 200px
    }
}
