body {
    height: 0%;
}
.myTokens-container{
    border: solid 1px #373785;
    background-color: rgba(13, 9, 67, 0.8);
}
.custom-select{
    width:100%;
    height:55px;
}
.mach-account{
    margin-right:4%;
}
.limiter{
    margin-top:10%;
}
.hero-search-form .nav-tabs .nav-link{
    font-size:0.8em;
    min-width: 150px;
}
.hero-search-form .nav-tabs .nav-link.active{
    border: solid 1px #2d307b;
    background-color: rgba(13, 9, 67, 0.8);
}
.hero-search-form .tab-content .tab-pane{
    border: solid 1px #373785;
    background-color: rgba(13, 9, 67, 0.8);
    min-height:447px;
}
.single-feature-events-area:hover{
    border:solid 1px #373785;
    background-color: #1f1f65;
}
.text-overflow{
    word-break:break-all;
}
.card-panel-item-cost{
    text-align: center;
}

@media (min-width: 320px) and (max-width: 374px) {
    .limiter{
        margin-top:45%;
    }
    .card-panel{
        padding:5px;
    }
    .text-overflow{
        word-break:break-all;
        font-size:0.5em;
        padding:3px;
    }
    .hero-search-form{
        padding:5px;
        margin-top:15%;
    }
    .panel-detail{
        padding: 3px !important;
    }
    .card-panel-item-cost{
        text-align: center;
    }

    /* custom bootstrap*/
    .hero-search-form .nav-tabs .nav-link{
        min-width: 100px;
    }
    .hero-search-form .tab-content .tab-pane{
        padding:5px;
    }

    .col-8{
        max-width:100%;
    }
    .offset-2{
        margin-left:0;
    }
    .col-10{
        flex:0;
        max-width: 100%;
    }
    .offset-1{
        margin-left:0;
    }
    .hero-search-form .tab-content .tab-pane{
        min-height:247px
    }
}

@media (min-width: 375px) and (max-width: 410px) {
    .limiter{
        margin-top:45%;
    }
    .card-panel{
        padding:5px;
    }
    .text-overflow{
        word-break:break-all;
        font-size:0.5em;
        padding:3px;
    }
    .hero-search-form{
        padding:5px;
        margin-top:15%;
    }
    .panel-detail{
        padding: 3px !important;
    }
    .card-panel-item-cost{
        text-align: center;
    }

    /* custom bootstrap*/
    .hero-search-form .nav-tabs .nav-link{
        min-width: 100px;
    }
    .hero-search-form .tab-content .tab-pane{
        padding:5px;
    }

    .col-8{
        max-width:100%;
    }
    .offset-2{
        margin-left:0;
    }
    .col-10{
        flex:0;
        max-width: 100%;
    }
    .offset-1{
        margin-left:0;
    }
    .hero-search-form .tab-content .tab-pane{
        min-height:247px
    }
}

@media (min-width: 411px) and (max-width: 767px) {
    .limiter{
        margin-top:45%;
    }
    .card-panel{
        padding:5px;
    }
    .text-overflow{
        word-break:break-all;
        font-size:0.5em;
        padding:3px;
    }
    .hero-search-form{
        padding:5px;
        margin-top:15%;
    }
    .panel-detail{
        padding: 3px !important;
    }
    .card-panel-item-cost{
        text-align: center;
    }

    /* custom bootstrap*/
    .hero-search-form .nav-tabs .nav-link{
        min-width: 100px;
    }
    .hero-search-form .tab-content .tab-pane{
        padding:5px;
    }

    .col-8{
        max-width:100%;
    }
    .offset-2{
        margin-left:0;
    }
    .col-10{
        flex:0;
        max-width: 100%;
    }
    .offset-1{
        margin-left:0;
    }
    .hero-search-form .tab-content .tab-pane{
        min-height:247px
    }

}

@media(max-height:1034px)and (min-width:768px){
    .limiter{
        margin-top:20%;
    }
    /* custom bootstrap*/
    .hero-search-form .nav-tabs .nav-link{
        min-width: 100px;
    }
    .hero-search-form .tab-content .tab-pane{
        padding:10px;
    }
}

@media (min-width:768px) and (max-width:1300px) {
    .limiter{
        margin-top:20%;
    }
}
@media (min-width:1301px){
    .limiter{
        margin-top:15%;
        margin-bottom:10%;
    }
}
