<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/login/emailAuth.css" rel="stylesheet">
</head>

<body class="background3">
<header class="header_area" id="header">
</header>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <div class="d-flex justify-content-center text-white align-center mb-3">
                <%= __('page.emailAuth.title') %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 offset-lg-3 offset-md-3 offset-sm-2 validate-input m-b-12 mb-3">
                <input class="input100 text-white align-center" type="text" name="emailAuth" minlength="0" maxlength="6">
                <span class="focus-input100"></span>
            </div>
            <div class="d-flex justify-content-center container-login100-form-btn">
                <button class="login100-form-btn" onclick="emailAuth()">
                    <%= __('common.buttons.button10') %>
                </button>
            </div>
        </div>
    </div>
</div>
<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script src="/alert/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
    });


    function emailAuth(){
        let code=$("input[name=emailAuth]").val();

        let data={
            "userId": '<%= userId %>',
            "mail_auth_code":code
        };

        $.ajax({
            method:"PUT",
            url:'/v1/notifications/email/auth',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data)
        }).done(function(success){
            swal({
                text: "<%= __('page.emailAuth.alert1') %>",
                button: "<%= __('common.buttons.button10') %>"
            }).then((value => {
                location.href='/';
            }));
        }).fail(function (fail) {
            swal({
                text: "<%= __('page.emailAuth.alert2') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    }
</script>
</body>
</html>
