<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/login/findId.css" rel="stylesheet">
</head>

<body class="background3">

<header class="header_area" id="header">
</header>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <!--<form class="login100-form validate-form flex-sb flex-w">-->
					<span class="login100-form-title p-b-32 text-white">
						<i class="fa fa-user"></i>&nbsp;&nbsp;<%= __('page.findId.bigTitle')%>
					</span>

                <span class="txt1 p-b-11 text-white">
						<%= __('page.findId.title1')%>
					</span>
                <div class="wrap-input100 validate-input m-b-36" data-validate="E-MAIL is required">
                    <input class="input100" type="text" name="e-mail" onkeyup="enterkey()">
                    <span class="focus-input100"></span>
                </div>

                <div class="d-flex justify-content-center container-login100-form-btn">
                    <button class="login100-form-btn" onclick="findId()">
                        <%= __('common.buttons.button10')%>
                    </button>
                </div>
            <!--</form>-->
        </div>
    </div>
</div>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script>
    $(document).ready(function(){
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
    });

    function findId() {
        let email = $("[name=e-mail]").val();

        if(email == "") {
            alert("<%= __('page.findId.alert1') %>");
            return;
        }

        $.ajax({
            method: "GET",
            url: "/v1/notifications/email/findId/" + email
        }).done(function (success) {
            swal("<%= __('page.findId.alert2') %>",{
                button: "<%= __('common.buttons.button10') %>"
            }).then((value)=>{
                location.href='/login';
            });
        }).fail(function (fail) {
            if (fail.status == 403) {
                swal({
                    text: "<%= __('page.findId.alert3') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            } else {
                swal({
                    text: "<%= __('page.findId.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            }

        })
    }

    function enterkey(){
        if(window.event.keyCode==13){
            findId();
        }
    }
</script>
</body>
</html>
