<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/login/registerSuccess.css" rel="stylesheet">
</head>

<body class="background3">
<header class="header_area" id="header">
</header>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <div class="d-flex justify-content-center text-white align-center my-5">
                <%= __('page.registerSuccess.title1') %>
                <br><br><%= __('page.registerSuccess.title2') %><br><%= __('page.registerSuccess.title3') %>
                <br><br><%= __('page.registerSuccess.title4') %>
            </div>

                <div class="d-flex justify-content-center container-login100-form-btn">
                    <button class="login100-form-btn" onclick="location.href='/emailAuth'">
                        <%= __('common.buttons.button31') %>
                    </button>
                </div>
        </div>
    </div>
</div>
<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script>
    $(document).ready(function(){
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
    })
</script>
</body>
</html>
