<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li><a href="/agreements/use">이용약관</a></li>
                    <li><a href="/agreements/private">개인정보 취급방침</a></li>
                    <li><a href="/agreements/teenager">청소년 보호정책</a></li>
                    <li class="on"><a href="/agreements/marketing">마케팅 활용/수신동의</a></li>
                </ul>
            </div>
            <section class="howto_sec">
                <h1 class="tit_howto">마케팅 활용/수신동의</h1>
                <div class="legal_txt_wrap">
                    <textarea class="textarea_legal" rows="30" readonly="readonly">
                            "마하 거래소(이하, '서비스'라 합니다.)"의 서비스 제공 및 이용과 관련하여 (주)한국인증서비스(이하, '회사'라 합니다)가 취득한 개인정보는 "통신비밀보호법", "전기통신사업법" 및 "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보 보호 규정을 준수합니다.

                            1. 개인정보 제3자 제공 동의
                            본 서비스와 관련하여, 본인은 동의 내용을 숙지하였으며, 이에 따라 회사가 수집한 본인의 개인정보를 아래와 같이 제3자에게 제공하는 것에 대해 동의합니다.
                            
                            제공받는 자	- KT엠하우스
                            제공 목적 - 휴대폰 번호
                            제공 항목	
                            마케팅 광고에 활용
                            1) "마하 거래소" 개발 및 개선, "마하 거래소" 관련 문의 등에 대한 개인 맞춤 상담 · 정보 제공
                            2) 신규 서비스나 이벤트, 제3자의 상품 또는 "마하 거래소" 관련 개인 맞춤형 광고·정보 전송	
                            
                            보유 및 이용기간
                            - 별도 동의 철회 시까지
                            - 단, 관련 법령의 규정에 따라 보존할 필요가 있을 경우, 해당 기간까지 보존함
                            
                            ※ 본 동의는 "마하 거래소"의 선택적 기능 제공을 위한 개인정보 수집/이용에 대한 동의로서, 동의하지 않더라도 "마하 거래소" 이용이 가능합니다.
                            ※ 법령에 따른 개인정보의 수집/이용, 계약의 이행/편의 증진을 위한 개인정보 처리위탁 및 개인정보 처리와 관련된 일반 사항은 "마하 거래소"의 개인정보처리방침에 따릅니다.
                            
                            1. "마하 거래소"에서는 고객이 수집 및 이용에 동의한 개인정보를 활용하여, 전자적 전송 매체(SMS/MMS/e-mail/App Push. 등 다양한 전송 매체)를 통하여, 회사 및 제3자의 상품 또는 서비스에 대한 개인 맞춤형 광고 정보를 전송할 수 있습니다.
                            2. 고객이 본 수신 동의를 철회하고자 할 경우 고객센터를 통하여 수신 동의 철회 요청을 할 수 있습니다.
                    </textarea>
                </div>
            </section>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>