<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li><a href="/agreements/use">이용약관</a></li>
                    <li class="on"><a href="/agreements/private">개인정보 취급방침</a></li>
                    <li><a href="/agreements/teenager">청소년 보호정책</a></li>
                    <li><a href="/agreements/marketing">마케팅 활용/수신동의</a></li>
                </ul>
            </div>
            <section class="howto_sec">
                <h1 class="tit_howto">개인정보 취급방침</h1>
                <div class="legal_txt_wrap">
                    <textarea class="textarea_legal" rows="30" readonly="readonly">
                        1. 개인정보 수집항목 
                        회원님께서는 회원가입을 통하여 더욱 다양한, 회사가 제공하는 서비스를 이용 하실 수 있습니다. 
                        회사는 회원님의 개인정보를 수집하는 경우 반드시 사전에 회원님께 해당 내용을 알린 후 동의를 받아 수집하도록 하겠습니다. 
                        회사는 회원님의 개인정보 수집을 위하여 아래의 사항을 준수하고 있습니다. 
                        ㄱ. 회원님께 서비스를 제공함에 있어서 최소한의 개인정보만을 수집합니다. 
                        ① 수집 항목 : 이메일, 계좌번호 
                        
                        ㄴ. 민감한 개인정보를 수집하지 않습니다. 
                        ① 인종, 사상, 신조, 건강상태 등 회원님의 기본적 인권 침해의 우려가 있는 개인정보는 수집하지 않습니다. 
                        ② 단, 법령에 근거하여 부득이하게 수집해야 하는 경우 회원님께 해당 사실을 안내하고, 사전 동의를 구하겠습니다. 
                        
                        ㄷ. 회사는 회원님들에게 동의를 받아 아래와 같은 방법으로 개인정보를 수집합니다. 
                        ① 홈페이지, 서면양식, 팩스, 전화, 고객센터 상담, 이메일, 이벤트응모, 배송요청 
                        ② 협력회사로부터의 제공 
                        ③ 생성정보 수집 툴을 통한 수집 
                        
                        2. 개인정보 이용목적 
                        회사는 회원님의 개인정보를 다음과 같은 목적으로만 이용하며, 회원님들께 사전에 밝힌 목적 이외에 다른 목적으로 사용하지 않습니다. 
                        ㄱ. 회원 서비스 제공 : 본인 인증, 개인 식별, 본인 의사 확인, 가입 여부 확인, 재가입 제한, 문의사항 및 분쟁 조정기록, 회원 탈퇴 여부 확인, 공지사항 전달, 불량 이용자 이용 제한 조치 
                        ㄴ. 중개서비스 제공에 의한 계약 이행 : 물품 결제 및 포인트 출금, 경품 등의 배송 
                        ㄷ. 신규 서비스 개발 및 마케팅·광고에의 활용 : 신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속 빈도 파악, 회원의 서비스이용에 대한 통계 
                        
                        회원님께서 확인하시는 시점을 기준으로 최신화 된 개인정보 수집항목을 제공하겠습니다. 
                        
                        또한 회사가 수집한 회원님의 개인정보는 수집 목적 및 제공 받은 목적이 달성될 때까지만 보유하고 있으며, 회원님께서 탈퇴를 요청하시거나 동의를 철회하는 경우 즉시 파기하겠습니다. 다만, 관계 법령에 의해 보관해야 하는 정보는 법령이 정한 바에 따라 보관합니다. (회원님의 개인정보는 앱을 삭제하여도 회사가 개인정보를 보유하고 있습니다. 개인정보 파기를 위해서는 회원탈퇴 또는 고객센터로 문의가 필요합니다.) 
                        
                        3. 개인정보 제공/위탁 
                        개인정보 제공 
                        회사는 회원님께 원활하고, 향상된 서비스를 제공하기 위하여 회원님의 개인정보를 제3자에게 제공하고 있습니다. 서비스 제공 및 거래 안전 등의 목적으로 최소한의 개인정보만을 제공하며, 개인정보를 제3자에게 제공하는 경우 반드시 사전에 회원님에 해당 사실을 알리고 동의를 받도록 하겠습니다. 
                        
                        다만 아래와 같은 경우는 예외로 하고 있습니다. 
                        ㄱ. 관계 법령에 의하여 행정목적 또는 수사상의 목적으로 관계 기관으로부터의 요구가 있을 경우 
                        ㄴ. 통계 작성, 학술 연구나 시장 조사를 위하여 특정 개인을 식별할 수 없는 비식별화 형태로 광고주, 협력사나, 연구 단체 등에 제공하는 경우 
                        ㄷ. 기타 관계 법령에서 정한 절차에 따른 요청이 있는 경우 
                        ㄹ. 회사가 제공하는 서비스를 통해 거래가 성사되어 거래 안전을 위해 쌍방 당사자에게 거래 관련 정보를 필요 범위 내에서 제공하는 경우 
                        서비스별 개인정보 제공 내역 보기 이벤트별 개인정보 제공 내역 보기 
                        
                        개인정보 위탁 
                        회사는 회원님께 원활하고, 향상된 서비스를 제공하기 위하여 필요한 업무 중의 일부를 외부 업체가 수행할 수 있도록 필요 최소한의 개인정보 처리를 위탁하고 있습니다. 
                        외부 업체가 회원님의 개인정보를 위탁하는 동안 회원님의 개인정보가 안전하게 관리 될 수 있도록 필요한 조치 및 관계 법령을 위반하지 않도록 관리, 감독 및 교육하고 있습니다. 
                        회원님께서 확인하시는 시점을 기준으로 최신화 된 개인정보 위탁 업무 및 위탁 받은 업체 정보는 다음과 같습니다. 
                        - 위탁업체 : (주)다날 
                        - 위탁업무 내용 : 해피머니 상품권, 휴대폰 결제 
                        
                        4. 개인정보 파기 
                        개인정보 파기 
                        회원님의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 
                        다만 관계 법령에 의해 보관해야 하는 정보는 법령에 의합니다. 
                        이때 별도 저장 관리 되는 개인정보는 법령에 의하지 않고는 이용되지 않습니다. 
                        파기 절차 및 방법은 아래와 같습니다. 
                        
                        파기절차 
                        - 이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져 (종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보 보호 사유에 따라 (보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 
                        - 동 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다. 
                        
                        파기방법 
                        - 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다. 
                        - 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 
                        
                        5. 기타사항 
                        쿠키 수집 안내 
                        쿠키란 웹사이트를 운영하는데 이용되는 서버가 회원님의 컴퓨터 브라우저로 보내는 소량의 정보로,회원님 컴퓨터에 저장됩니다. 
                        회사는 회원님의 편의 및 맞춤서비스를 위하여 쿠키를 운영하며, 회원님의 아이디에 한하여 정보를 수집합니다. 
                        회원님께서는 쿠키 수집에 대한 권리를 가지고 있으시며, 쿠키 수집을 거부하고 싶으시면 아래와 같이 설정하시면 됩니다. 
                        
                        1) Internet Explorer의 경우 
                        - 웹 브라우저 상단의 “도구” 메뉴 > “인터넷 옵션” 메뉴 > “개인정보” 탭 > 직접 설정 
                        
                        2) Chrome의 경우 
                        - 웹 브라우저 우측 상단의 아이콘 “ 크롬 메뉴 ” 선택 > “설정”선택 > 화면 하단의 “고급 설정 표시” 선택 > 개인정보 섹션의 “콘텐츠 설정” 버튼 > 쿠키 섹션에서 직접 설정 
                        
                        다만 쿠키 수집 거부 시 서비스 제공에 대해 일부 어려움이 있을 수 있습니다. 
                        
                        회원님의 개인정보 보호를 위한 회사의 노력 
                        회사는 회원님의 소중한 개인정보를 보호하기 위하여 아래와 같은 노력을 하고 있습니다. 
                        ㄱ. 회원님의 개인정보가 해킹이나 바이러스에 의해 유출되거나 훼손되는 것을 막고 있습니다.
                        ㄴ. 회원님의 개인정보 훼손을 막기 위해 백업, 백신프로그램, 침입차단프로그램 등 기술적 조치를 다하고 있습니다. 
                        ㄷ. 회원님의 개인정보 접근권한을 최소한으로 운영하고 있으며, 임직원을 대상으로 보안 기술 습득 및 개인정보 보호 의무 등에 대하여 정기교육을 실시하고 있습니다. 
                        
                        개인정보 보호를 위한 의견 수렴 
                        회사는 회원님의 의견을 소중하게 생각하며, 회원님은 개인정보 관련 의문사항에 대하여 담당부서로 문의할 수 있습니다. 
                        
                        고객센터 
                        전화번호 1588-0626 
                        팩스번호 02-855-0261 
                        주소 서울시 구로구 디지털로 30번길 28, 마리오타워 1213호 한국인증서비스(주) 
                        이메일 io@onlykcs.com, io@mymach.io 
                        근무시간 1년 365일 24시간 
                        
                        그외 개인정보에 관한 상담이 필요한 경우에는 개인정보침해신고센터, 대걸참청 사이버수사과, 경찰청 사이버안전국 등으로 문의하실 수 있습니다. 
                        ◈ 개인정보침해신고센터 (http://privacy.kisa.or.kr / 국번 없이 118) 
                        ◈ 대검찰청 사이버수사과 (http://www.spo.go.kr / 02-3480-3570) 
                        ◈ 경찰청 사이버안전국 (http://cyberbureau.police.go.kr/index.do/ 국번없이 182) 
                        
                        개인정보 보호 책임자 개인정보 보호 담당자 
                        소속:정책담당 
                        직위:대표이사 
                        성명:최세준 
                        전화번호:1588-0626 
                        팩스번호:02-855-0261 
                        이메일:io@mymach.io 
                        
                        소속:정책담당 
                        직위:정보보호관리자 
                        성명:최세준 
                        전화번호:1588-0626 
                        팩스번호:02-855-0261 
                        이메일:io@onlykcs.com 
                        
                        부가 방침 
                        현 개인정보처리방침은 내용의 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 온라인 홈페이지의 "공지사항"란을 통해 공지할 것입니다. 다만, 개인정보의 수집, 제3자 제공 등 회원의 권리에 중대한 변경이 있는 경우에는 최소 30일 이상의 사전 유예기간을 두고 공지합니다. 
                        
                        7.부칙 
                        이 약관은 2019년 1월 14일 적용됩니다. 
                        - 개인정보처리방침 시행일자 : 2018년 1월 14일
                    </textarea>
                </div>
            </section>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>