<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li class="on"><a href="/agreements/use">이용약관</a></li>
                    <li><a href="/agreements/private">개인정보 취급방침</a></li>
                    <li><a href="/agreements/teenager">청소년 보호정책</a></li>
                    <li><a href="/agreements/marketing">마케팅 활용/수신동의</a></li>
                </ul>
            </div>
            <section class="howto_sec">
                <h1 class="tit_howto">이용약관</h1>
                <div class="legal_txt_wrap">
                    <textarea class="textarea_legal" rows="30" readonly="readonly">
                    제 1 장 총칙

                    제 1 조 (목적)
                    
                    이 약관은 주식회사 MACH 거래소(이하 “회사”라고 합니다.)가 마하 거래소(http://www.mymach.asia)를 통하여 제공하는 중개서비스 및 기타 정보서비스(이하 “서비스”라고 합니다.)와 관련하여 회사와 회원간의 권리와 의무, 책임사항 및 회원의 서비스 이용절차에 관한 사항을 규정하는 것을 목적으로 합니다.
                    
                    제 2 조 (약관의 명시, 효력 및 변경)
                    
                    ① 회사는 이 약관을 서비스를 이용하고자 하는 자와 회원이 알 수 있도록 서비스가 제공되는 마하 거래소(http://www.mymach.asia) 화면에 게시합니다.
                    
                    ② 회사가 이 약관을 개정하는 경우에는 개정된 약관의 적용일자 및 개정사유를 명시하여 그 적용일자 7일 이전부터 적용일자 전일까지 위 1항의 방법으로 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 회사는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
                    
                    ③ 이 약관은 회사와 회원간에 성립되는 서비스이용계약의 기본약정입니다. 회사는 필요한 경우 특정 서비스에 관하여 적용될 사항(이하 “운영정책”이라고 합니다.)을 정하여 미리 공지할 수 있습니다. 회원이 이러한 운영정책에 동의하고 특정 서비스를 이용하는 경우에는 운영정책이 우선적으로 적용되고, 이 약관은 보충적인 효력을 갖습니다. 운영정책의 변경에 관해서는 위 2항을 준용합니다.
                    
                    제 3 조 (관련법령과의 관계)
                    
                    ① 이 약관 또는 운영정책에서 정하지 않은 사항은 ‘전기통신사업법’, ‘전자거래기본법’, ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’, ‘전자상거래 등에서의 소비자보호에 관한 법률’, ‘부가가치세법’, ‘상법’ 등 관련법령의 규정과 일반적인 상관례에 의합니다.
                    
                    ② 회원은 회사가 제공하는 서비스를 이용함에 있어서 ‘전자상거래 등에서의 소비자보호에 관한 법률’, ‘전자거래기본법’, ‘소비자보호법’, ‘표시·광고의 공정화에 관한 법률’, ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ 등 관련법령을 준수하여야 하며, 이 약관의 규정을 들어 관련법령 위반에 대한 면책을 주장할 수 없습니다.
                    
                    제 4 조 (서비스의 종류)
                    
                    회사가 회원에게 제공하는 서비스는 다음과 같습니다.
                    
                    1. 중개서비스
                    회사가 마하 거래소(http://www.mymach.asia)를 통하여 회원 상호간에 물품매매거래가 이루어질 수 있는 사이버 거래장소를 온라인으로 제공 하는 서비스 및 관련 부가서비스 일체를 말합니다.
                    
                    2. 기타 정보서비스
                    중개서비스 이외에 회사가 마하 거래소(http://www.mymach.asia)를 통하여 회원에게 온라인으로 제공하는 정보서비스 등의 인터넷서비스를 말합니다.
                    
                    제 5 조 (용어의 정의) 
                    이 약관에서 사용하는 용어의 정의는 다음과 같습니다. 
                    ① 회원 : 이 약관을 승인하고 회원가입을 하여 회사와 서비스이용계약을 체결한 자를 말합니다. 
                    ② 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 회사가 승인한 문자와 숫자의 조합대로 설정한 것을 말합니다. 
                    ③ 홈페이지 : 회원이 회사의 서비스를 이용하게 하기 위하여 회사가 제공하는 웹사이트를 말합니다. 
                    ④ 비밀번호 : 회원의 동일성 확인과 회원정보의 보호를 위하여 회원이 회사가 승인한 문자와 숫자의 조합대로 설정한 것을 말합니다. 
                    ⑤ 판매자 : 물품을 판매할 의사로 해당 물품을 회사가 온라인으로 제공하는 양식에 맞추어 등록하거나 신청한 회원을 말합니다. 
                    ⑥ 구매자 : 물품을 구매할 의사로 해당 물품을 회사가 온라인으로 제공하는 양식에 맞추어 등록하거나 신청한 회원을 말합니다. 
                    ⑦ VTR거래 : 물품을 전달하는 과정에서 회사의 참여 없이 판매자와 구매자가 AI챗봇 기반으로 상호 거래하는 것을 말합니다. 
                    
                    제 6 조 (서비스의 성질과 목적) 
                    중개서비스는 회사가 회원 각자의 자기결정에 의하여 회원 상호간에 물품매매거래가 이루어질 수 있도록 사이버 거래장소(marketplace)를 온라인으로 제공하는 것입니다. 회사는 회원에게 물품을 판매하거나 회원으로부터 물품을 구매하지 않으며, 단지 회원간 거래의 안전성 및 신뢰성을 증진시키는 도구만을 제공합니다. 회원간에 성립된 거래와 관련된 책임은 거래당사자인 회원들 스스로가 부담하여야 합니다. 
                    
                    제 2 장 서비스 이용계약 
                    
                    제 7 조 (서비스 이용계약)
                    ① 회사가 제공하는 서비스에 관한 이용계약(이하 “이용계약”이라고 합니다.)은 서비스를 이용하고자 하는 자가 회사가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 하면, 회사는 이를 이용신청으로 보고, 승낙함으로써 성립합니다.
                    ② 아이디(ID)는 실명 1인당 1개의 아이디만을 사용할 수 있으며, 이용계약은 아이디(ID) 단위로 체결하는 것을 원칙으로 합니다.
                    ③ 서비스를 이용하고자 하는 자는 제1항의 이용신청 시 반드시 본인의 실제 정보를 기재하여야 합니다. 그러지 아니한 경우 회원은 법적인 보호를 받을 수 없으며, 이에 따른 민사, 형사상의 모든 책임은 가입한 회원에게 있습니다. 또한 이용약관 제9조에 따라 서비스 이용에 제한이 있을 수 있습니다.
                    ④ 회사는 회원에게 회사의 중개서비스 및 관련서비스에 대한 다양하고 유익한 정보를 E-mail, 서신우편, 전화 등을 통하여 제공할 수 있습니다.
                    
                    제 8 조 (이용신청 및 거부)
                    ① 회사는 이용신청자가 회사가 정한 가입양식을 정확하게 기재하고 이 약관에 동의한 경우에는 이 약관에 규정된 확인절차를 거쳐 서비스의 이용을 승낙하는 것을 원칙으로 합니다.
                    ② 회사는 다음과 같은 사유가 있는 경우, 이용신청에 대한 탈퇴 처리가 가능합니다.
                    1. 이메일 인증을 일정 기간 이상 인증하지 않은 경우
                    2. 이미 가입된 회원의 이메일이 동일한 경우
                    3. 이 약관 제9조에 기하여 회사가 이용계약을 해지한 전(前)회원이 재이용신청을 하는 경우
                    4. 이 약관 제9조에 기하여 회사로부터 회원자격정지조치를 받은 회원이 이용정지 중에 이용계약을 임의 해지하고 재이용신청을 하는 경우
                    5. 가입 신청 시 기재하여야 할 필수기재항목에 허위사실을 기재한 경우
                    6. 기타 위법 또는 부당한 이용신청임이 확인된 경우
                    
                    제 9 조 (이용계약의 종료)
                    ① 회원은 이 약관에서 정한 절차에 따라 이용계약을 해지할 수 있습니다.
                    ② 회원의 해지
                    1. 회원은 언제든지 회사에게 해지의사를 통지함으로써 이용계약을 해지할 수 있습니다. 다만, 회원은 해지의사를 통지하기 전에 모든 구매 또는 판매중인 매매절차를 완료, 철회 또는 취소해야만 해지의 의사표시를 할 수 있습니다. 이 경우 매매의 철회 또는 취소로 인한 불이익은 회원 본인이 부담하여야 합니다.
                    2. 이용계약은 회원의 해지의사가 회사에 도달한 때에 종료됩니다.
                    3. 본 항에 따라 해지를 한 회원은 이 약관이 정하는 회원가입절차와 관련조항에 따라 회원으로 다시 가입할 수 있습니다.
                    ③ 회사의 해지
                    1. 회사는 다음과 같은 사유가 있는 경우, 이용계약을 해지할 수 있습니다. 이 경우 회사는 회원에게 E-mail, 전화, 팩스, 기타의 방법을 통하여 해지사유를 밝혀 해지의사를 통지합니다. 다만, 회사는 해당 회원에게 사전에 해지사유에 대한 의견진술의 기회를 부여할 수 있습니다.
                    가) 회원에게 제7조 4항에서 정하고 있는 이용계약의 승낙거부사유가 있음이 확인된 경우
                    나) 회원이 매매부적합물품을 판매등록 하거나, 기타 공공질서 및 미풍양속에 위배되는 물품거래행위를 하거나 시도한 경우
                    다) 회원이 회사나 다른 회원, 기타 타인의 권리나 명예, 신용, 기타 정당한 이익을 침해하는 행위를 한 경우
                    라) 회원이 직거래 등 회사가 제공하는 서비스의 원활한 진행을 방해하는 행위를 하거나 시도한 경우
                    마) 회원이 실제로 물품을 판매하고자 하는 의사 없이 물품등록을 한 경우 또는 이를 알고 낙찰 받은 것으로 인정되는 경우
                    바) 물품사기 등 범죄를 유발 한다고 회사가 판단하는 행위
                    사) 타인의 결제수단(신용카드 / 휴대폰 번호 / 암화화페 지갑주소)를 도용한 경우
                    아) 타인의 ID를 도용한 경우
                    자) 본 약관의 내용을 위반하는 행위
                    차) 게임산업진흥에관한법률 시행령 제18조의3 제3호의 각 목에 해당하는 물품을 판매하여 게임산업진흥에관한법률 제32조 제7항을 위반한 경우
                    2. 이용계약은 회사의 해지의사가 회원에게 도달한 때에 종료되나, 회원이 제공한 연락처 정보의 오류로 인하여 회사가 해지의사를 통지할 수 없는 경우에는 회사가 마하 거래소에 해지의사를 공지하는 때에 종료됩니다.
                    3. 회사가 이용계약을 해지하는 경우, 회사는 별도의 통지 없이 해당 회원과 관련된 매매를 취소할 수 있습니다.
                    4. 이용계약이 종료되는 경우, 회사는 해당 회원의 포인트를 정산합니다. 정산 후, 포인트가 잔존하는 경우 회사는 해당회원의 요청이 있은 후 7일 이내에 해당회원의 입금계좌로 그 금액을 송금합니다.
                    5. 이용계약의 종료와 관련하여 발생한 손해는 이용계약이 종료된 해당 회원이 책임을 부담하여야 하고, 회사는 일체의 책임을 지지 않습니다.
                    
                    제 3 장 회원정보의 보호
                    
                    제 10 조 (회사의 의무)
                    ① 회사는 이용계약을 위하여 회원이 제공한 정보 외에도 수집목적 또는 이용목적을 밝혀 회원으로부터 필요한 정보를 수집할 수 있습니다. 이 경우, 회사는 회원으로부터 정보수집에 대한 동의를 받습니다.
                    ② 회사가 정보수집을 위하여 회원의 동의를 받는 경우, 회사는 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공관련사항(제공 받는 자, 제공목적, 제공정보의 내용)을 미리 명시하거나 고지합니다. 회원은 정보제공에 동의 하더라도 언제든지 그 동의를 철회할 수 있습니다.
                    ③ 회사는 회원의 원활한 상담 및 본인확인 등을 위하여 회원으로부터 개인정보를 제공받을 수 있으며, 회원이 이를 거부할 경우 회사의 상담에 일부 제약이 있을 수 있습니다.
                    ④ 회사는 회원 자신의 정보 열람 및 잘못된 정보에 대한 정정요청에 성실히 응하여야 합니다. 또한 회사는 회원으로부터 정보 정정의 요청이 있는 경우 그 오류가 시정될 때까지 당해 정보를 이용하지 않습니다.
                    ⑤ 회사는 아이디(ID) 등 서비스화면을 통하여 공개되는 정보를 제외하고는 회사가 수집한 회원정보를 정보수집 시에 밝힌 수집목적, 이용목적, 원활한 서비스의 제공 및 제공서비스의 확대 외의 용도로 사용하거나 당해 회원의 동의 없이 제3자에게 제공하지 않습니다. 다만, 다음의 경우는 예외로 하며, 이 경우 회사는 동 정보를 열람할 수 있는 방법을 회원에게 제공합니다.
                    1. 법령이 회원정보의 이용과 제3자에 대한 정보제공을 허용하고 있는 경우
                    2. 통신비밀보호법, 부가가치세법 등 국가기관의 법령에 의한 자료 제공 요청이 있는 경우
                    ⑥ 회사는 회원정보의 보호를 위하여 관리자를 최소한으로 한정하며, 회사의 고의 또는 과실로 인하여 회원정보가 분실, 도난, 유출, 위조, 변조 또는 훼손된 경우에는 그로 인한 회원의 손해에 대하여 모든 책임을 부담합니다.
                    ⑦ 이용계약이 종료된 경우, 회사는 당해 회원의 정보를 파기하는 것을 원칙으로 합니다. 다만, 관계 법령 및 운영방침에 의한 경우에는 그에 따라 보관 및 파기합니다. 자세한 내용은 개인정보처리방침에 따릅니다.
                    ⑧ 회사는 회원정보의 보호와 관리에 관한 개인정보처리방침을 회원과 회사의 서비스를 이용하고자 하는 자가 알 수 있도록 마하 거래소 (http://www.mymach.asia)에 공개합니다.
                    
                    제 11 조 (회원의 의무)
                    ① 회원은 회사에게 정보를 제공하고자 하는 경우 사실대로 제공하여야 합니다.
                    ② 회원은 이용신청 시 기재한 사항이 변경 되었을 경우, 즉시 해당 사항을 수정해야 합니다. 단, 아이디(ID) 및 성명은 수정할 수 없음을 원칙으로 합니다. 만약 회원 정보가 변경 되었음에도 이를 반영하지 않거나, 오기입으로써 발생하는 모든 피해는 회원이 부담해야 합니다.
                    ③ 아이디(ID) 및 비밀번호(본인인증서비스를 통한 각종 인증번호 포함, 이하 "비밀번호"라고 합니다.)에 대한 관리책임은 회원에게 있으며, 회원은 아이디(ID) 및 비밀번호를 타인에게 양도, 대여할 수 없습니다.
                    ④ 회원이 아이디(ID) 또는 비밀번호를 도난 당하거나 제3자가 이를 사용하고 있음을 인지한 경우, 즉시 회사에게 통보하여야 하고, 회사의 안내가 있는 경우에는 그에 따라야 합니다.
                    ⑤ 회원은 회사의 이용약관 및 운영방침, 공지사항을 수시로 확인해야 하며, 확인하지 못하여 발생한 피해는 회사가 부담하지 않습니다.
                    
                    제 4 장 서비스의 이용
                    
                    제 12 조 (중개서비스의 종류 및 이용)
                    ① 회사가 제공하는 중개서비스는 VTR 거래, 암화화폐 거래 등이 있습니다.
                    ② 회사는 중개서비스의 종류에 따라 각 매매의 특성, 매매절차 및 매매방법에 대한 사항을 서비스화면을 통하여 공지합니다. 회원은 회사가 공지한 각 매매에 관한 사항을 사전에 충분히 이해하고 중개서비스를 이용하여야 합니다.
                    ③ 회원은 아이디(ID)와 비밀번호를 통하여 회사가 제공하는 중개서비스에 접속할 수 있고, 동 중개서비스를 이용하여 물품을 판매하거나 구매할 수 있습니다.
                    ④ 회원이 중개서비스를 통하여 판매 또는 구매하는 경우, 반드시 회사가 마련한 매매보호 서비스를 통하여 거래를 완료하여야 합니다. 회사는 회원간의 직거래로 인하여 발생한 문제에 대하여 책임지지 않습니다.
                    
                    제 13 조 (서비스 내용의 공지 및 변경)
                    ① 위 제12조 각 항의 서비스 이용에 관해 필요한 사항은 회사가 정하여 서비스 화면의 공지사항 및 이용안내 게시판 또는 별도의 내용으로 공지합니다.
                    ② 회사는 서비스 내용이 변경되는 경우, 변경일 7일 이전에 공지하는 것으로 합니다. 다만, 급박한 사정이 있는 경우에는 그 사정을 공시하고 서비스 내용을 변경할 수 있습니다. 회원이 공지 내용을 조회하지 않아 입은 손해에 대하여는 배상하지 않습니다.
                    
                    제 14 조 (부가서비스)
                    ① 회사가 제공하는 중개서비스 이외의 추가제공서비스로 자체적인 서비스 개발 및 타사와의 업무제휴를 통해 회원들에게 신규 도입, 제공되는 서비스를 말합니다.
                    
                    제 15 조 (서비스의 유지 및 중지)
                    ① 회사는 서비스 제공 설비를 항상 운용 가능한 상태로 유지하기 위하여 노력하며 서비스 제공설비에 장애가 발생하거나 또는 그 설비가 멸실 될 때에는 이를 신속하게 수리, 복구해야 합니다.
                    ② 회사는 다음 각 호에 해당하는 경우 서비스 제공을 중지할 수 있습니다.
                    1. 서비스용 설비의 보수 등 공사로 인한 부득이한 경우
                    2. 전기통신사업법에 규정된 기간통신사업자가 전기통신서비스를 중지 했을 경우
                    3. 국가 비상 사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 경우
                    ③ 위 제2항 각호의 경우에 의한 서비스 제공 중단 시 회사는 회원들이 입은 손해에 대해 책임을 지지 않습니다.
                    
                    제 16 조 (중개서비스 이용정지)
                    회사는 중개서비스를 통한 거래의 안전성과 신뢰성을 위하여 일정한 정지사유 발생 시 회원자격을 정지할 수 있습니다. 서비스 이용 제한에 대해서는 회사가 정하는 서비스 운영정책에 따릅니다.
                    제 17 조 (대리 및 보증의 부인)
                    ① 회사는 회원 상호간의 거래를 위한 온라인 거래장소(marketplace)를 제공할 뿐이므로 물품을 판매하거나 구매하고자 하는 회원을 대리하지 않습니다. 또한, 회사의 어떠한 행위도 판매자 또는 구매자를 대리하는 행위로 간주되지 않습니다.
                    ② 회사는 중개서비스를 통하여 이루어지는 회원간의 판매 및 구매와 관련하여 판매의사 또는 구매의사의 존부 및 진정성, 등록물품의 품질, 완전성, 안전성, 적법성 및 타인의 권리에 대한 비침해성, 회원이 입력하는 정보 및 그 정보를 통하여 링크된 URL에 게재된 자료의 진실성 등 일체에 대하여 보증하지 아니하며, 이와 관련한 일체의 위험과 책임은 해당 회원이 부담해야 합니다.
                    ③ 회사는 회원이 게재하는 물품설명 등의 제반 정보를 통제하거나 제한하지 않습니다. 다만, 회사는 회원이 게재한 정보의 내용이 타인의 명예, 권리를 침해하거나 거래와 상관없는 내용 게재 및 법 규정을 위반한다고 판단하는 경우에는 이를 삭제할 수 있고, 거래취소, 거래중지, 기타 필요한 조치를 취할 수 있습니다.
                    ④ 회사는 회사에 연결(하이퍼링크)된 사이트가 취급하는 상품 또는 용역에 대하여 보증책임을 지지 아니 합니다. 회사와 회사에 연결된 사이트는 독자적으로 운영되며 회사는 회사 연결사이트와 회원간에 행해진 거래에 대하여 어떠한 책임도 지지 아니합니다.
                    
                    제 18 조 (에스크로 서비스)
                    ① 회사는 중개서비스를 제공하는 과정에서 대금의 수령, 보관 및 송금업무로 이루어지는 에스크로 서비스를 제공합니다. 이러한 에스크로 서비스는 중개서비스를 통하여 이루어지는 회원 상호간의 거래의 안전성과 신뢰성을 도모하고, 구매자를 보호하기 위한 목적에서 제공하는 장치이므로, 회사가 에스크로 서비스를 통하여 판매자 또는 구매자를 대리, 대행하거나 그 이행을 보조하는 것은 아닙니다.
                    ② 회사가 제공하는 에스크로 서비스는 기본적인 중개서비스에 포함됩니다. 에스크로 서비스를 통하지 않는 직거래를 유도하는 경우, 회사는 거래취소, 거래중지 등 기타 필요한 조치를 취할 수 있습니다.
                    ③ 에스크로 서비스의 일환으로 이루어지는 대금보관으로 인하여 회사가 취득하는 이자 등은 서비스 제공의 대가이므로, 회원은 회사에 대하여 이자 등의 반환을 청구할 수 없고, 대금송금으로 인하여 발생하는 수수료는 대금을 송금하는 회원이 부담하여야 합니다.
                    ④ 회사가 제공하는 에스크로 서비스를 이용하지 않은 거래 및 물품 또는 에스크로 서비스를 이용한 거래 및 물품에 대하여 에스크로 서비스가 종결된 경우 해당 거래와 관련하여 발생한 모든 사항은 판매자와 구매자가 상호협의를 통해 해결하여야 합니다.
                    ⑤ 회원은 회사가 제공하는 서비스를 이용함에 있어서 에스크로 서비스의 이용과 그 규칙에 동의하여야 합니다.
                    ⑥ 회사가 제공하는 에스크로 서비스를 오용, 악용함으로써 사회질서, 미풍양속을 침해하거나 침해할 우려가 있다고 판단되는 경우 또는 회사가 에스크로 서비스를 제공하지 못할 상황 또는 사유가 발생하는 경우 회사는 에스크로 서비스를 상품의 일부 또는 전부에 대하여 제공하지 않거나 제한할 수 있습니다.
                    
                    제 19 조 (중개서비스 이용자의 의무)
                    ① 물품을 판매(구매) 하고자 하는 회원은 회사가 제공하는 물품등록 양식에 따라 물품을 등록하여야 합니다.
                    ② 판매(구매)를 목적으로 제출한 물품에 대한 설명에는 거짓이 없어야 하며, 회사가 정하는 양식에 어긋난 등록이나 허위 등록으로 인한 손해 또는 손실에 대한 책임은 물품 등록자가 부담해야 합니다.
                    ③ 형법 및 각종 법률 또는 규정에 의해 거래가 불가능한 물품을 거래 할 수 없습니다.
                    ④ 기타 운영자가 판단하여 회사의 서비스와 적합하지 않은 물품이라 판단되면 판매를 제한할 수 있습니다.
                    ⑤ 중개서비스 이용 중 발생되는 사고 중 안전 거래 방법을 숙지하지 못하여 발생한 사고에 대한 책임은 고객에게 있으며, 자세한 안전거래 방법에 대해서는 회사가 정하는 서비스 운영정책에 따릅니다.
                    ⑥ 거래 시 발생되는 모든 수수료 및 이용요금은 회원의 부담으로 합니다.
                    ⑦ 중개서비스를 이용하여 거래하는 경우 회원은 당사자와 거래로 인한 위험이 없다고 스스로 판단하였을 경우 거래가 이루어지는 것입니다. 그러므로 중개서비스를 이용하여 회원이 스스로 결정한 거래에 의해 발생하는 사기 등의 피해에 대하여 회사는 책임이 없습니다.
                    ⑧ 중개서비스 이용 거래의 반품 및 환불은 거래 당사간의 합의에 의하여 진행하며, 회사는 당사자간의 합의, 반품, 환불에 대해 일체 관여하지 않습니다.
                    
                    제 20 조 (판매자의 의무)
                    ① 회사로부터 구매자의 물품 대금 결제 확인 및 물품 인도 요청 통지를 받은 판매자는 구매자에게 물품을 안전하게 인도할 의무가 있습니다.
                    ② 판매자는 물품 전달 시 회사의 구매자 정보를 확인 하여 정확하게 전달 해야 하며, 잘못 전달한 물품에 대한 책임은 판매자에게 있습니다. 또한 물품 전달을 하지 않거나, 물품 전달 지연에 따른 모든 책임은 판매자에게 있습니다.
                    ③ 특별한 사유 없이 물품 전달을 지연 시킬 경우 운영자 판단으로 거래를 취소 할 수 있습니다.
                    ④ 판매자는 정당한 상담, 반품 및 환불 요구를 들어줄 의무가 있습니다. 자세한 반품 및 환불 규정은 회사가 정하는 서비스 운영정책에 따릅니다.
                    ⑤ 판매자가 물품을 전달한 후 해당 게임 서비스 업체의 서비스 이상으로 서버를 이전 상태로 되돌림으로써 물품 전달 전의 상황으로 되었을 경우 구매자에게 환불 또는 거래 물품을 재 전달 해야 합니다.
                    ⑥ 판매자는 해당 자산거래에 이상이 발생되어 물품이 전달되지 않았을 경우는 재차 물품을 전달하여야 합니다. 만약, 판매자가 물품을 전달하지 못할 경우에는 회사로부터 거래가 강제로 취소됩니다. 이에 대한 모든 민사적, 형사적 책임은 판매자에게 있습니다.
                    ⑦ 거래 시 판매자의 허위 정보로 인하여 발생 되는 모든 사항의 책임은 판매자에게 있습니다.
                    ⑧ 판매자는 판매 거부 시 회사에 판매거부 신고를 해야 합니다. 단, 판매 거부 시에는 제17조에 의거하여 제재 받을 수 있습니다.
                    ⑨ 구매자가 정당한 사유 없이 구매 거부 시 판매자는 회사에 구매 거부 신고를 해야 합니다.
                    ⑩ 구매자의 정당한 구매취소 및 반품에 대하여 판매자는 이를 들어줄 의무가 있습니다.
                    
                    제 21 조 (구매자의 의무)
                    ① 구매자는 판매자가 안전하게 물품을 전달 할 수 있도록 정확한 구매자 정보를 작성해야 합니다. 또한 거래 시 구매자의 잘못된 정보 기재 및 허위 정보 기재에 따라 발생 되는 모든 책임은 구매자에게 있습니다.
                    ② 구매물품에 대한 반품 및 환불 요구는 판매자에게 요청 해야 하며, 자세한 반품 및 환불 규정은 회사가 정하는 서비스 운영정책에 따릅니다.
                    ③ 구매자는 구매신청한 물품 대금을 회사에서 제공하는 결제방법을 이용하여 결제하며, 물품을 수령한 이후 구매자의 인수 확인 지연으로 인하여 발생하는 책임은 구매자가 부담합니다.
                    ④ 거래자간의 분쟁이 발생 된 경우 회사에 분쟁 접수된 날로부터 30일이 경과하도록 분쟁 해결을 위한 행위가 진행 되지 않을 시, 회사는 구매자에게 인수확인 의사가 있는 것으로 간주하여 판매자에게 물품대금을 지급할 수 있습니다.
                    ⑤ 전항에 따른 경우 물품대금 지급 7일 전 회사는 구매자에게 해당 내용 통보 및 의사표시를 요청하며, 물품대금 지급일이 경과하도록 구매자의 의사표시가 없는 경우 인수확인 의사가 있는 것으로 간주하여 회사는 판매자에게 물품대금을 지급하며 이에 따른 책임은 거래당사자 간에 부담합니다. 다만, 회사가 판매자에게 물품대금을 지급하기 이전에 구매자가 취소 의사를 표시한 경우에는 그 지급을 보류할 수 있습니다.
                    ⑥ 구매자는 구매 거부 시 회사에 구매 거부 신청을 해야 하며, 이 경우 제17조에 의거하여 제재 받을 수 있습니다.
                    ⑦ 판매자가 정당한 사유 없이 판매 거부 시 구매자는 회사에 판매 거부 신고를 해야 합니다.
                    ⑧ 판매자가 판 물품에 하자가 있거나 물품 등록 정보와 현저히 다를 경우 구매자는 정당하게 구매를 취소할 수 있으며 회사는 이로 인해 제17조에 의거한 제재를 부여하지 못합니다. 단, 판매자는 제17조에 의거하여 제재 받을 수 있습니다.
                    
                    제 22 조 (구매거부 / 판매거부의 신고, 신청 및 처리 절차)
                    ① 구매자와 판매자는 거래 상대방의 구매거부, 판매거부 행위를 회사에 신고할 수 있습니다.
                    ② 거래 시에는 신고 및 신청이 이루어져야 하며 신고가 없을 경우 회사는 거래가 정상적으로 완료된 것으로 간주합니다.
                    ③ 판매자와 구매자는, 신고하기를 통하여 상대방에 의해 회사에 접수된 판매거부, 구매거부 신고 내용에 대하여 의견 진술의 기회가 있으며, 이는 신고가 회사에 접수된 후 3일 이내에 하여야 합니다. 신고 접수 후, 의견 진술이 없을 경우 회사는 상대방의 신고 내용을 인정하는 것으로 간주하고 거래 종료하며, 상대방의 신고에 대하여 의견 진술을 한 경우는 운영자가 판단하여 제17조에 의거하여 제재 받을 수 있습니다.
                    ④ 구매자 및 판매자가 자진해서 구매거부 및 판매거부를 신청한 경우에는 제17조에 의거하여 제재 받을 수 있으며, 등록된 게시물은 거래 취소가 됩니다.
                    ⑤ 구매거부 신고 요건은 다음과 같습니다.
                    1. 구매자가 정당한 이유 없이 구매거부 의사를 밝혔을 경우
                    2. 자율 거래에서 마감 후 구매자와 연락이 되지 않거나 연락처 정보가 불량인 경우
                    3. 구매자가 입금을 약속한 후 입금 마감일이 지났을 경우
                    4. 구매자가 판매자의 거래방법에 동의하지 않는 경우
                    ⑥ 판매거부 신고 요건은 다음과 같습니다
                    1. 판매자가 판매거부 의사를 밝혔을 경우
                    2. 자율 거래에서 마감 후 판매자와 연락이 되지 않거나 연락처 정보가 불량인 경우
                    3. 판매자가 물품 전달을 약속한 후 물품을 전달하지 않는 경우
                    4. 판매자가 물품 등록 시 선택한 것과 다른 거래 방법을 강요할 경우
                    5. 판매자가 구매자의 거래방법에 동의하지 않는 경우
                    
                    제 5 장 서비스 이용수수료
                    
                    제 24 조 (수수료의 내용)
                    ① 회사가 부과하는 수수료는 포인트 거래에 대한 에스크로 서비스 이용료, 암호화폐 입출금에 대한 수수료, 포인트 출금에 대한 이체 수수료로 구분합니다.
                    ②암호화폐 입금 및 출금시 거래 금액의 0.8%를 입금 수수료로 이체자에게 부과합니다.
                    ③ VTR 거래를 통한 MACH 코인 거래는 무료입니다.
                    
                    제 25 조 (수수료 징수 방법)
                    회원들의 매매 거래가 정상 종료되면 제24조에서 규정한 해당 거래의 수수료를 물품 대금에서 제외하고 판매자에게 적립합니다.
                    
                    제 26 조 (수수료 부과의 예외)
                    ① 구매자가 구매 거부하거나 물품을 반품한 경우에는 어떤 수수료도 부과하지 않습니다.
                    ② 그 외에 운영자가 판단하여 운영상 상당한 이유가 있는 때에 수수료 부과의 예외사항을 정할 수 있습니다.
                    
                    제 6 장 면책조항 등
                    
                    제 28 조 (회사의 면책)
                    ① 회사는 회원들에게 온라인 상의 거래장소(marketplace)를 제공하고 기타 부가정보를 제공함에 그치는 것이므로 중개서비스를 통하여 이루어지는 회원 상호간의 거래와 관련된 물품 하자로 인한 분쟁해결 등 필요한 사후처리는 거래당사자인 회원들이 직접 수행하여야 합니다. 회사는 이에 대하여 관여하지 않으며 어떠한 책임도 부담하지 않습니다.
                    ② 회사는 천재지변 또는 이에 준하는 불가항력, 정보통신설비의 보수점검, 교체 또는 고장, 통신의 두절 등으로 인하여 일시적 또는 종국적으로 서비스를 제공할 수 없는 경우, 서비스 제공에 관한 책임이 면제됩니다. 이 경우 회사는 회사가 제공하는 인터넷사이트 화면에 게시하거나 기타의 방법으로 회원들에게 통지합니다.
                    ③ 회사는 인터넷 이용자 또는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.
                    ④ 회사는 중개서비스를 통하여 거래되는 물품의 하자, 물품등록정보의 오류, 미비 등으로 인하여 회원이 입는 손해에 대해서는 책임을 지지 않습니다.
                    ⑤ 회사는 회원이 다른 회원이 게재한 정보, 자료, 사실의 정확성 등을 신뢰함으로써 입은 손해에 대하여 책임을 지지 않습니다.
                    ⑥ 회사와 피연결회사(회사의 서비스 화면과 링크, 제휴 등으로 연결된 사이트를 운영하는 회사를 말합니다)는 독자적으로 운영되며, 회사는 피연결회사와 회원간에 이루어진 거래 또는 계약에 대하여는 책임을 지지 않습니다.
                    제 29 조 (준거법 및 관할법원)
                    이 약관과 회사와 회원간의 서비스이용계약, 회원 상호간의 물품거래에 대해서는 대한민국 법령이 적용되며, 이 약관, 회사와 회원간의 서비스 이용계약 및 회원 상호간의 물품 거래에 관한 해석과 관할법원에 대하여는 대한민국 법령에 따릅니다.
                    
                    제 30 조 (게시판의 이용)
                    회사가 인터넷사이트를 통하여 제공하는 서비스 중 게시물 이용에 관련해서는 회사가 정하는 서비스 운영정책에 따릅니다.
                    
                    제 31 조 (기타조항)
                    ① 회사는 회원으로부터 제기되는 불만사항 및 의견이 정당하다고 판단되는 경우 이를 신속하게 처리하며, 즉시처리가 곤란한 경우에는 그 사유와 처리기간을 통보합니다.
                    ② 본 서비스를 위반하거나 서비스 이용 시 불편 사항이 발생한 경우 주식회사 MACH 거래소로 이메일(io@onlykcs.com, io@mymach.io)을 보내거나, 대표 전화(1899-8696) 또는 팩스 (050-4460-2004)로 문의 하여 주시기 바랍니다.
                    ③ 문의시간 : 평일 10시부터 17시까지
                    ④ 회사소개
                    1. 회사명 : MACH 거래소
                    2. 주 소 : 서울시 구로구 디지털로 30길 28, 마리오타워 1213호
                    3. 사업자 등록번호 : 767-86-00387
                    4. 대표자 : 최세준
                    5. 부칙 이 약관은 2019년 01월 14일부터 적용됩니다.
                    - 이용약관 시행일자 : 2019년 01월 14일
                    MACH 거래소는 회원 상호간의 자산 물품매매거래를 중개하는 사이버 거래장소(Online Marketplace)입니다. 따라서, 물품 결함, 물품 정보 오류, 이용자간 사기행위, 반품 등 회원간 거래행위에서 발생되는 분쟁에 대해서는 MACH 거래소에서 책임을 부담하지 않습니다. 그러한 분쟁은 회원들 사이에서 직접 해결되는 것을 원칙으로 합니다.
                    </textarea>
                </div>
            </section>
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>