<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="row">
                <div class="col-lg-12 tac">
                    <img style="width:640px" src="/static/img/sub/how_to_marketmach_low.jpg" alt="">
                </div>
            </div>

            <!--
            <div class="content_tab_depth1">
                <ul class="cf">
                    <li class="on"><a href="/howto/trade">거래안내</a></li>
                    <li><a href="/howto/buymach/wallet">MACH 구매</a></li>
                    <li><a href="/howto/safeTrade/escrow">안전거래 안내</a></li>
                    <li><a href="/howto/etc/csbot">기타</a></li>
                </ul>
            </div>

            <section class="howto_sec">
                <div class="content_tab_depth2">
                    <ul class="cf">
                        <li class="on"><a href="/howto/trade/vtr">VTR 사용법</a></li>
                        <li><a href="/howto/trade/buynow">바로구매</a></li>
                    </ul>
                </div>
                <h1 class="tit_howto">VTR 사용법</h1>       
                <div>
                    - VTR이란? : VTR에 대한 대략적인 내용
                    - VTR 거래 절차 : 
                        VTR 거래 요청 -> 작성자 SMS 전송 -> VTR 입장 -> 흥정 -> 거래 요청 -> 구매 확인 -> 판매 완료 -> 거래 완료
                    - 각 절차별 설명 
                        - VTR 거래 요청 : 팝니다 또는 삽니다에서 요청
                        - 작성자 SMS 전송 및 VTR 입장 : 팝니다 또는 삽니다 작성한 작성자의 SMS로 VTR 내용 전송 및 입장
                        - 흥정 : 가격 조정 가능
                        - 거래 요청 : 챗봇에 거래 시작 요청 시 진행 절차 설명, 판매자의 roll
                        - 구매 확인 : 구매자의 roll 
                        - 판매 완료 : 판매자의 roll
                        - 거래 완료 : 구매자의 roll
                    - 거래 취소 및 이의 제기
                        - 구매 취소 : 구매자의 roll
                        - 판매 취소 : 판매자의 roll, 취소 시 에스크로 환불 처리
                        - 이의 제기 : 아이템 수령 후 이상 발생 시 요청 가능 (게임 아이템 1일, 자산 거래 7일)
                    - 바로 구매 : 팝니다의 경우에만 바로구매 가능, 구매자의 roll
                </div>
            </section>  
            -->
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>