@media (min-width: 320px) and (max-width: 374px) {
    .limiter{
        margin-top:22%
    }
}
@media (min-width: 375px) and (max-width: 410px) {
    .limiter{
        margin-top:5%
    }
}
@media(max-width:411px){
    .background{
        background-size: auto;
    }
}
