@media (min-width: 320px) and (max-width: 374px) {
    .limiter{
        margin-top:33%
    }
}
@media (min-width: 375px) and (max-width: 414px) {
    .limiter{
        margin-top:28%
    }
}
@media (min-width:768px)and (max-width:800px) and (min-height:800px) and (max-height:866px){
    .limiter{
        margin-top:15%
    }
}
@media(min-width:800px){
    .limiter{
        margin-top:5%
    }
}
.wrap-login100{
    width:1000px;
}

textarea{
    width:100%;
    background-color: #0d0943;
}

.wrap-input100{
    background-color: #0d0943;
}
select.form-control:not([size]):not([multiple]){
    height:55px
}

.custom-select {
    width: 100%;
    height: 55px;
}