    <footer class="footer">
        <div class="container footer_content">
            <div class="ft_top row">
                <div class="col-sm-3"><a href="/agreements/use">이용약관</a></div>
                <div class="col-sm-3"><a href="/agreements/private">개인정보 처리방침</a></div>
                <div class="col-sm-3"><a href="/agreements/teenager">청소년 보호정책</a></div>
                <div class="col-sm-3"><a href="/howto/trade/vtr">안전거래 안내</a></div>
            </div>
            <dl class="ft_btm row">
                <dt class="col-lg-2">
                    <img src="/static/img/main/footer_logo.png" alt="MACH"><br><br>
                    <img src="/static/img/main/account_banner.png" alt="계좌번호 설명">
                </dt>
                <dd class="col-lg-10">
                    <p>
                        한국인증서비스㈜ 서울특별시 구로구 디지털로30길 28 마리오타워 1213호 / 대표자 최세준<br>
                        기술연구소 / 서울특별시 구로구 디지털로30길 28 마리오타워 1213호<br>
                        대표번호 1899-8696 / 팩스 02)855-0261 / 이메일 io@onlykcs.com<br>
                        사업자번호 767-86-00387 / 통신판매업신고번호 제2019-서울금천-0118호<br>
                        사업자주소 서울시 금천구 가산디지털1로 88, B103호<br><br>
                        <em>한국인증서비스㈜는 통신판매의 당사자가 아닌 통신판매중개자로 상품거래정보 및 거래에 대해서 책임을 지지 않습니다.</em><br>
                        한국인증서비스㈜ © MarketMach All rights reserved.
                    </p>
                </dd>
                <!-- 안전거래용 마켓마하 공식계좌-->
                <div class="account_banner mob_show">
                    <img src="/static/img/mob/mob_account_banner.png" alt="">
                </div> 
                <!--// 안전거래용 마켓마하 공식계좌-->
            </dl>  
        </div>
    </footer>
    <article class="ajax_dim" id="ajaxSpiner">
        <div class="ajax_spinner_wrap">
            <div class="lds-dual-ring"></div>
            <h1 id="spinnerTarget">처리중입니다. 잠시만 기다려주세요.</h1>
            <p>새로고침하시거나 페이지를 벗어나면 작업이 제대로 처리되지 않습니다.</p>
        </div>
    </article>