<script>
    var coinId = "<%=coinId%>";
    var userId = "<%=userId%>";   
    var game_name;
        
    $(document).ready(function(){
        $("#search_item_name, #m_search_item_name").keydown(function(key){
            if(key.keyCode==13){
                _mainSearch();
            }
        });

        $("#main_search, #m_main_search").on('click', function(key){
            _mainSearch();
        });

        if(game_name != undefined) {
            if(isPc()) {
                $('#search_item_name').val(game_name + ' ' + game_server);
            } else {
                $('#m_search_item_name').val(game_name + ' ' + game_server);
            }
        }
    });

    function _mainSearch() {
        if(game_name != undefined) {
            var games = $('#search_item_name').val().trim().split(' ');
            game_name = games[0];
            if(games.length == 2) {
                game_server  = games[1];
            } else if(games.length == 3) {
                title = games[2];
            }
            $("#game-name").val(game_name).attr("selected", "selected");
            $("#game-name").selectpicker('refresh');
            selectServer();
            setTimeout(function() {
                $("#game-server").val(game_server).attr("selected", "selected");
                $("#game-server").selectpicker('refresh');
                $("#list").html('');
                searchMain('sell');
            })
        } else {
            searchMain('sell');
        }
    }

    function loginChecker() {
        var login = "<%= userId %>";
        //console.log(login, typeof login);
        if(login !== "" && login !== "undefined") {
            //loginChecker();
            openCSChatBot();
        } else {
            //alert("로그인 후 사용 가능합니다.");
            location.href = "/login";
        }
    }

    function openCSChatBot() {
        var cookie_data = document.cookie;
        //console.log(cookie_data);
        var start = cookie_data.indexOf("orange__F");
        var cValue = '';
        if(start != -1){
            start += "orange__F".length;
            var end = cookie_data.indexOf(';', start);
            if(end == -1) end = cookie_data.length;
            cValue = cookie_data.substring(start, end);

            var req_url = __config["str"]["chatbot_url"] + "?cmod=cs&orange__F" + cValue;
            if (isMobile()) {
                window.open(req_url, "CSChatBot");
            } else {
                window.open(req_url, "CSChatBot", 'toolbar=no,\n' +
                    '                              location=no,\n' +
                    '                              status=no,\n' +
                    '                              menubar=no,\n' +
                    '                              scrollbars=no,\n' +
                    '                              resizable=no,\n' +
                    '                              width=520,\n' +
                    '                              height=750');
            }
        } else {
            location.href = "/logout";
        }
    }

    function searchMain(tabName) {
        if($("#search_item_name").val() == "" && $("#m_search_item_name").val() == "") {
            alert("게임명/서버명을 입력하세여.\r\n예)로스트아크 이그하람");
            return;
        }

        var category = "game";
        var trade_type = "sell";
        var search_item_name = isPc() == true ? $("#search_item_name").val().split(' ') : $("#m_search_item_name").val().split(' ');
        var game_name =  search_item_name[0];
        var game_server =  search_item_name.length == 1 ? "" : search_item_name[1];
        var type = "";
        var title = "";
        if(search_item_name.length < 2) {
            title = search_item_name[2];
        }

        var query = "?category=" + category + "&game_name=" + game_name + "&game_server=" + game_server + "&trade_type=" + trade_type + "&type=" + type + "&title=" + title + "&pageIdx=0";
        location.href = '/sells' + query;
    }

    function goExchange() {
        alert("현재 VISA/MASTER 카드 결재 기능을 작업 중에 있습니다. \n 마하 코인 구매를 원하시면 비트코인 또는 이더리움 등의 암호화폐를 이용하여 구매하시기 바랍니다.");
        window.open("https://tokensales.marketmach.com","exchange");
    }

</script>
        <header class="header">
            <div class="top_menu cf">
                <span><a href="" class="lang lang_kr">한국어</a></span>
                <ul class="menu_list cf">
                    <li><a href="/howto/trade/vtr">이용안내</a></li>
                    <li><a href="/supports/info">고객센터</a></li>
                    <li><a href="/myPages/list">나의 페이지</a></li>
                    <li><a class="menu_login" href="/login">로그인</a></li>
                    <li><a class="menu_logout" href="/logout">로그아웃</a></li>
                    <li class="bgc2"><a href="">캐시거래소</a></li>
                </ul>
            </div>
            <section class="sch_sec cf">
                <h1 class="h_logo"><a href="/main"><img src="/static/img/h_logo.png" alt="MACH"></a></h1>
                <div class="search_bar cf">
                    <input type="text" class="ipt_search_bar" id="search_item_name" placeholder="게임명과 서버명 입력  ex)로스트아크 이그하람">
                    <input type="button" class="btn_search bgc1" id="main_search" value="검색">
                </div>
                <div class="chatbot jumpBot">
                    <a href="javascript:loginChecker()" class="ico_machbot"><img src="/static/img/main/ani_bot.gif" alt="챗봇"></a>
                </div>
            </section>
            <nav class="nav cf">
                <ul class="l_menu nav_menu cf bgc1">
                    <li>
                        <button class="hasDepth2">판매등록</button>
                        <ul class="depth2 cf">
                            <li><a href="/sells/register">게임아이템</a></li>
                            <li><a href="/etc-sells/register">자산거래</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="hasDepth2">구매등록</button>
                        <ul class="depth2 cf">
                            <li><a href="/buys/register">게임아이템</a></li>
                            <li><a href="/etc-buys/register">자산거래</a></li>
                        </ul>                    
                    </li>
                </ul>
                <ul class="c_menu nav_menu cf">
                    <li>
                        <button class="hasDepth2">게임아이템</button>
                        <ul class="depth2 cf">
                            <li><a href="/sells?category=game&trade_type=sell">팝니다</a></li>
                            <li><a href="/buys?category=game&trade_type=buy">삽니다</a></li>
                        </ul>                         
                    </li>
                    <li>
                        <button class="hasDepth2">자산거래</button>
                        <ul class="depth2 cf">
                            <li><a href="/etc-sells?category=etc&trade_type=sell">팝니다</a></li>
                            <li><a href="/etc-buys?category=etc&trade_type=buy">삽니다</a></li>
                        </ul>                         
                    <li><a href="javascript:goExchange();" class="fcbk">환전소</a></li>
                    <li><a href="/community/board" class="fcbk">게임소식</a></li>
                    <li><a href="javascript:alert('준비중입니다.');" class="fcbk">커뮤니티</a></li>
                </ul>
                <ul class="r_menu cf">
                    <li>
                        <button id="btnInfoBox" class="btn_info_box">▼</button>
                        <div style="display:none" id="floatingInfoBox" class="floating_info_box">
                            <%# 로그인 전 %>
                            <div class="beforeLoginBox">
                                <ul>
                                    <li class="top_area cf">
                                        <button class="btn bgc3" onclick="location.href='/login';">로그인</button>
                                        <ul class="cf link_login_info">
                                            <li><a href="/findId">아이디·비밀번호 찾기</a></li>
                                            <li><a href="/agreement">회원가입</a></li>
                                        </ul>
                                    </li>
                                    <li class="mdl_area">
                                        <p>마켓마하가 궁금하세요?</p>
                                        <a class="btn bgc2" href="https://mymach.io" target="_blank">마켓마하 소개</a>
                                    </li>
                                    <li class="btm_area">
                                        <dl class="available_coin cf">
                                            <dt>마켓마하 상장코인</dt>
                                            <dd><a href="https://mymach.io/" target="_blank"><img src="/static/img/symbol/symbol_mach.png" alt="마하코인" title="마하코인"></a></dd>
                                            <dd><a href="https://www.bitcoin.com/" target="_blank"><img src="/static/img/symbol/symbol_bitcoin.png" alt="비트코인" title="비트코인"></a></dd>
                                            <dd><a href="https://www.ethereum.org/" target="_blank"><img src="/static/img/symbol/symbol_ethereum.png" alt="이더리움" title="이더리움"></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                        </dl>
                                        <dl class="available_coin cf">
                                            <dt>마켓마하 상장 게임</dt>
                                            <dd><a href="/supports/notice/detail?noticeId=5cb992d51e9f4a605ffa83e5"><img src="/static/img/symbol/symbol_monkey.png" alt="마하 어드벤쳐" title="마하 어드벤쳐"></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                        </dl>                                        
                                        <!--
                                            <br>
                                            <img src="/static/img/main/account_banner.jpeg" alt="계좌번호 설명">
                                        -->
                                    </li>
                                </ul>
                            </div>
                            <%#  로그인 후 %>
                            <div style="display:none" class="afterLoginBox">
                                <ul>
                                    <li class="top_area cf">
                                        <div>
                                            <em>판매진행중</em>
                                            <p class="total_sell">0<span>건</span></p>
                                        </div>
                                        <div>
                                            <em>구매진행중</em>
                                            <p class="total_buy">0<span>건</span></p>
                                        </div>
                                    </li>
                                    <li class="mdl_area">
                                        <em>나의 지갑 잔액</em>
                                        <p class="total_mach">100<span>MACH</span></p>
                                        <button class="btn bgc1" onclick="location.href='/myPages/wallet/deposit';">MACH입금</button>
                                        <button class="btn bgc2" onclick="location.href='/myPages/wallet/withdraw';">MACH출금</button>
                                    </li>
                                    <li class="btm_area">
                                        <dl class="available_coin cf">
                                            <dt>마켓마하 상장코인</dt>
                                            <dd><a href="https://mymach.io/" target="_blank"><img src="/static/img/symbol/symbol_mach.png" alt="MACH" title="마하코인"></a></dd>
                                            <dd><a href="https://www.bitcoin.com/" target="_blank"><img src="/static/img/symbol/symbol_bitcoin.png" alt="비트코인" title="비트코인"></a></dd>
                                            <dd><a href="https://www.ethereum.org/" target="_blank"><img src="/static/img/symbol/symbol_ethereum.png" alt="이더리움" title="이더리움"></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                        </dl>
                                        <dl class="available_coin cf">
                                            <dt>마켓마하 상장 게임</dt>
                                            <dd><a href="/supports/notice/detail?noticeId=5cb992d51e9f4a605ffa83e5"><img src="/static/img/symbol/symbol_monkey.png" alt="마하 어드벤쳐" title="마하 어드벤쳐"></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                            <dd><a class="noCursor" href="javascript:return false" target="_blank"><i class="material-icons">add_circle</i></a></dd>
                                        </dl>
                                        <!--
                                        <br>
                                        <img src="/static/img/main/account_banner.jpeg" alt="계좌번호 설명">
                                            <button class="btn bgc4" onclick="location.href='/myPages/list';">나의 페이지</button>
                                            <button class="btn bgc3" onclick="location.href='/supports/info';">고객센터</button>
                                        -->
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </li>
                    <li>
                        <span class="notice_number">1</span>
                    </li>                   
                </ul>
            </nav>
        </header>