<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no"/>
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" sizes="64x64" href="/image/favicon.png">
<meta property="og:type" content="website">
<meta property="og:title" content="마켓마하 Market Mach">
<meta property="og:description" content="블록체인 기반 안전 자산 거래 플랫폼">
<meta property="og:url" content="https://www.marketmach.com">
<title>Market Mach</title>
<!-- <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css"> -->
<!-- npm css -->
<link href="/bootstrap_css/bootstrap.css" rel="stylesheet">
<link href="/select_css/bootstrap-select.min.css" rel="stylesheet">
<link href="/material-icons/material-icons.css" rel="stylesheet">
<!-- custom css-->
<link href="/static/css/common.css" rel="stylesheet">
<link href="/static/css/content.css" rel="stylesheet">
<link href="/static/css/exception.css" rel="stylesheet">
<link href="/static/css/colgroup.css" rel="stylesheet">
<!-- npm js -->
<script src="/jquery/jquery.js"></script>
<script src="/popper/popper.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/select/bootstrap-select.min.js"></script>
<!-- custom js -->
<script src="/static/js/config.js"></script>
<script src="/static/js/load-image.all.min.js"></script>
<script src="/static/vendor/slick/slick.min.js"></script>
<script src="/static/js/ui.js"></script>
<script src="/static/js/util.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138175923-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138175923-1');
</script>
