        <header class="header member_header">
            <div class="top_menu cf">
                <h1><a href="/main"><img src="/static/img/h_logo.png" alt="MACH"></a></h1>
                <ul class="menu_list cf">
                    <li><a href="/howto/trade/vtr">이용안내</a></li>
                    <li><a href="/support/info">고객센터</a></li>
                    <li><a class="menu_login" href="/login">로그인</a></li>
                    <li><a class="menu_logout" href="/logout">로그아웃</a></li>
                    <li class="bgc2"><a href="">캐시거래소</a></li>
                </ul>
            </div>
        </header> 