<div class="sub_lft_menu" id="leftMenuSupport">
    <h2><a href="/supports/info">고객센터</a></h2>
    <ul class="depth1">
        <li class=<%=(arrDepth[0] === 1) ? "on" : "" %>><a href="/supports/notice">공지사항</a></li>
        <li class=<%=(arrDepth[0] === 2) ? "on" : "" %>><a href="/supports/event">이벤트</a></li>
        <li class=<%=(arrDepth[0] === 3) ? "on" : "" %>><a href="/supports/faq">FAQ</a></li>
        <li class=<%=(arrDepth[0] === 4) ? "on" : "" %>><a href="/supports/opposition/list">거래 이의관리</a>
            <ul class="depth2">
                <li class=<%=(arrDepth[0] === 4 && arrDepth[1] === 1) ? "on" : "" %>><a href="/supports/opposition/register">- 거래 이의신청</a></li>
                <li class=<%=(arrDepth[0] === 4 && arrDepth[1] === 2) ? "on" : "" %>><a href="/supports/opposition/list">- 거래 이의내역</a></li>
            </ul>
        </li>
        
            <li class=<%=(arrDepth[0] === 5) ? "on" : "" %>><a href="/supports/private/list">1:1 문의</a>
                <ul class="depth2">
                    <li class=<%=(arrDepth[0] === 5 && arrDepth[1] === 1) ? "on" : "" %>><a href="/supports/private/register">- 문의하기</a></li>
                    <li class=<%=(arrDepth[0] === 5 && arrDepth[1] === 2) ? "on" : "" %>><a href="/supports/private/list">- 나의 문의내역</a></li>
                </ul>
            </li>
       
        <!-- <li class=<%=(arrDepth[0] === 6) ? "on" : "" %>><a href="/supports/reqGames">신규게임/서버추가</a></li> -->
        <!-- <li class=<%=(arrDepth[0] === 7) ? "on" : "" %>><a href="/howto/safeTrade/escrow">안전거래 안내</a></li> -->
    </ul>
</div>