@charset "utf-8";
/*
* KCS: http://www.onlykcs.com/
* since: 20190311 
* Author: Jongmin Kim
*/
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

/********** reset **********/
/* basic */
html, body {width:100%; height:100%; -webkit-overflow-scrolling: touch; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }
html{overflow-y:scroll;}
body{font-family: 'Noto Sans KR', sans-serif; font-size: 14px; word-break:break-all;-ms-word-break:break-all; }
a, address, blockquote, br, fieldset, legend, label, form, input, select, textarea, button, table, th, td caption, cite, code, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, div, iframe, ul, ol, li, hr, img{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:14px; text-align:left;}
ul, ol, li {list-style:none;}
abbr,acronym {border:0;}
img{vertical-align:middle; border:none; max-width: 100%;}
img, fieldset, iframe{border:none;}
em, address{font-style:normal;}
textarea{overflow:auto; resize: none;}
table{border-collapse:collapse; border-spacing:0;}
input, select, textarea{vertical-align:middle;}
strong, em{font-weight: bold;}
a, a:link, a:visited{text-decoration:none;}
a:active, a:hover{text-decoration:none;}
input::placeholder {font-size: 13px;}
input::-webkit-input-placeholder {font-size: 13px;}
input:-ms-input-placeholder {font-size: 13px;}
/* input box color */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; } 
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, 
input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }
*{outline: none;}
/* reset bootstrap */
.table{margin: 0; color: #333333;}
.table th{vertical-align: middle;}
.table td{vertical-align: middle;}
.btn{padding: 0.313rem 0.75rem;}
.btn:hover{color: #ffffff;}
.btn.btn-default{background-color: #ededed; border: 1px solid #ccc;}
.btn.btn_go_detail:hover{color: #333;}
.btn.btn_more_list:hover{color: #666;}
.btn.btn_go_list{background-color: #17a2b8; color: #ffffff;}
/********** Common **********/
.cf:after{display: block; content: ''; clear: both;}
.fll{float: left;}
.flr{float: right;}
.noCursor{cursor: initial;}
.dfb{display: flex; display: -ms-flexbox;}
.blind{z-index:-1px;overflow:hidden;position:absolute;height:1px; width:1px;text-indent:-9999em;}
.ellipse{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: normal}
.bgc1{background-color: #000039; color: #ffffff;}
.bgc2{background-color: #1e2560; color: #ffffff;}
.bgc3{background-color: #0a73b8; color: #ffffff;}
.bgc4{background-color: #ffc107; color: #ffffff;}
.bggr1{background-color: #666166; color: #ffffff;}
.bggr2{background-color: #218838; color: #ffffff;}
/* font color */
.fc1{color: #000039;}
.fc2{color: #1e2560;}
.fc3{color: #0a73b8;}
.fcwh{color: #ffffff !important;}
.fcbk{color: #000000 !important;}
.fcrd{color: red !important;}
.fcor{color: #ffc107 !important;}
.fcgr1{color: #666166 !important}
.fcgr2{color: #218838 !important}
/* util */
.tar{text-align: right !important;}
.tal{text-align: left !important;}
.tac{text-align: center !important;}
.w100p{width: 100%;}
.con_tit{margin-bottom: 15px; font-size: 16px; color: #1e2560;}
.plus_link{float: right; display: block; width: 20px; height: 20px; margin-right: 10px; background: url(/static/img/main/ico_plus.png) 50% 50% no-repeat; background-size: 15px 15px; text-indent: -99999px;}
.mob_show{display: none;}

/********** PC MarkUp CSS **********/
.wrap{min-height: 100%; position: relative;}
/*** header: PC ***/
.header_wrap{position: fixed; z-index: 3; width: 100%; background-color: #ffffff;}
.header{margin: auto; max-width: 1200px;}
.header .top_menu{height: 40px; border: 1px solid #c1c1c1; box-sizing: border-box;}
.header .top_menu .lang{display: inline-block; height: 24px; line-height: 24px; margin: 8px 0 0 10px; padding-left: 25px; font-weight: bold; font-size: 12px; color: #666;}
.header .top_menu .lang_kr{background: url("/static/img/main/ico_korea.png") 0 50% no-repeat; background-size: 23px 15.6px;}
.header .top_menu .menu_list{float: right;}
.header .top_menu .menu_list > li{float: left; padding: 13px 0; }
.header .top_menu .menu_list > li > a{float: left; padding: 0 9px; line-height: 1; font-size: 12px; color: #666; font-weight: bold; border-right: 1px solid #929292;}
.header .top_menu .menu_list > li .menu_logout{border-right: none;}
.header .top_menu .menu_list > li:nth-child(4) > a{border-right: none;}
.header .top_menu .menu_list > li:last-child > a{visibility: hidden; color: #fff; border: none;}

.header .sch_sec{position: relative; height: 105px;}
.header .sch_sec .h_logo{float: left; margin-top: 30px; width: 210px; text-align: center;}
.header .sch_sec .h_logo img{height: 40px;}
.header .sch_sec .search_bar{float: left; margin-top: 26px; width: calc(100% - 360px);}
.header .sch_sec .search_bar .ipt_search_bar{float: left; padding-left: 10px; width: calc(100% - 50px); height: 50px; border: 3px solid #000039;}
.header .sch_sec .search_bar .btn_search{float: left; width: 50px; height: 50px; text-indent: -99999px; background: #000039 url("/static/img/main/ico_search.png") 50% 50% no-repeat; background-size: 16.5px 15px; border:none;}
.header .sch_sec .chatbot{position: absolute; right: 60px; top: 15px; /*float: left; margin: 15px 0 0 20px; width: 90px;*/}
.header .sch_sec .chatbot img{width: 37px;}
/* pc nav */
.header .nav{height: 50px;}
.header .nav > .nav_menu{}
.header .nav > .nav_menu > li > .depth2.show{display: block;} 
.header .nav > .nav_menu > li > .depth2{display: none; position: absolute; left: 0; top: 50px; z-index: 11; width: 100%; background-color: #ffffff; border: 2px solid #000;}
.header .nav > .nav_menu > li > .depth2 > li{float: left; width: 50%; text-align: center;}
.header .nav > .nav_menu > li > .depth2 > li > a{display: inline-block; width: 90%; height: 40px; line-height: 40px; text-align: center; border-radius: 6px; background-color: #1e2560; font-weight: bold; color: #ffffff;}
.header .nav > .l_menu{position: relative; float: left; width: 210px;}
.header .nav > .l_menu > li{float: left; width: 50%; padding: 14.5px 0;}
.header .nav > .l_menu > li:nth-child(1){text-align: right;}
.header .nav > .l_menu > li:nth-child(1) > button{padding-right: 10px; border-right: 2px solid #fff;}
.header .nav > .l_menu > li:nth-child(2){text-align: left;}
.header .nav > .l_menu > li:nth-child(2) > button{margin-left: 10px;}
.header .nav > .l_menu > li > .depth2 > li{ line-height: 48px;}
.header .nav > .l_menu > li > button{background: none; color: #ffffff; font-size: 15px; font-weight: bold; border: none;}
.header .nav > .c_menu{float: left; width: calc(100% - 360px); border: 1px solid #c1c1c1;}
.header .nav > .c_menu > li{position: relative; float: left; width: 20%; line-height: 48px; text-align: center;}
.header .nav > .c_menu > li > button{background: none; color: #1e2560; font-size: 15px; font-weight: bold; border: none;}
.header .nav > .c_menu > li > a{font-size: 15px; font-weight: bold;}
.header .nav > .r_menu{float: left; width: 150px; position: relative; /*background: url(/static/img/main/ico_notice_bell.png) 8px 50% no-repeat;*/ background-size: 25px 32px;}
.header .nav > .r_menu > li{float: left; width: 50%;}
.header .nav > .r_menu > li .notice_number{visibility: hidden; display: inline-block; margin-left: 20px; width: 22px; height: 22px; line-height: 22px; border-radius: 50% 50%; text-align: center; background-color: red; color: #ffffff; font-weight: bold;}
.header .nav > .r_menu > li .btn_info_box{width: 100%; height: 50px; text-align: center; border: none; background-color: #dadada;}
.header .nav > .r_menu > li .floating_info_box{position: absolute; z-index: 3; right: 0; width: 220px; padding: 15px; text-align: center; background-color: #ffffff; border: 1px solid #c1c1c1;}
.header .nav > .r_menu > li .floating_info_box > ul > li{padding: 20px 0;}
.header .nav > .r_menu > li .floating_info_box .btn{width: 100%;font-size: 14px;font-weight: bold;height: 40px;padding: 10px 0;}
.header .nav > .r_menu > li .floating_info_box .link_login_info{padding-top: 15px;}
.header .nav > .r_menu > li .floating_info_box .link_login_info li:nth-child(1){float: left;}
.header .nav > .r_menu > li .floating_info_box .link_login_info li:nth-child(2){float: right;}
.header .nav > .r_menu > li .floating_info_box .link_login_info li a{font-size: 12px; color: #333333;}
.header .nav > .r_menu > li .floating_info_box .top_area{padding:10px 0; border-bottom: 2px solid #1e2560;}
.header .nav > .r_menu > li .floating_info_box .top_area > div{float: left; width: 50%;}
.header .nav > .r_menu > li .floating_info_box .top_area > div em{font-size: 16px;}
.header .nav > .r_menu > li .floating_info_box .top_area > div p a{font-size: 28px; color: #1e2560;}
.header .nav > .r_menu > li .floating_info_box .top_area > div p a span{font-size: 16px;}
.header .nav > .r_menu > li .floating_info_box .mdl_area{padding: 10px 0;}
.header .nav > .r_menu > li .floating_info_box .mdl_area em{font-size: 16px;}
.header .nav > .r_menu > li .floating_info_box .mdl_area p{padding: 6px 0;}
.header .nav > .r_menu > li .floating_info_box .mdl_area p a{color: #0a73b8;font-size: 28px;font-weight: bold;}
.header .nav > .r_menu > li .floating_info_box .mdl_area p a span{font-size: 14px;}
.header .nav > .r_menu > li .floating_info_box .mdl_area button{width: 48%;}
.header .nav > .r_menu > li .floating_info_box .btm_area{padding: 10px 0; border-top: 2px solid #1e2560;}
.header .nav > .r_menu > li .floating_info_box .btm_area button{width: 48%;}
.header .nav > .r_menu > li .floating_info_box .btm_area .available_coin{}
.header .nav > .r_menu > li .floating_info_box .btm_area dt{padding: 2px 0; color: #1e2560; text-align: center;}
.header .nav > .r_menu > li .floating_info_box .btm_area dd{float: left; width: 25%; height: 30px; line-height: 28px; text-align: center; border-top: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; box-sizing: border-box;}
.header .nav > .r_menu > li .floating_info_box .btm_area dd:nth-of-type(1){border-left: 1px solid #dbdbdb; }
.header .nav > .r_menu > li .floating_info_box .btm_area dd:nth-of-type(5n){border-left: 1px solid #dbdbdb; }
.header .nav > .r_menu > li .floating_info_box .btm_area dd:nth-of-type(n+5){border-bottom: 1px solid #dbdbdb}
.header .nav > .r_menu > li .floating_info_box .btm_area dd a{display: block;}
.header .nav > .r_menu > li .floating_info_box .btm_area dd a i{margin-top: 6px; font-size: 18px; color: #dcdcdc;}
.header .nav > .r_menu > li .floating_info_box .btm_area dd img{height: 22px}


/* 로그인 전 */
.header .nav > .r_menu > li .beforeLoginBox{}
.header .nav > .r_menu > li .beforeLoginBox .mdl_area p{font-size: 14px;}
/* 로그인 후 */
.header .nav > .r_menu > li .afterLoginBox{}

/*** header: Mobile ***/
.mob_header{display: none; border-bottom: 1px solid #c1c1c1;}
/* mobile nav */
.mob_header .mob_nav{position: relative; height: 40px;}
.mob_header .mob_nav .mob_fixiable{position: absolute; left: 0; width: 60px;}
.mob_header .mob_nav .mob_fixiable .btn_mob_menu{width: 100%; height: 40px; border: none;}
.mob_header .mob_nav .mob_dep1_menu{position: absolute; left: 60px; width: 100%; height: 40px; overflow: hidden;}
.mob_header .mob_nav .mob_dep1_menu .scroll_area{height: 60px; overflow-x: scroll;}
.mob_header .mob_nav .mob_dep1_menu .scroll_area .tb_menu{table-layout: fixed; width: 100%;}
.mob_header .mob_nav .mob_dep1_menu .scroll_area .tb_menu th{width: 90px; height: 40px; text-align: center;}
.mob_header .mob_nav .mob_dep1_menu .scroll_area .tb_menu th .btn_mob_menu{width: 100%; height: 40px; font-weight: bold; color: #000039; border: none; background: none;}
.mob_header .mob_nav .mob_dep1_menu .scroll_area .tb_menu th a{color: #444; font-weight: normal;}
/* mobile nav 2depth menu */
.mob_header .mob_dep2_menu{position: absolute; top: 40px; width: 100%; z-index: 4; text-align: center;}
.mob_header .mob_dep2_menu dl{display: none; padding: 15px; background-color: #fff;}
.mob_header .mob_dep2_menu dl.lft_menu{float: left;}
.mob_header .mob_dep2_menu dl.rgh_menu{float: right;}
.mob_header .mob_dep2_menu dl.show{display: inline-block; border: 2px solid #000039;}
.mob_header .mob_dep2_menu dt{text-align: left;}
.mob_header .mob_dep2_menu dd{padding-top: 5px;}
.mob_header .mob_dep2_menu dt:nth-of-type(1n+2){margin-top: 10px; padding-top: 10px; border-top: 3px solid #000039;}
.mob_header .mob_dep2_menu dd > a{}
.mob_header .mob_dep2_menu dd .mob_rnd_btn{display: inline-block; width: 75px; height: 28px; line-height: 28px; font-size: 13px; text-align: center; border-radius: 6px;}
/* mobile search  */
.mob_header .mob_sch_sec{padding: 10px 15px 8px 15px;}
.mob_header .mob_sch_sec .mob_top_menu{margin-bottom: 8px; height: 30px; }
.mob_header .mob_sch_sec li{float: left;}
.mob_header .mob_sch_sec li:nth-child(1){}
.mob_header .mob_sch_sec li:nth-child(1) img{width: 35.5px;}
.mob_header .mob_sch_sec li:nth-child(2){width: calc(100% - 72px);}
.mob_header .mob_sch_sec li:nth-child(2) h1{text-align: center;}
.mob_header .mob_sch_sec li:nth-child(2) h1 img{width: 112px;}
.mob_header .mob_sch_sec li:nth-child(3){}
.mob_header .mob_sch_sec .search_bar{}
.mob_header .mob_sch_sec .search_bar .ipt_search_bar{float: left; width: calc(100% - 40px); height: 36px; border: 2px solid #000039;}
.mob_header .mob_sch_sec .search_bar .btn_search{float: left; width: 40px; height: 36px; text-indent: -99999px; background: #000039 url(/static/img/main/ico_search.png) 50% 50% no-repeat; background-size: 16.5px 15px; border: 1px solid #000039;}
/* hamberger button */
.menu-trigger {}
.menu-trigger,.menu-trigger span {display: inline-block; transition: all .4s; box-sizing: border-box;}
.menu-trigger {position: relative; width: 32px; height: 24px; border:none; background-color: #fff;}
.menu-trigger span { position: absolute; left: 0; width: 100%; height: 4px; background-color: #0a73b8; border-radius: 4px;}
.menu-trigger span:nth-of-type(1) {top: 0;}
.menu-trigger span:nth-of-type(2) {top: 10px;}
.menu-trigger span:nth-of-type(3) {bottom: 0;}
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.menu-trigger.on span:nth-of-type(1) {transform: translateY(10px) rotate(-45deg);}
.menu-trigger.on span:nth-of-type(2) {opacity: 0;}
.menu-trigger.on span:nth-of-type(3) {transform: translateY(-10px) rotate(45deg);}
/* hamberger menu */
.bg_dim{display: none; position: fixed; overflow: hidden; z-index: 10;  left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8);}
.hamburger_menu{display: none; position: absolute; /*position: fixed; z-index: 4;*/ right: 0;top: 0px; width: 90%; max-width: 414px; height: 100%; overflow-y: scroll;  background-color: #fff; -webkit-overflow-scrolling: touch;}
.hamburger_menu a.btn{padding: 0 0.75rem;}
.hamburger_menu .m_nav_head{height: 40px;}
.hamburger_menu .m_nav_head li:nth-child(1){float: left; margin-left: 10px;}
.hamburger_menu .m_nav_head li:nth-child(1) img{width: 23px;}
.hamburger_menu .m_nav_head li:nth-child(2){float: left; margin-left: 5px;}
.hamburger_menu .m_nav_head li:nth-child(2) > button{border: none; background-color: #ffffff;}
.hamburger_menu .m_nav_head li:nth-child(3){float: right; margin: 5px 10px 0 0;}
.hamburger_menu .m_nav_body{}
.hamburger_menu .m_nav_body .btn{font-size: 12px;}
.hamburger_menu .m_nav_body > .ul_dep1{}
.hamburger_menu .m_nav_body > .ul_dep1 >li{}
.hamburger_menu .m_nav_body > .ul_dep1 >.li_logout{text-align: center; border-bottom: 1px solid #000039}
.hamburger_menu .m_nav_body > .ul_dep1 >.li_logout a.btn{display: inline-block; margin: 15px 0; height: 30px; line-height: 30px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li .beforeLoginBox .top_area{padding-top: 20px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li .afterLoginBox .top_area{padding: 20px 0 10px 0;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .btn_1depth{display: block; padding-left: 10px; height: 45px; line-height: 45px; font-size: 14px; font-weight: bold; color: #000000; border-bottom: 1px solid #000039; background-color: #eeeeee;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2{text-align: center;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage{display: inline-block; width: 220px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .top_area{border-bottom: 2px solid #000039;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .top_area .link_login_info{}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .top_area .link_login_info li{margin: 0 0 8px 0;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .top_area .link_login_info li a{height: 40px; line-height: 40px; font-size: 12px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .top_area > div{float: left; width: 50%; text-align: center;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .top_area > div > em{font-weight: bold;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .top_area > div > p{font-weight: bold; font-size: 24px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .top_area > div > p > span{font-size: 14px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .mdl_area{padding: 20px 0;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .mdl_area .btn{height: 40px; }
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .mdl_area a.btn{line-height: 40px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .mdl_area > em{display: block; margin: 0 0 5px 0; font-weight: bold;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .mdl_area > p{margin-bottom: 8px; font-weight: bold; font-size: 20px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .mob_mypage .mdl_area > p > span{font-size: 14px;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .block_menu{background-color: #fff1be;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .block_menu dt{float: left; width: 100%;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .block_menu dd{float: left; width: 50%; background-color: #fff; text-align: center; border: 2px solid #dbdbdb;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .block_menu dd:nth-of-type(n+3){border-top: none;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .block_menu dd:nth-of-type(2n){border-left: none;}
.hamburger_menu .m_nav_body > .ul_dep1 >li > .dep2 .block_menu dd a {padding: 8px 0; display: block; color: #000000;}
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin{}
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin > dt{padding: 6px 0; color: #1e2560;   text-align: center;}
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin > dd{float: left; width: 25%; height: 37px; line-height: 35px; border-top: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb;  text-align: center; box-sizing: border-box;}
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin > dd:nth-of-type(1){border-left: 1px solid #dbdbdb; }
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin > dd:nth-of-type(5n){border-left: 1px solid #dbdbdb; }
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin > dd:nth-of-type(n+5){border-bottom: 1px solid #dbdbdb}
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin > dd a{display: block; }
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin > dd img{height: 28px}
.hamburger_menu .m_nav_body > .ul_dep1 >li .available_coin > dd a i{margin-top: 6px; color: #dcdcdc; font-size: 24px;}

/*** content_wrap ***/
.content_wrap{padding-top: 195px;}
/* visual section */
.visual_wrap{height: 450px;}
/* --slick Layout setting-- */
.visual_wrap .visual_sec{position: absolute; z-index: 1; width: 100%; height: 450px; left: 0; overflow: hidden;}
.visual_wrap .visual_sec .slick_visual {position: relative; height: 100%;}
.visual_wrap .visual_sec .slick_visual .slick-list{height: 100%; overflow: hidden;}
.visual_wrap .visual_sec .slick_visual .slick-list .slick-track{width: 100%; height: 100%; }
.visual_wrap .visual_sec .slick_visual .slick-list .slick-track .slick-slide{z-index: 2 !important; height: 100%; display: inline-block; position: relative; top: 0; left: 0; overflow: hidden;}
.visual_wrap .visual_sec .slick_visual .slick-list .slick-track .slick-slide img{width: auto; max-width: initial; height: 100%;position: absolute;top: 0; left: 50%; transform: translateX(-50%);}
.visual_wrap .visual_sec .slick_visual .visual_txt{display: none; position: absolute; z-index: 1; top:30px; left: calc(50% - 500px);}
.visual_wrap .visual_sec .slick_visual .visual_txt .vs_tit{font-size: 48px; color: #fff;}
.visual_wrap .visual_sec .slick_visual .visual_txt .vs_con{margin-top: 20px; font-size: 20px; color: #fff;}
.visual_wrap .visual_sec .slick_visual .slick-arrow{display: none !important; z-index:1; position: absolute; bottom: 30px; left: 50%; width: 20px; height: 40px; text-indent: -99999px;}
.visual_wrap .visual_sec .slick_visual .slick-prev{margin-left: -500px; background: url() 50% 50% no-repeat;}
.visual_wrap .visual_sec .slick_visual .slick-next{margin-left: 500px; background: url() 50% 50% no-repeat;}
.visual_wrap .visual_sec .slick_visual .slick-dots{position: absolute; z-index: 2; bottom: 0; left: 50%; margin-bottom: 20px; margin-left: -50px; width: 150px;  text-align: center;}
.visual_wrap .visual_sec .slick_visual .slick-dots li{display: inline-block;}
.visual_wrap .visual_sec .slick_visual .slick-dots li button{margin-right: 10px; width: 20px; height: 20px; background-color: #fff; border-radius: 50% 50%; border:none; text-indent: -99999px; border: 1px solid #000;}
.visual_wrap .visual_sec .slick_visual .slick-dots li.slick-active button{background-color: red;}
/* fadein / out시 a태그 클릭 중복되지 않게 */
.visual_wrap .visual_sec .slick_visual .slick-slide{visibility: hidden;}
.visual_wrap .visual_sec .slick_visual .slick-current{visibility: visible;}
.visual_wrap .visual_sec .slick_visual .pc_img{}
.visual_wrap .visual_sec .slick_visual .mob_img{display: none;}
/* --slick Layout setting-- */

/* COIN 시세 */
.btm_visual_sec{margin: auto; position: relative; max-width: 1200px; height: 58px;}
.btm_visual_sec .coin_load_text{display: block !important; width: 300px !important; height: 50px !important;}
.btm_visual_sec .coin_load_text em{float: left; margin-left: 30px; font-size: 16px;}
.btm_visual_sec .flow_box{height: 100%;}
.btm_visual_sec .flow_box:nth-child(1){position: absolute; top: 0; left: 0; width: 210px; height: 58px; background-color: #d9edf7;}
.btm_visual_sec .flow_box h1{margin-top: 16px; text-align: center; font-size: 16px;}
.btm_visual_sec .flow_box h1 i{float: left; display: block; margin-left: 20%;}
.btm_visual_sec .flow_box h1 span{float: left; display: block; margin-left: 8px; line-height: 24px;}
.btm_visual_sec .flow_box:nth-child(2){margin-left: 210px; height: 58px; line-height: 58px; }
.btm_visual_sec .flow_box:nth-child(3){position: absolute; left: 175px; top: 10px;}
/* --slick Layout setting-- */
.btm_visual_sec .flow_box .coin_quotes_arrow > div{position: absolute; z-index: 1; bottom: 18px; height: 30px; cursor: pointer;}
.btm_visual_sec .flow_box .coin_quotes_arrow .prev{display: none !important;}
.btm_visual_sec .flow_box .coin_quotes_arrow .next{right: 0px;}
.btm_visual_sec .flow_box .coin_quotes_arrow i{font-size: 30px;}
.btm_visual_sec .flow_box .slick_coin_quotes{position: relative; height: 100%; overflow: hidden;}
.btm_visual_sec .flow_box .slick_coin_quotes *{outline:none;}
.btm_visual_sec .flow_box .slick_coin_quotes .slick-slide{height: 100%; display: inline-block; cursor: pointer;}
.btm_visual_sec .flow_box .slick_coin_quotes .slick-list{height: 100%; overflow: hidden;}
.btm_visual_sec .flow_box .slick_coin_quotes .slick-list .slick-track{width: 100%; height: 100%; }
/* --slick Layout setting-- */
.slick_coin_quotes dl{display: inline-block;}
.slick_coin_quotes dt{float: left; width: 80px; text-align: center; }
.slick_coin_quotes dt .ico_coin{display: inline-block; margin: 0 3px -3px 0; width: 16px; height: 16px; font-size: 16px; background:url(/static/img/main/ico_coin.png) no-repeat 0 0;}
.slick_coin_quotes dt .ico_coin.btc {background-position: 0 0;}
.slick_coin_quotes dt .ico_coin.bch {background-position: -16px 0;}
.slick_coin_quotes dt .ico_coin.btg {background-position: -32px 0;}
.slick_coin_quotes dt .ico_coin.eth {background-position: -48px 0;}
.slick_coin_quotes dt .ico_coin.etc {background-position: -64px 0;}
.slick_coin_quotes dt .ico_coin.xrp {background-position: -80px 0;}
.slick_coin_quotes dt .ico_coin.ltc {background-position: -96px 0;}
.slick_coin_quotes dt .ico_coin.dash {background-position: -112px 0;}
.slick_coin_quotes dt .ico_coin.qtum {background-position: -128px 0;}
.slick_coin_quotes dt .ico_coin.eos {background-position: -144px 0;}
.slick_coin_quotes dt .ico_coin.zec {background-position: -160px 0;}
.slick_coin_quotes dt .ico_coin.xmr {background-position: -176px 0;}
.slick_coin_quotes dd{float: left;}
.slick_coin_quotes dd em{margin-left: 5px; font-weight: bold; font-size: 16px;}

/* primezone */
.primezone_wrap{background-color: #ececec;}
.primezone_sec{position: relative; min-height: 275px;}
.primezone_sec > h1{padding: 20px 0; font-size: 18px; text-align: center; }
.primezone_sec > h1 .crown{display: inline-block; width: 60px; height: 27px; background: url(/static/img/main/ico_prime.png) 50% 100% no-repeat; background-size: 36px 20px;}
.primezone_sec > h1 button{float: right;}
.primezone_sec .slick_primezone{padding-bottom: 50px;}
.primezone_sec .slick_primezone .card_ui{margin: auto;width: 246px;height: 150px;background: #fff;}
.primezone_sec .slick_primezone .card_ui dt{float: left; height: 100%; padding-top: 35px; width:30px; text-align:center; font-size: 16px;  }
.primezone_sec .slick_primezone .card_ui dd{float: left;height: 100%;}
.primezone_sec .slick_primezone .card_ui dd > a{display: block;}
.primezone_sec .slick_primezone .card_ui dd li{margin: 4px;}
.primezone_sec .slick_primezone .card_ui dd li:nth-child(1){ border-bottom: 1px solid #ddd;}
.primezone_sec .slick_primezone .card_ui dd li:nth-child(1) em{display: block;padding: 4px 0;width: 80px;font-size: 12px;border-radius: 8px;font-weight: bold;text-align: center;background-color: #ffc632;color: #ffffff;}
.primezone_sec .slick_primezone .card_ui dd li:nth-child(1) strong{float: right;font-size: 26px;}
.primezone_sec .slick_primezone .card_ui dd li:nth-child(1) strong span{font-size: 14px;}
.primezone_sec .slick_primezone .card_ui dd li:nth-child(2){color: #1e2560;}
.primezone_sec .slick_primezone .card_ui dd li:nth-child(3){width: 190px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: normal; color: #000000;}
.primezone_sec .slick_primezone .card_sell{border: 3px solid #000039;  border-radius: 8px;}
.primezone_sec .slick_primezone .card_buy{border: 3px solid #0a73b8;border-radius: 8px;}
/* --slick Layout setting-- */
.primezone_sec .slick_primezone .slick-list{overflow: hidden;}
.primezone_sec .slick_primezone .slick-slide{height: 100%; display: inline-block;}
.primezone_sec .slick_primezone .slick-dots{position: absolute; z-index: 2; bottom: 0; left: 50%; margin-bottom: 20px; margin-left: -50px; width: 100px;  text-align: center;}
.primezone_sec .slick_primezone .slick-dots li{display: inline-block;}
.primezone_sec .slick_primezone .slick-dots li button{margin-right: 10px; width: 20px; height: 20px; background-color: #fff; border-radius: 50% 50%; border:none; text-indent: -99999px;}
.primezone_sec .slick_primezone .slick-dots li.slick-active button{background-color: red;}
.primezone_sec .primezone_arrow{ }
.primezone_sec .primezone_arrow > div{position: absolute; z-index: 1; bottom: 100px; cursor: pointer;}
.primezone_sec .primezone_arrow .prev{left: -40px;}
.primezone_sec .primezone_arrow .next{right: -40px;}
.primezone_sec .primezone_arrow i{font-size: 60px;}
/*
.primezone_sec .slick_primezone .slick-arrow{z-index:1; position: absolute; top: 50%; margin-top: -25px; width: 20px; height: 50px; text-indent: -99999px;}
.primezone_sec .slick_primezone .slick-prev{left: 0; background: url(/static/img/main/ico_arrow_left.png) 50% 50% no-repeat;}
.primezone_sec .slick_primezone .slick-next{right: 0; background: url(/static/img/main/ico_arrow_right.png) 50% 50% no-repeat;}
*/
/* --//slick Layout setting-- */

/* horizen image 100% banner*/
.w100p_banner{margin-top: 30px; margin-bottom: 30px;}
.w100p_banner img{width: 100%;}
.account_banner{margin: 0 auto 20px; width: 280px;}

/* MACH SERVICE & MACH LINK */
.img_banner_sec{margin-bottom: 40px;}
.img_banner_tit .con_tit{}
.img_banner_tit .con_tit i{margin-bottom: -2px; font-size: 18px;}
.img_banner_tit .con_tit span{margin-left: 5px;}

/* 게임아이템 판매 & 게임아이템 구매 */
.item_trade_sec{position: relative; height: 357px;}
.item_trade_sec h2{padding-top: 2px; width: 50%; height: 40px; text-align: center; border-top: 2px solid #ced4da; border-bottom: 2px solid #ced4da;}
.item_trade_sec .item_sell_tit{float: left; border-left: 2px solid #ced4da; border-right: 2px solid #ced4da;}
.item_trade_sec .item_buy_tit{float: right; border-right: 2px solid #ced4da;}
.item_trade_sec h2 button{border: none; font-size: 16px; font-weight: bold; background-color: transparent;}
.item_trade_sec .trade_list{position: absolute; top: 40px; padding: 20px; width: calc(100% - 30px); box-sizing: border-box; border: 2px solid #ced4da; border-top: none; background-color: rgba(217, 237, 247, 0.25);}
.item_trade_sec .item_buy{display: none;}
.item_trade_sec .trade_list .table{background-color: #ffffff;}
.item_trade_sec .trade_list .table .txt_el{width: 270px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: normal;}
.item_trade_sec .on{border-bottom: none; background-color: rgba(217, 237, 247, 0.25);}
.item_trade_sec .on .btn_show_list{background-color: rgba(217, 237, 247, 0.25); color: #1e2560;}

/* 자산거래 */
.assets_trade_sec{}
.assets_trade_sec .plus_link{margin-top: 10px;}
.assets_trade_sec .bd_area{height: 357px; border: 2px solid #ced4da;;}
.assets_trade_sec .bd_area > a{display: block;}
.assets_trade_sec .assets_tit{height: 40px; line-height: 40px; text-align: center; border-bottom: 2px solid #ced4da;; background-color: #ececec; font-size: 16px;}
.assets_trade_sec .assets_tit i{margin-left: 5px;}
.assets_trade_sec .assets_img{text-align: center; overflow: hidden; height: 200px; line-height: 203px;}
.assets_trade_sec .assets_img img{max-height: 200px;}
.assets_trade_sec dt{margin-top: 20px; padding-left: 10px; font-size: 16px;}
.assets_trade_sec dt .assets_tit_txt{width: 100%;}
.assets_trade_sec dd{margin-top: 10px; padding: 0 10px;}
.assets_trade_sec dd .money_txt{float: left; font-size: 22px; font-weight: bold; color: #1e2560;}
.assets_trade_sec dd .money_txt span{font-size: 14px;}
.assets_trade_sec dd .time_txt{float: right; font-weight: bold; color: #777;}

/* 동영상 */
.media_sec{margin-bottom: 30px;}
.media_sec .plus_link{margin-top: 10px;}
.media_sec .bd_area{border: 1px solid #000039;;}
.media_sec .media_tit{text-align: center; /*padding-left: 10px;*/ height: 40px; line-height: 40px; background-color: #f0f0f0; font-size: 16px;}
.media_sec .media_img_wrap{padding: 15px 10px; display: flex; display: -ms-flexbox;}
.media_sec .media_img_wrap .media_img{width: 32%; margin-left: 2%;}
.media_sec .media_img_wrap .media_img:first-child{margin-left: 0;}
.media_sec .media_img_wrap .media_img a{display: block; text-align: center;}
.media_sec .media_img_wrap .media_img img{max-height: 130px;}
.media_sec .media_img_wrap .media_img h2{text-align: center;}

/* 게임뉴스 */
.gamenews_sec{display: none;}
.gamenews_sec .plus_link{margin-top: 10px;}
.gamenews_sec .bd_area{height: 215px; border: 1px solid #1e2560;}
.gamenews_sec .gamenews_tit{padding-left: 10px; height: 40px; line-height: 40px; background-color: #f0f0f0; font-size: 16px;}
.gamenews_sec ul{padding: 0 10px;}
.gamenews_sec li{width: 100%; margin-top: 15px;}

/* 상장매체 */
.company_sec{margin-bottom: 50px;}
.company_sec .bd_area{border: 1px solid #000039;   }
.company_sec .company_tit{text-align: center; height: 40px; line-height: 40px; background-color: #f0f0f0; font-size: 16px;}
.company_sec .cpn_box_wrap{padding: 30px 20px;}
.company_sec .cpn_box{float: left; margin-left: 1%; width: 15.833%;  height: 60px; text-align: center;}
.company_sec .cpn_box:nth-of-type(6n+1){margin-left: 0;}
.company_sec .cpn_box:nth-of-type(n+7){margin-top: 15px;}
.company_sec .cpn_box a{display: block; padding: 10px 5px; height: 100%; box-sizing: border-box; border: 1px solid #c8c8c8;}
.company_sec .cpn_box a:hover{ box-shadow: 5px 5px 3px #0a062c94;}
.company_sec .cpn_box a img{max-height: 100%; }
.company_sec .cpn_box a i{margin-top: 8px; color: #dcdcdc; font-size: 24px;}
.img_vac{transform: translateY(50%);}

/* 파트너 */
.partners_ci{padding: 20px 0; width: 100%; text-align: center; background-color: #ececec;}
/*
.partners_ci .ci_area > div{}
.partners_ci .ci_area .mob_50p{width: 50%;}
.partners_ci .ci_area img{max-width: 100%;}
*/
/* --slick Layout setting-- */
.partners_ci .ci_area{position: relative; margin: auto; max-width: 1160px;}
.partners_ci .ci_area .slick-list{overflow: hidden;}
.partners_ci .ci_area .slick-slide{height: 100%; display: inline-block;}
.partners_ci .ci_area .slick-slide img{width: 90%;}
.partners_ci .ci_arrow{display: none; position: relative; margin: auto; max-width: 1200px;}
.partners_ci .ci_arrow .ci_ico_arrow{cursor: pointer; position: absolute; top: 50%; z-index: 2;}
.partners_ci .ci_arrow .prev{left: 5px;}
.partners_ci .ci_arrow .next{right: 5px;}
.partners_ci .ci_arrow .ci_ico_arrow i{font-size: 30px;}
/*** footer ***/
.footer{background-color: #4d4e50;}
.footer .footer_content{}
.footer .footer_content .ft_top{margin: auto; padding: 20px 0; max-width: 600px;}
.footer .footer_content .ft_top > div{text-align: center;}
.footer .footer_content .ft_top a{color: #ffffff;}
.footer .footer_content dt{float: left; width: 180px;}
.footer .footer_content dd{float: left; width: calc(100% - 180px);}
.footer .footer_content dd p{margin-bottom: 15px; color: #ffffff;}

/********** Mobile MarkUp CSS **********/
@media (max-width: 1199px){
    .header .nav > .nav_menu > li > .depth2.show{height: auto;}
    .header .nav > .nav_menu > li > .depth2 > li{width: 50%; text-align: center;}

    .assets_trade_sec .bd_area{padding-bottom: 0;}
    .item_trade_sec .trade_list .table th{padding: 0 6px; height: 46px; font-size: 13px;}
    .item_trade_sec .trade_list .table td{padding: 0 6px; height: 46px; font-size: 13px;}   
}
@media (max-width: 992px){
    .header .nav > .nav_menu > li > .depth2 > li{width: 100%;}
    /* visual section */
    .visual_wrap{height: 350px;}
    .visual_wrap .visual_sec{height: 350px;}
    /* COIN 시세 */
    .btm_visual_sec .flow_box:nth-child(1){width: 150px}
    .btm_visual_sec .flow_box:nth-child(2){width: calc(100% - 180px);}
    .img_banner_sec>div{margin-bottom: 20px;}
    .item_trade_sec{margin-bottom: 30px;}
    .item_trade_sec .trade_list .table th{padding: 4px; font-size: 12px;}
    .item_trade_sec .trade_list .table td{padding: 4px; font-size: 12px;}
}
@media (max-width: 767px){/*736*/
    /* header */
    .header{display: none; width: 100%;}
    .mob_header{display: block;}
    .content_wrap{padding-top: 132px;}
    /* visual section */
    .visual_wrap{height: 250px;}
    .visual_wrap .visual_sec{height: 250px;}
    /* COIN 시세 */
    .btm_visual_sec{display: none;}
    /* 게임아이템 판매 & 게임아이템 구매 */
    .item_trade_sec{margin-bottom: 30px;}
    .item_trade_sec .trade_list{overflow-x: scroll;}
    .item_trade_sec .trade_list .table{min-width: 400px;}
    .item_trade_sec .trade_list .table .txt_el{width: 110px;}
    .media_sec{}
    /* 상장매체 */
    /*
    .company_sec .cpn_box{margin-left: 1%; width: 24.25%;}
    .company_sec .cpn_box:nth-of-type(4n+1){margin-left: 0;}
    .company_sec .cpn_box:nth-of-type(7){margin-left: 1%;}
    .company_sec .cpn_box:nth-of-type(n+5){margin-top: 15px;}
    */
    .company_sec .cpn_box{margin-left: 1%; width: 32.333%;}
    .company_sec .cpn_box:nth-of-type(3n+1){margin-left: 0;}
    .company_sec .cpn_box:nth-of-type(n+4){margin-top: 15px;}

    /* ci */
    .partners_ci .ci_arrow{display: block;} 
    .partners_ci .ci_area{margin: 0 30px;}
}
@media (max-width: 576px){
    .mob_hide{display: none;}
    .mob_show{display: block;}
    .img_banner_sec>div{margin-bottom: 15px;}
    .primezone_sec .primezone_arrow .prev {left: 0;}
    .primezone_sec .primezone_arrow .next {right: 0;}    
    /* visual section */
    .visual_wrap .visual_sec .slick_visual .slick-list .slick-track .slick-slide img{max-width: 100%; width: 100%;}
    .visual_wrap .visual_sec .slick_visual .pc_img{display: none;}
    .visual_wrap .visual_sec .slick_visual .mob_img{display: block;}
    /* primezone */
    .primezone_sec{min-height: 210px;}
    .primezone_sec > h1{padding: 15px 0;}
    .primezone_sec .primezone_arrow > div{top: 95px;}
    .primezone_sec .slick_primezone{padding-bottom: 0;}
    .primezone_sec .slick_primezone .card_ui{height: 130px;}
    .primezone_sec .slick_primezone .card_ui dt{padding-top: 25px;}
    .primezone_sec .slick_primezone .card_ui dd li:nth-child(1) strong{font-size: 20px;}
    /**/
    .item_trade_sec h2 button{font-size: 14px;}
    /* footer */
    .footer .footer_content .ft_top > div{display: none;}
    .footer .footer_content .ft_top > div:nth-child(1){display: inline-block; max-width: 50%;}
    .footer .footer_content .ft_top > div:nth-child(2){display: inline-block; max-width: 50%;}
    .footer .footer_content .ft_btm dt{display: none;}
    .footer .footer_content .ft_btm dd{width: 100%;}
    .footer .footer_content .ft_btm dd p{margin-bottom: 0; padding-bottom: 20px;}
    .footer .footer_content .ft_btm dd em{display: none;}
}

/*** animation ***/
/* using in JS */
.fadeIn{animation: fadeIn 0.5s ease-in}
.fadeOut{animation: fadeOut 0.5s ease-out}
@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadeOut {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
/* MACH bot */
.jumpBot{animation: jumpBot 3.4s ease-in-out infinite}
@keyframes jumpBot {
    /*
    90%{top: 15px}
    100%{top: 7.5px}
    */  
}
/* loading */
.lds-facebook {float: left; margin-top: 5px; position: relative; width: 50px; height: 50px;}
.lds-facebook div {display: inline-block;position: absolute;left: 6px;width: 7px;background: #0a73b8;animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;}
.lds-facebook div:nth-child(1) {left: 6px;animation-delay: -0.24s;}
.lds-facebook div:nth-child(2) {left: 22px;animation-delay: -0.12s;}
.lds-facebook div:nth-child(3) {left: 38px;animation-delay: 0;}
/* footer loading */
.ajax_dim{display: none; position: absolute; z-index: 100; text-align: center; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.9)}
.ajax_dim .ajax_spinner_wrap{position: absolute; top: 50%; margin-top: -32px; width: 100%;}
.ajax_dim .ajax_spinner_wrap h1{margin-bottom: 10px; text-align: center; color: #ffffff; font-size: 24px; font-weight: bold;}
.ajax_dim .ajax_spinner_wrap p{font-size: 16px; color: #ffffff;}
.ajax_dim  .lds-dual-ring {display: inline-block;width: 64px;height: 64px;}
.ajax_dim  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes lds-facebook {
    0% {top: 2.5px; height: 44px;}
    50%, 100% {top: 15.5px;height: 19px;}
}

/*** material-icons ***/
/* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }