<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="icon" href="img/core-img/favicon.ico">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">
    <link href="/css/custom/policy/private.css" rel="stylesheet">

    <style>
        .limiter {
            color: white;
        }
        .wrap-login100 {
            margin-top:10%;
            width:1000px;
        }
    </style>
</head>

<body class="background3">
<header class="header_area" id="header">
</header>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
            <textarea class="textarea-custom" rows="30" readonly><%= __('page.agreement.title2Content') %>
                    </textarea>
        </div>
    </div>
</div>
<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script>
    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
    });
</script>
</body>
</html>
