.image{
    width:60%;
    height:60%;
}
.account-panel{
    background: #285478;
}
.item-panel{
    border-radius: 2.4px;
    background-color: #141e46;
}
.currencyUnit{
    color:#97a3b4;
}
.table-head{
    background-color: #052d4c;
}
.item-list{
    border-bottom: 1px solid #789fbf;
}
