.image{
    width:60%;
    height:60%;
}
.item-panel{
    background: #03223b;
}
.btn-custom{
    background: #103d61;
}
.item-title{
    color:#70bfff;
}
.btn-custom2{
    border-radius: 4px;
    background-color: #5f15ff;
}

/* bootstrap custom */
.btn-block{
    width: 20%;
}
