.btn-search{
    background-color: #5f15ff;
}
.text-title{
    background-color: #416f94;
}
.table-head{
    background-color: #052d4c;
}
.item-list{
    border-bottom: 1px solid #789fbf;
}

/* bootstrap custom */
.form-check{
    padding-left:1.4rem
}



