<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/sell/detail.css" rel="stylesheet">
</head>

<body class="background">
<input type="hidden" id="tradePointId">
<header class="header_area" id="header">
</header>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55 detail-container">
            <span class="login100-form-title p-b-32 text-white"><img src="/img/icon-img/sword.png">&nbsp;&nbsp;<span
                    id="game-name"></span> > <span id="game-server"></span></span></span>

            <div class="col-lg-12 col-md-12 col-sm-12 text-white form-inline detail-container2">
                <div class="col-lg-6 col-md-12 col-sm-12 item-img px-0">
                    <img id="itemImage" src="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 px-0">
                    <table class="table item-table">
                        <% if(country=="CN"){ %>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title9') %></td>
                            <td id="region1"></td>
                        </tr>
                        <!--<tr>-->
                            <!--<td class="item-table-title"><%= __('page.sell.game.detail.title10') %></td>-->
                            <!--<td id="region2"></td>-->
                        <!--</tr>-->
                        <% } %>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title1') %></td>
                            <td id="title"></td>
                        </tr>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title2') %></td>
                            <td id="id"></td>
                        </tr>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title3') %></td>
                            <td id="userTag"></td>
                        </tr>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title4') %></td>
                            <td id="game-character"></td>
                        </tr>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title5') %></td>
                            <td id="type"></td>
                        </tr>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title6') %></td>
                            <td id="status"></td>
                        </tr>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title7') %></td>
                            <td class="item-table-cost">
                                <% if(useBlockchain=="Y"){ %>
                                <span id="price"></span> MACH
                                <% } if(usePoint=="Y" && country=="KR"){ %>&nbsp;
                                <span id="point"></span> Point
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="item-table-title"><%= __('page.sell.game.detail.title11') %></td>
                            <td class="item-table-cost"><span id="keywords"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 item-description mt-3">
                    <div class="mt-3 mx-2 item-description-title"><%= __('page.sell.game.detail.title8') %></div>
                    <div class="my-3 mx-2 word-break" id="desc">
                    </div>
                </div>
                <% if(usePoint=="Y" && country=="KR"){ %>
                <div class="txt1 p-b-11 alert-text">
                    <%= __('page.sell.game.detail.info1') %>
                </div>
                <% } %>
            </div>

            <!--<div class="d-flex justify-content-center container-login100-form-btn pt-5">-->
            <!--<button class="login100-form-btn col-6">-->
            <!--Point 거래시작-->
            <!--</button>-->
            <!--<button class="login100-form-btn col-6">-->
            <!--VTR 거래시작-->
            <!--</button>-->
            <!--</div>-->
            <div class="text-center mt-5">
                <div class="d-flex justify-content-center col-lg-12 col-md-12 col-sm-12 form-inline">
                    <% if(useBlockchain=="Y"){ %>
                    <button onclick="startTrade('vtr');"
                       class="login100-form-btn col-lg-3 col-md-6 col-sm-7 text-white mb-1 btn-deal-start btn-start-vtr">
                        <%= __('common.buttons.button1') %>
                    </button>
                    <% } if(usePoint=="Y" && country=="KR"){ %>
                    <button onclick="startTrade('point');"
                            class="login100-form-btn offset-lg-1 col-lg-3 col-md-6 col-sm-7 text-white mb-1 btn-deal-start btn-start-point">
                        <%= __('common.buttons.button2') %>
                    </button>
                    <% } %>
                    <button onclick="location.href='/sells/modify/'+'<%= id %>'"
                            class="login100-form-btn col-lg-3 col-md-6 col-sm-7 text-white mb-1 btn-deal-dm">
                        <%= __('common.buttons.button4') %>
                    </button>
                    <button onclick="deleteItem()"
                            class="login100-form-btn offset-lg-1 col-lg-3 col-md-6 col-sm-7 text-white mb-1 btn-deal-dm">
                        <%= __('common.buttons.button5') %>
                    </button>
                    <button onclick="updateTradePoint('buy');"
                            class="login100-form-btn col-lg-3 col-md-6 col-sm-7 text-white mb-1 btn-deal-buy">
                        <%= __('common.buttons.button25') %>
                    </button>
                    <button onclick="updateTradePoint('sell');"
                            class="login100-form-btn offset-lg-1 col-lg-3 col-md-6 col-sm-7 text-white mb-1 btn-deal-sell">
                        <%= __('common.buttons.button26') %>
                    </button>
                    <button onclick="deleteTradePoint();"
                            class="login100-form-btn offset-lg-1 col-lg-3 col-md-6 col-sm-7 text-white mb-1 btn-deal-delete">
                        <%= __('common.buttons.button27') %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<script src="/javascript/util.js"></script>
<script>
    let status, coin, point;
    let roomToken, vtrTempId;
    let from_userTag, to_userTag;

    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");
        $(".login100-form-btn").css('display','none');

        $.ajax({
            method: "GET",
            url: "/v1/items/" + "<%= id%>"
        }).done(function (success) {
            console.log(success);
            let userId = "<%= userId %>";
            let country = "<%= country %>";

            status = success.data.status;
            roomToken = success.data.roomToken;
            from_userTag = success.data.from_userTag;
            to_userTag = success.data.to_userTag;
            vtrTempId = success.data.vtrTempId;
            coin = success.data.price;
            point = success.data.point;

            if(success.data.images != undefined && success.data.images.length > 0) {
                $("#itemImage").attr("src", success.data.images[0].path);
            } else {
                $("#itemImage").attr("src", "/image/no-image.png");
                $(".item-img").css("overflow","hidden");
            }

            $("#game-name").text(success.data.game_name);
            $("#game-server").text(success.data.game_server);
            $("#title").text(success.data.title);
            $("#id").text(success.data._id);
            $("#userTag").text(success.data.userTag);
            $("#game-character").text(success.data.game_character);

            if (country == "CN") {
                $("#region1").text(success.data.china_region1);
                //$("#region2").text(success.data.china_region2);
            }

            if (success.data.type == "item") {
                $("#type").text("<%= __('page.sell.game.detail.type1') %>");
            } else if (success.data.type == "gameMoney") {
                $("#type").text("<%= __('page.sell.game.detail.type2') %>");
            }

            if (success.data.status == 0) {
                $("#status").text("<%= __('page.sell.game.detail.status1') %>");
            } else if(success.data.status==1 || success.data.status==2 || success.data.status==3){
                $("#status").text("<%= __('page.sell.game.detail.status2') %>");
            } else if (success.data.status == 101) {
                $("#status").text("<%= __('page.sell.game.detail.status3') %>");
            } else if (success.data.status == 4) {
                $("#status").text("<%= __('page.sell.game.detail.status4') %>");
            }

            $("#price").text(numberWithCommas(coin));
            $("#point").text(numberWithCommas(point));
            $("#desc").html(success.data.desc.replace(/\n/g, '<br>'));
            $("#keywords").text(success.data.item_tag);


            if (userId === success.data.userTag) {
                $(".btn-deal-start").css("display", "none");
                $(".btn-deal-dm").css("display", "block");
            } else {
                $(".btn-deal-start").css("display", "block");
            }

            $(".btn-deal-buy").css("display", "none");
            $(".btn-deal-sell").css("display", "none");
            $(".btn-deal-delete").css("display", "none");

            if(success.data.status==1 || success.data.status==2 || success.data.status==3){
                if (success.data.vtr_btn_active) {
                    $(".btn-start-point").css("display", "none");
                    $(".btn-deal-dm").css("display", "none");
                    $(".btn-start-vtr").css("display", "");
                    $(".btn-start-vtr").text("<%= __('common.buttons.button29') %>");
                } else {
                    $(".btn-deal-start").css("display", "none");
                    $(".btn-deal-dm").css("display", "none");
                }
            } else if (success.data.status == 101) {
                if (success.data.point_btn_active) {
                    $('#tradePointId').val(success.data.tradePointId);
                    $(".btn-deal-start").css("display", "none");
                    $(".btn-deal-delete").css("display", "");
                } else {
                    $(".btn-deal-start").css("display", "none");
                }

                if (success.data.tradePoint != undefined) {
                    if (success.data.tradePoint.sell_status == undefined) {
                        console.log(userId, success.data.userTag);
                        if (userId === success.data.userTag) {
                            $(".btn-deal-dm").css("display", "none");
                            $(".btn-deal-buy").css("display", "none");
                            $(".btn-deal-sell").css("display", "");
                            if (!success.data.tradePoint.buy_status) {
                                $(".btn-deal-sell").prop("disabled", true);
                                $(".btn-deal-sell").text("<%= __('common.buttons.button28') %>");
                            }
                        } else {
                            $(".btn-deal-buy").css("display", "");
                            if (success.data.tradePoint.buy_status && !success.data.tradePoint.sell_status) {
                                $(".btn-deal-buy").prop("disabled", true);
                                $(".btn-deal-buy").text("<%= __('common.buttons.button28') %>");
                            }
                        }
                    } else {
                        $(".btn-deal-buy").css("display", "none");
                    }
                }
            } else if (success.data.status == 4) {
                $(".btn-deal-start").css("display", "none");
                $(".btn-deal-dm").css("display", "none");
                $(".btn-deal-buy").css("display", "none");
                $(".btn-deal-sell").css("display", "none");
                $(".btn-deal-delete").css("display", "none");
            }
        }).fail(function (fail) {
            swal({
                text: "<%= __('common.errorMessage.serverError') %>",
                button: "<%= __('common.buttons.button10') %>"
            });
        })
    });

    function deleteItem() {
        console.log('delte start ', status);

        swal("<%= __('page.sell.game.detail.validation.alert1') %>", {
            buttons: {
                next2: "<%= __('common.buttons.button23') %>",
                next: "<%= __('common.buttons.button10') %>",
            }
        }).then((value) => {
            if (value == "next2") {
                return false;
            } else if (value == "next" && status != 0) {
                swal({
                    text: "<%= __('page.sell.game.detail.validation.alert2') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });

            } else {

                $.ajax({
                    method: "DELETE",
                    url: "/v1/items/" + '<%= id %>'
                }).done(function (success) {
                    location.href = "/sells"
                }).fail(function (fail) {
                    swal({
                        text: "<%= __('common.errorMessage.deleteError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                });

            }

        })
    }

    function makeid()
    {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for( var i=0; i < 20; i++ )
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }

    function startTrade(type) {

        if (type == "vtr") {
            let url = "/v1/items/check/coin/" + "<%= id%>";
            let roomtoken = makeid();
            if(roomToken != roomtoken) {
                roomToken = roomtoken;
            }
            let popup;
            if (isMobile()) {
                popup = window.open('about:blank', "room" + roomToken);
            }

            $.ajax({
                method:"GET",
                url:url
            }).done(function (success){
                console.log(success);
                if(success.data.check_total_coin == true || "<%=userId%>" == $('#userTag').text()){
                    if(status == 0) {
                        if(coin == 0) {
                            alert('MACH 금액이 0인 거래는 거래 신청을 할 수 없습니다.');
                            return;
                        }

                        let body = {
                            "user_id": "<%= userId %>",
                            "roomToken": roomtoken,
                            "buyer_id":"<%= userId %>",
                            "seller_id":$('#userTag').text(),
                            "status": 1,
                            "cmod": "deal"
                        };

                        $.ajax({
                            method: "PUT",
                            url: "/v1/items/updateStatus/" + $('#id').text(),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(body),
                        }).done(function (data) {
                            //location.href = "/buys"
                            $('.btn-deal-start').css('display', 'none');
                            console.log(data);
                            // window.open(success.data.resultUrl, $('#id').text());
                            if(isMobile()) {
                                popup.location.href = data.data;
                            } else {
                                window.open(data.data, "room" + roomtoken, 'toolbar=no,\n' +
                                    '                                    location=no,\n' +
                                    '                                    status=no,\n' +
                                    '                                    menubar=no,\n' +
                                    '                                    scrollbars=yes,\n' +
                                    '                                    resizable=yes,\n' +
                                    '                                    width=550,\n' +
                                    '                                    height=850');
                            }
                            location.href = "/sells/detail/" + "<%= id%>";
                        }).fail(function (fail) {
                            swal({
                                text: "<%= __('common.errorMessage.saveError') %>",
                                button: "<%= __('common.buttons.button10') %>"
                            });
                        });
                    } else {
                        let url = "/room?roomToken="+roomToken+"&itemId="+$('#id').text()+"&user_id="+"<%= userId %>"+"&vtrTempId=" + vtrTempId;
                        if(isMobile()) {
                            popup.location.href = url;
                        } else {
                            window.open(url, "room" + roomToken, 'toolbar=no,\n' +
                                '                                    location=no,\n' +
                                '                                    status=no,\n' +
                                '                                    menubar=no,\n' +
                                '                                    scrollbars=yes,\n' +
                                '                                    resizable=yes,\n' +
                                '                                    width=550,\n' +
                                '                                    height=850');
                        }
                    }
                }else{
                    swal({
                        text: "<%= __('common.errorMessage.machError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                }
            }).fail(function (fail){
                if(fail.status == "403") {
                    swal({
                        text: "<%= __('common.errorMessage.noMobileError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                } else {
                    swal({
                        text: "<%= __('common.errorMessage.serverError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                }
            })

        } else {
            if(point == 0) {
                alert('Point 금액이 0인 거래는 거래 신청을 할 수 없습니다.');
                return;
            }

            let url = "/v1/items/check/point/" + "<%= id%>";
            $.ajax({
                method: "GET",
                url: url
            }).done(function (success) {
                if (success.data.check_total_coin == true  || "<%=userId%>" == $('#userTag').text()) {
                    let param = {
                        "itemId": $("#id").text(),
                        "from_userId": $("#userTag").text(),
                        "point": $("#point").text().replace(",",""),
                        "trade": "sell"
                    };
                    $.ajax({
                        method: "POST",
                        url: "/v1/tradePoints/",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(param),
                    }).done(function (success) {
                        //location.href = "/buys"
                        console.log("tradepoint : ", success);
                        $('#tradePointId').val(success.data.tradePointId);
                        $(".btn-deal-start").css("display", "none");
                        $(".btn-deal-buy").css("display", "");
                        $(".btn-deal-sell").css("display", "none");
                        $(".btn-deal-dm").css("display", "none");
                        $(".btn-deal-delete").css("display", "");
                    }).fail(function (fail) {
                        swal({
                            text: "<%= __('common.errorMessage.saveError') %>",
                            button: "<%= __('common.buttons.button10') %>"
                        });
                    });
                } else {
                    swal({
                        text: "<%= __('common.errorMessage.pointError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                }
            }).fail(function (fail) {
                swal({
                    text: "<%= __('common.errorMessage.serverError') %>",
                    button: "<%= __('common.buttons.button10') %>"
                });
            });
        }
    }

    function updateTradePoint(tradeType) {

        let text;
        if (tradeType == "buy") {
            text = "<%= __('page.buy.game.detail.validation.alert3') %>"
        } else {
            text = "<%= __('page.buy.game.detail.validation.alert4') %>"
        }

        swal(text, {
            buttons: {
                btnCancel: "<%= __('common.buttons.button23') %>",
                next: "<%= __('common.buttons.button10') %>",
            }
        }).then((value) => {
            if (value == "btnCancel") {
                return false;
            } else {
                let param = {"status": true, "pointTax": 0.03};
                $.ajax({
                    method: "PUT",
                    url: "/v1/tradePoints/" + $('#tradePointId').val() + "/trade/" + tradeType,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(param),
                }).done(function (success) {
                    console.log(success);

                    if (success.data != undefined) {
                        if (success.data.resultType == 0) {
                            swal({
                                text: success.data.resultMsg,
                                button: "<%= __('common.buttons.button10') %>"
                            });
                            return;
                        }
                    }

                    if (tradeType == "buy") {
                        swal({
                            text: "<%= __('page.buy.game.detail.validation.alert5') %>\r\n<%= __('page.buy.game.detail.validation.alert6') %>",
                            button: "<%= __('common.buttons.button10') %>"
                        });
                        $(".btn-deal-buy").prop("disabled", true);
                        $(".btn-deal-buy").text("<%= __('common.buttons.button28') %>");
                    } else {
                        swal({
                            text: "<%= __('page.buy.game.detail.validation.alert7') %>",
                            button: "<%= __('common.buttons.button10') %>"
                        });
                        $(".btn-deal-sell").css("display", "none");
                        $(".btn-deal-delete").css("display", "none");
                    }
                }).fail(function (fail) {
                    swal({
                        text: "<%= __('common.errorMessage.saveError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                });
            }
        });
    }

    function deleteTradePoint() {
        swal("<%= __('page.buy.game.detail.validation.alert8') %>", {
            buttons: {
                btnCancel: "<%= __('common.buttons.button23') %>",
                next: "<%= __('common.buttons.button10') %>",
            }
        }).then((value) => {
            if (value == "btnCancel") {
                return false;
            } else {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/tradePoints/" + $('#tradePointId').val() + "/sell"
                }).done(function (success) {
                    console.log(success)

                    if (success.data.resultType != undefined) {
                        if (success.data.resultType == 0) {
                            swal({
                                text: success.data.resultMsg,
                                button: "<%= __('common.buttons.button10') %>"
                            });
                            return;
                        }
                    }

                    swal({
                        text: "<%= __('page.buy.game.detail.validation.alert9') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });

                    let userId = "<%= userId %>";
                    if (userId === success.data.userTag) {
                        console.log(userId == success.data.userTag);
                        $(".btn-deal-dm").css("display", "block");
                        $(".btn-deal-start").css("display", "none");
                    } else {
                        $(".btn-deal-dm").css("display", "none");
                        $(".btn-deal-start").css("display", "");
                    }
                    $(".btn-deal-sell").css("display", "none");
                    $(".btn-deal-buy").css("display", "none");
                    $(".btn-deal-delete").css("display", "none");
                }).fail(function (fail) {
                    swal({
                        text: "<%= __('common.errorMessage.saveError') %>",
                        button: "<%= __('common.buttons.button10') %>"
                    });
                });
            }
        });
    }
</script>
</body>
</html>

