<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->
    <script>
        var category1 = "<%= category1 %>";
        var category2 = "<%= category2 %>";
        var trade_type = "<%= trade_type %>";
        var type = "<%= type %>";
        var title = "<%= title %>";
        var category = "<%= category %>";
        var pageIdx = 0;
        var status = "<%= status %>";

        $(document).ready(function () {
            resetSearchFilter(".search_filter");

            $("#list").html('');
            loadGameList();
            search();
            
            $('#btn_search').click(function() {
                $("#list").html('');
                pageIdx = 0;
                type = $('[name=item_type]:checked').val();
                title = $('#item_title').val();
                status = $('[name=status]:checked').val();

                search();
            });

            $('#item_title').on("keydown", function(e) {
                if(e.keyCode === 13){
                    $('#btn_search').trigger('click');
                }
            });

            $('#more_search').click(function() {
                pageIdx++;
                search();
            });

            $("#game-name").on('change', function() {
                category1 = $("#game-name option:selected").val();
                
                if (category1 === "") { 
                    $("#category1").text("전체");
                } else {
                    $("#category1").text(category1);
                }

                selectServer();
            });

            $("input[name='item_type'], input[name='status']").on('change', function() {
                $('#btn_search').trigger('click');
            });

            $('#register').on('click',function() {
                location.href = '/etc-buys/register';
            });

            // $("#game-server").on('change', function() {
            //     game_server = $("#game-server option:selected").val();
            // });
        });

        function loadGameList() {
            $.ajax({
                method: "GET",
                url: "/v1/categories"
            }).done(function (success) {
                var strDOM = '<option value="">전체</option>';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].category1 + '">' + success.data[i].category1 + '</option>'
                }

                $("#game-name").append(strDOM);

                $("#game-name").selectpicker('refresh');
                selectServer();
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function selectServer() {
            if ($("#game-name option").val() != null) {
                $("#game-server option").remove();
            }
            
            if (category1 == "") {
                renderServerSelect({"gategory2":[]});
                return false;
            }

            // $.ajax({
            //     method: "GET",
            //     url: "/v1/categories/" + category1
            // }).done(function (success) {
            //     renderServerSelect(success.data);
            // }).fail(function (fail) {
            //     console.log(fail);
            // })
        }

        function renderServerSelect(data) {
            var strDOM = '<option value="">선택하세요</option>';

            for (var i = 0; i < data.gategory2.length; i++) {
                strDOM += '<option value="' + data.gategory2[i] + '">' + data.gategory2[i] + '</option>'
            }
            $("#game-server").append(strDOM);
            $("#game-server").selectpicker('refresh');
        }

        function search() {
            if(category == "") category = "etc";
            if(trade_type == "") trade_type = "buy";
            if(pageIdx == "") pageIdx = 0;

            var query = "/v1/items?category=" + category + "&trade_type=" + trade_type + "&pageIdx=" + pageIdx;
            if (category1 != "") {
                //query += "&category1=" + category1 + "&category2=" + category2;
                query += "&category1=" + encodeURIComponent(category1);
            } 

            if(type != "") {
                query += "&type=" + type;
            }

            if(status != "") {
                query += "&status=" + status;
            }

            if(title != "" && title != "undefined") {
                query += "&title=" + encodeURIComponent(title);
            }

            $.ajax({
                method: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                url: query
            }).done(function (success) {
                console.log(success.data);
                if (success.data.count != 0) {
                    pageIdx = success.pageIdx;
                    createData(success.data.list);
                } else {
                    if(pageIdx == 0) {
                        $("#list").html("<tr><td colspan='5'>검색 결과를 찾을 수 없습니다.</td></tr>")
                    }
                }

                if(success.data.count < 20) {
                    $('#more_search').hide();
                } else {
                    $('#more_search').show();
                }
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function createData(data) {
            var strDOM = '';
            for (var i = 0; i < data.length; i++) {

                var itemId = data[i]._id;
                var regDate = data[i].regDate.substring(2, 10);
                var etc_category = data[i].category1  == undefined ? '-' : data[i].category1;
                var title = data[i].title;
                var price = numberWithCommas(data[i].price);
                var point = numberWithCommas(data[i].point);
                var status = getStatus(data[i].status);
                var delivery_type = getDelivery(data[i].delivery_type == undefined ? "direct" : data[i].delivery_type, "buy");
                var trade_type = replaceType(data[i].trade_type);

                strDOM += '<tr onclick="detail(\''+itemId+'\');">' + 
                                '<td>'+etc_category+'</td>' + 
                                '<td>' + 
                                    '<span class="btn_cmm_bd '+delivery_type.className+'">'+ delivery_type.text +'</span>' + 
                                    '<div class="ellipse"> ' + title + 
                                    '</div>' + 
                                '</td>' + 
                                '<td>'+ price +' MACH</td>' + 
                                '<td>' + 
                                    '<span class="'+status.className+'">'+status.text+'</span>' + 
                                '</td>' + 
                                '<td>'+regDate+'</td>' + 
                            '</tr>';
            }

            $("#list").append(strDOM);
        }

        function detail(id) {
            location.href="/etc-buys/detail/" + id;
        }
    </script>
    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- list page-->
            <section class="board_sec c_style_buy">
                <div class="board_tit cf">
                    <h1>자산거래 삽니다<span><span id="category1">전체</span></span></h1>
                    <button class="btn btn-success" id="register">구매등록</button>
                </div>
                <div class="search_filter">
                    <ul class="">
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">카테고리</h2>
                            <div class="check_filter col-sm-10 col-xs-12">
                                <select class="selectpicker" id="game-name" data-live-search="true">
                                </select>
                                <!-- <select class="selectpicker" id="game-server" data-live-search="true">
                                </select> -->
                            </div>
                        </li>
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">상품유형</h2>
                            <div class="check_filter col-sm-10 col-xs-12">
                                <input type="radio" name="item_type" id="all" value="" checked><label for="all">전체</label>
                                <input type="radio" name="item_type" id="direct" value="direct"><label for="direct">직거래</label>
                                <input type="radio" name="item_type" id="delivery" value="delivery"><label for="delivery">택배 거래</label>
                            </div>
                        </li>
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">거래상태</h2>
                            <div class="check_filter col-sm-10 col-xs-12">
                                <input type="radio" name="status" id="trade_all" value="" checked><label for="trade_all">전체</label>
                                <input type="radio" name="status" id="trade_start" value="0"><label for="trade_start">거래가능</label>
                                <input type="radio" name="status" id="trading" value="1"><label for="trading">거래중</label>
                                <input type="radio" name="status" id="trade_complete" value="4"><label for="trade_complete">거래완료</label>
                            </div>
                        </li>
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">상품검색</h2>
                            <div class="col-sm-10 col-xs-12">
                                <div class="w100p-120px">
                                    <input type="text" class="form-control" id="item_title">
                                </div>
                                <div class="mob_100p_tar">
                                    <input type="button" class="btn btn-primary" id="btn_search" value="검색">
                                </div>
                            </div>
                        </li>                        
                    </ul>
                </div>

                <div class="table_wrap table-responsive">
                    <table class="table_list has_etc_icon table">
                        <colgroup class="colgroup_etc-buy_list">
                            <col class="col5_1">
                            <col class="col5_2">
                            <col class="col5_3">
                            <col class="col5_4">
                            <col class="col5_5">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>카테고리</th>
                                <th>제목</th>
                                <th>거래가격</th>
                                <th>거래상태</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody id="list">
                        </tbody>
                    </table>                 
                </div>
                <div class="btn_align_c">
                    <button class="btn btn_more_list" id="more_search">20개 더보기</button>
                </div>
            </section>
            <!--// list page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        