<!DOCTYPE html>
<html>
<head>
    <% include ../../include/head.html %>
    <script>
        $(document).ready(function() {
            $('.board_detail').css('display','none');
            getEvents();
        });

        function getEvents() {
            $.ajax({
                method: "GET",
                url: "/v1/events/list/past",
            }).done(function (success) {
                console.log(success.data);
                setEvents(success.data.list);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function setEvents(data) {
            var strDOM="";
            if(data.length == 0) {
                strDOM = '<p class="fcrd tac">진행중인 이벤트가 없습니다.</p>';
            }

            for(var i=0; i<data.length; i++) {
                var id = data[i]._id;
                var title = data[i].title;
                var content = data[i].content;
                var eventEnd = data[i].eventEnd;
                var regDate = data[i].regDate.substring(2, 10);

                if(i % 4 == 0) strDOM += '<li class="row">';

                strDOM += '<div class="col-md-3 col-sm-6 col-xs-12">' + 
                    '<div class="img_list_box"><div class="photo_frame">' + 
                        '<a href="/supports/event/detail/'+id+'">'+content+'</a>' + 
                        '</div><dl>' + 
                            '<dt>' + 
                                '<div class="ellipse"><a href="/supports/event/detail/'+id+'">'+title+'</a></div>' + 
                            '</dt>' + 
                            '<dd class="cf">' + 
                                '<div class="time_txt">'+regDate+'</div>  ' + 
                            '</dd>' + 
                        '</dl>' + 
                    '</div>' + 
                '</div>';
        
                if(i % 4 == 3) strDOM += '</li>';
            }
            $('#event_list').append(strDOM);
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../../include/header.html %>
        <% include ../../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../../include/support_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- support -->
                    <section class="support_sec">
                        <h1 class="tit_support">이벤트</h1>
                        <div class="tab_board cf">
                            <li><a href="/supports/event">진행중인 이벤트</a></li>
                            <li class="on"><a href="/supports/event/past">지난 이벤트</a></li>
                        </div>
                        <div class="tac">
                            <div class="mb50"></div>
                            <p class="fcrd tac">진행중인 이벤트가 없습니다.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../../include/footer.html %>
</div>
</body>