<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_buy">
                <div class="board_tit cf">
                    <h1>게임아이템 삽니다<span>수정</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <!-- 거래정보 -->
                <div class="table_wrap table-responsive">
                        <table class="table_view table">
                            <colgroup class="colgroup_buy_modify">
                                <col class="col2_1">
                                <col class="col2_2">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th colspan="2">거래정보</th>
                                </tr>
                            </thead>
                            <tbody>                           
                                <tr>
                                    <th>게임>서버</th>
                                    <td>
                                        <div id="virture_h" class="virture_h">
                                            <select class="selectpicker" id="item-game-name" data-live-search="true">
                                            </select>
                                            <select class="selectpicker" id="game-server" data-live-search="true">
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>상품유형</th>
                                    <td>
                                        <div class="form-inline radio_wrap">
                                            <div class="form-group">
                                                <input type="radio" name="item_type" id="item" value="item" checked><label for="item">아이템</label>
                                            </div>
                                            <div class="form-group">
                                                    <input type="radio" name="item_type" id="gameMoney" value="gameMoney"><label for="gameMoney">게임머니</label>
                                            </div>  
                                            <div class="form-group">
                                                    <input type="radio" name="item_type" id="etc" value="etc"><label for="etc">기타</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>거래제목</th>
                                    <td><input type="text" class="form-control" id="title" placeholder="거래 제목 입력"></td>
                                </tr>
                                <tr>
                                    <th>거래가격</th>
                                    <td>
                                        <div class="no_w100p_wrap">
                                            <input type="number" class="form-control w80p" id="price" min="0" placeholder="거래 가격 입력.">
                                            <em class="fc2">MACH</em>
                                        </div>
                                        <p class="fcrd">※ 1MACH = 1$</p>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <th>거래가격(캐시)</th>
                                    <td>
                                        <div class="no_w100p_wrap">
                                            <input type="text" class="form-control w80p" id="point" placeholder="거래 가격 입력.">
                                            <em class="fc2">CASH</em>
                                        </div>
                                        <p class="fcrd">※ 1CASH = 1원</p>
                                    </td>
                                </tr> -->
                                <tr>
                                    <th>구매자 캐릭터명</th>
                                    <td><input type="text" class="form-control" id="buyer_game_character" placeholder="물품을 전달 받으실 본인의 캐릭터명 입력"></td>
                                </tr>
                                <tr>
                                    <th>상세정보</th>
                                    <td>
                                        <textarea class="form-control" rows="10" id="desc"></textarea>
                                    </td>
                                </tr>
                                <tr class="mrg_cell">
                                    <td colspan="2">
                                        <div class="btn_align_c">
                                            <button class="btn btn_in_view1" id="btnSubmit">수정하기</button>
                                        </div>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>              
                    <!--// 거래정보 -->
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->
            </section>
            <!--// view page-->
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        // 이미지 정보들을 담을 배열
        var itemId;
        var itemGameName;
        var itemGameServer;
        
        $(document).ready(function() {
            $('.selectpicker').selectpicker({
                size: 4
            });

            $("#btnSubmit").on('click', function(){
                submit();
            });

            $("#item-game-name").on('change', function() {
                itemGameName = $("#item-game-name").val();
                itemGameServer = "";
                selectServer();
            });

            getData();
        });

        function getData() {
            $.ajax({
                method: "GET",
                url: "/v1/items/service/" + "<%= id%>"
            }).done(function (success) {
                console.log(success);
                
                itemId = success.data._id;
                var regDate = success.data.regDate;
                var item_game_server = success.data.game_name + '>' + success.data.game_server;
                itemGameName = success.data.game_name;
                itemGameServer = success.data.game_server;
                var title = success.data.title;
                var price = success.data.price;
                var point = success.data.point;
                var status = getStatus(success.data.status);
                var item_type = getItemType(success.data.type);
                var trade_type = replaceType(success.data.trade_type);
                var desc = success.data.desc;
                var game_character = success.data.game_character;
                
                $("[name=item_type]").filter('[value='+success.data.type+']').prop('checked', true);
                $("#title").val(title);
                $("#item-game-name").val(success.data.game_name);
                $("#price").val(price);
                $("#point").val(point);
                $("#desc").text(desc);
                $("#buyer_game_character").val(game_character);

                loadGameList();
                // setTimeout(function(){
                //     selectServer();
                // });
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function loadGameList() {
            $.ajax({
                method: "GET",
                url: "/v1/games"
            }).done(function (success) {
                var strDOM = '';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].game_name + '">' + success.data[i].game_name + '</option>'
                }

                $("#item-game-name").append(strDOM);
                $("#item-game-name").selectpicker('refresh');
                $("#item-game-name").val(itemGameName).attr("selected", "selected");
                $("#item-game-name").selectpicker('refresh');
                selectServer();
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function selectServer() {
            if ($("#item-game-name option").val() != null) {
                $("#game-server option").remove();
            }
            itemGameName = $("#item-game-name option:selected").val();

            if (itemGameName == "") {
                renderServerSelect({"servers":[]});
                return false;
            }
            
            $.ajax({
                method: "GET",
                url: "/v1/games/" + itemGameName
            }).done(function (success) {
                renderServerSelect(success.data);                
                $("#game-server").val(itemGameServer).attr("selected", "selected");
                $("#game-server").selectpicker('refresh');
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function renderServerSelect(data) {
            var strDOM = '<option value="">선택하세요</option>';

            for (var i = 0; i < data.servers.length; i++) {
                strDOM += '<option value="' + data.servers[i] + '">' + data.servers[i] + '</option>'
            }
            $("#game-server").append(strDOM);
            $("#game-server").selectpicker('refresh');
        }

        function submit() {
            var country = "<%= country %>";
            if ($("#item-game-name option:selected").val() == "false") {
                alert('게임명을 선택하세요.');
                return false;
            } else if ($("#game-server option:selected").val() == "") {
                alert('서버명을 선택하세요.');
                return false;
            } else if ($("[name=item_type]:checked").val() == "") {
                alert('상품유형을 선택하세요.');
                return false;
            } else if ($("#title").val() == "") {
                alert('거래제목을 입력하세요.');
                return false;
            } else if ($("#buyer_game_character").val() == "") {
                alert('구매자 케릭터명을 입력하세요.');
                return false;
            } else if ($("#price").val() == "" || $("#price").val() == "0" || parseInt($("#price").val()) < 0) {
                alert('거래 가격을 입력하세요.');
                return false;
            } else if (country == "KR" && ($("#point").val() == "" || $("#point").val() == "0" || parseInt($("#point").val()) < 0)) {
                alert('거래 가격을 입력하세요.');
                return false;
            } else if ($("#desc").val() == "") {
                alert('상세 정보를 입력하세요.');
                return false;
            } else if (country == "CN" && $("#region1").val() == "") {
                alert('지역 1 입력');
                return false;
            } 
            // else if (country == "CN" && $("#region2").val() == "") {
            //     swal({
            //         text: "<%= __('page.sell.game.add.validation.alert11') %>",
            //         button: "<%= __('common.buttons.button10')%>"
            //     });
            //     return false;
            // }

            var data = {
                "userTag": "<%= userTag %>",
                "type": $("[name=item_type]:checked").val(),
                "game_name": $("#item-game-name option:selected").val(),
                "game_server": $("#game-server option:selected").val(),
                "title": $("#title").val(),
                "desc": $("#desc").val(),
                "game_character": $("#buyer_game_character").val(),
                "count": 1
                // "item_tag": $("#keywords").val()
            };
            if ("<%= useBlockchain %>" == "Y") {
                data["price"] = $("#price").val();
            } else {
                data["price"] = 0;
            }
            // if ("<%= usePoint %>" == "Y" && country == "KR") {
            //     data["point"]=$("#point").val();
            // }else{
                data["point"]=0;
            // }

            if(country=="CN"){
                data["china_region1"]=$("#region1").val();
                //data["china_region2"]=$("#region2").val();
            }

            console.log(data);
            // console.log($("#ex_filename")[0].files[0]);

            $.ajax({
                method: "PUT",
                url: "/v1/items/" + itemId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    $("#btnSubmit").attr('disabled', true);
                }
            }).done(function (success) {
                // console.log(success);
                location.href = '/buys/detail/' + itemId;
            }).fail(function (fail) {
                $('#btnSubmit').attr('disabled', false);
            })
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        