<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_buy">
                <div class="board_tit cf">
                    <h1>게임아이템 구매등록</span></h1>
                </div>

                <!-- 거래정보 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_buy_register">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><em class="dot_tit">거래정보 등록</em></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>게임>서버</th>
                                <td>
                                    <div id="virture_h" class="virture_h">
                                        <select class="selectpicker" id="game-name" data-live-search="true">
                                        </select>
                                        <select class="selectpicker" id="game-server" data-live-search="true">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상품유형</th>
                                <td>
                                    <div class="form-inline radio_wrap">
                                        <div class="form-group">
                                            <input type="radio" name="item_type" id="item" value="item" checked><label for="item">아이템</label>
                                        </div>
                                        <div class="form-group">
                                                <input type="radio" name="item_type" id="gameMoney" value="gameMoney"><label for="gameMoney">게임머니</label>
                                        </div>  
                                        <div class="form-group">
                                                <input type="radio" name="item_type" id="etc" value="etc"><label for="etc">기타</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>거래제목</th>
                                <td><input type="text" class="form-control" id="title" placeholder="거래 제목 입력" maxlength="50"></td>
                            </tr>
                            <tr>
                                <th>거래가격</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="number" class="form-control w80p" id="price" min="0" placeholder="거래 가격 입력." onkeypress="return checkDecimal(event)">
                                        <em class="fc2">MACH</em>
                                    </div>
                                    <p class="fcrd">※ 1MACH = 1$</p>
                                </td>
                            </tr>
                            <!-- <tr>
                                <th>거래가격(캐시)</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" id="point" placeholder="거래 가격 입력.">
                                        <em class="fc2">CASH</em>
                                    </div>
                                    <p class="fcrd">※ 1CASH = 1원</p>
                                </td>
                            </tr> -->
                            <tr>
                                <th>구매자 캐릭터명</th>
                                <td><input type="text" class="form-control" id="game_character" placeholder="물품을 전달 받으실 본인의 캐릭터명 입력"></td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    <textarea class="form-control" style="height: 200px;" id="desc"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>              
                <!--// 거래정보 -->

                <ul class="fcrd mb50">
                    <li>※ 입력하신 정보는 구매자가 구매확인 시 판매자에게 전달됩니다.</li>
                    <li>※ 입력하신 정보의 오 기재로 인해 문제가 발생될 수 있으며, 거래신청자에게 책임이 있습니다.</li>
                </ul>

                <div class="btn_align_c">
                    <button class="btn btn_in_view1" id="btnSubmit">등록하기</button>
                </div>
            </section>
            <!--// view page-->
        </div>
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        // 이미지 정보들을 담을 배열
        $(document).ready(function() {
            $('.selectpicker').selectpicker({
                size: 4
            });

            $("#btnSubmit").on('click', function(){
                submit();
            });

            $("#game-name").on('change', function() {
                selectServer();
            });

            loadGameList();
        });

        function loadGameList() {
            $.ajax({
                method: "GET",
                url: "/v1/games"
            }).done(function (success) {
                var strDOM = '<option value="">선택하세요</option>';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].game_name + '">' + success.data[i].game_name + '</option>'
                }

                $("#game-name").append(strDOM);

                $("#game-name").selectpicker('refresh');
                selectServer();
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function selectServer() {
            var gameName;
            if ($("#game-name option").val() != null) {
                $("#game-server option").remove();
            }
            gameName = $("#game-name option:selected").val();

            if (gameName == "") {
                renderServerSelect({"servers":[]});
                return false;
            }

            $.ajax({
                method: "GET",
                url: "/v1/games/" + gameName
            }).done(function (success) {
                renderServerSelect(success.data);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function renderServerSelect(data) {
            var strDOM = '<option value="">선택하세요</option>';

            for (var i = 0; i < data.servers.length; i++) {
                strDOM += '<option value="' + data.servers[i] + '">' + data.servers[i] + '</option>'
            }
            $("#game-server").append(strDOM);
            $("#game-server").selectpicker('refresh');
        }

        function submit() {
            var country = "<%= country %>";
            if ($("#game-name option:selected").val() == "false") {
                alert('게임명을 선택하세요.');
                return false;
            } else if ($("#game-server option:selected").val() == "") {
                alert('서버명을 선택하세요.');
                return false;
            } else if ($("[name=item_type]:checked").val() == "") {
                alert('상품유형을 선택하세요.');
                return false;
            } else if ($("#title").val() == "") {
                alert('거래제목을 입력하세요.');
                return false;
            } else if ($("#game_character").val() == "") {
                alert('구매자 케릭터명을 입력하세요.');
                return false;
            } else if ($("#price").val() == "" || $("#price").val() == "0" || parseInt($("#price").val()) < 0) {
                alert('거래 가격을 입력하세요.');
                return false;
            } else if (country == "KR" && ($("#point").val() == "" || $("#point").val() == "0" || parseInt($("#point").val()) < 0)) {
                alert('거래 가격을 입력하세요.');
                return false;
            } else if ($("#desc").val() == "") {
                alert('상세 정보를 입력하세요.');
                return false;
            } else if (country == "CN" && $("#region1").val() == "") {
                alert('지역 1 입력');
                return false;
            } 
            // else if (country == "CN" && $("#region2").val() == "") {
            //     swal({
            //         text: "<%= __('page.sell.game.add.validation.alert11') %>",
            //         button: "<%= __('common.buttons.button10')%>"
            //     });
            //     return false;
            // }

            var data = {
                "userTag": "<%= userTag %>",
                "type": $("[name=item_type]:checked").val(),
                "trade_type": "buy",
                "category": "game",
                "game_name": $("#game-name option:selected").val(),
                "game_server": $("#game-server option:selected").val(),
                "name": "",
                "title": $("#title").val(),
                "desc": $("#desc").val(),
                "count": 1,
                "game_character": $("#game_character").val(),
                "status": 0,
                // "item_tag": $("#keywords").val(),
                "clicked": 0
            };
            if ("<%= useBlockchain %>" == "Y") {
                data["price"] = $("#price").val();
            } else {
                data["price"] = 0;
            }
            // if ("<%= usePoint %>" == "Y" && country == "KR") {
            //     data["point"]=$("#point").val();
            // }else{
                data["point"]=0;
            // }

            if(country=="CN"){
                data["china_region1"]=$("#region1").val();
                //data["china_region2"]=$("#region2").val();
            }

            console.log(data);
            // console.log($("#ex_filename")[0].files[0]);

            $.ajax({
                method: "POST",
                url: "/v1/items",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    $("#btnSubmit").attr('disabled', true);
                }
            }).done(function (success) {
                // console.log(success);
                location.href = '/buys?category=game&trade_type=buy';
            }).fail(function (fail) {
                $('#btnSubmit').attr('disabled', false);
            })
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        