<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_buy">
                <div class="board_tit cf">
                    <h1>게임아이템 삽니다 <span>VTR 거래신청</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_buy_vtr">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <span>거래 정보</span>
                                    <span class="posting_date"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>     
                            <tr>
                                <th>거래 번호</th>
                                <td><span class="item_id"></span></td>
                            </tr>                      
                            <tr>
                                <th>게임>서버</th>
                                <td><span class="item_game_server"></span><span class="item_type"></span></td>
                            </tr>
                            <tr>
                                <th>거래 제목</th>
                                <td>
                                    <div class="ellipse item_title">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>거래상태</th>
                                <td><span class="item_status"></span></td>
                            </tr>
                            <tr>
                                <th>캐릭터명</th>
                                <td><span class="item_character"></span></td>
                            </tr>
                            <tr>
                                <th>거래 가격</th>
                                <td><p class="txt_price"></p></td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    <span class="item_desc">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->

                <!-- 내 정보 입력 -->
                <div class="table_wrap table-responsive preparation_dim">
                    <!-- 서비스준비중입니다 : 부모클래스 preparation_dim 필요 -->
                    <table class="table_view table">
                        <colgroup class="colgroup_buy_vtr">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><em class="dot_tit">내 정보 입력</em></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>연락처</th>
                                <td><span class="item_phone"></span></td>
                            </tr>
                            <tr>
                                <th>판매자 캐릭터명</th>
                                <td><input type="text" class="form-control" id="buyer_game_character" placeholder="물품을 전달 할 본인의 캐릭터명 입력"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="highligh_list fcrd">
                    <li>※ 입력하신 정보는 구매확정 시 판매자에게 전달됩니다.</li>
                    <li>※ 입력하신 정보 오 기재로 인해 문제가 발생될 수 있으며, 거래신청자에게 책임이 있습니다.</li>
                </ul>              
                <!--// 내 정보 입력 -->

                <!-- 회색테이블 -->
                <div class="table_wrap">
                    <table class="grey_table table_view table">
                        <colgroup class="colgroup_buy_vtr">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><em class="dot_tit">내 지갑정보</em></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>나의 지갑 잔액</th>
                                <td><p class="item_user_price"></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="highligh_list fcrd">
                    <li>※ 나의 지갑 잔액(MACH)이 거래 가격 보다 적다면 결제하실 수 없습니다.</li>
                    <li>※ [MACH 입금] 버튼 또는 [나의페이지-지갑관리]에서 MACH를 입금하실 수 있습니다.</li>
                </ul>
                <div class="btn_align_c">
                    <button class="btn btn_in_view2" onclick="openVtrInfo()">VTR 안내</button>
                    <button class="btn btn_in_view1" id="btnSubmit">VTR 입장하기</button>
                </div>
                <!--// 회색테이블 -->
            </section>
            <!--// view page-->
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        var userTag = "<%= userTag %>";
        var country = "<%= country %>";
        var itemId = "<%= id %>";
        var n_status;
        var to_userTag;
        var mach;
        var total_mach;
    
        $(document).ready(function() {
            getData();

            $("#btnSubmit").on('click', function() {
                openVTR();
            });
        });

        function getData() {
            $.ajax({
                method: "GET",
                url: "/v1/items/service/" + itemId
            }).done(function (success) {
                console.log(success);
                
                itemId = success.data._id;
                var regDate = success.data.regDate;
                var item_game_server = success.data.game_name + ' > ' + success.data.game_server;
                var title = success.data.title;
                mach = success.data.price;
                total_mach = success.data.total_mach;
                var price = numberWithCommas(mach);
                var item_user_price = numberWithCommas(total_mach);
                var point = numberWithCommas(success.data.point);
                n_status = success.data.status;
                var status = getStatus(success.data.status);
                var item_type = getItemType(success.data.type);
                var trade_type = replaceType(success.data.trade_type);
                var desc = replaceDesc(success.data.desc);
                var game_character = success.data.game_character;
                var item_phone = success.data.phone;
                to_userTag = success.data.userTag;
                
                $(".view_emphasis").text(item_type.text);
                $(".posting_date").text("등록일 : " + regDate);
                $(".item_title").text(title);
                $(".item_game_server").text(item_game_server);
                $(".item_type").addClass(item_type.className);
                $(".item_id").text(itemId);
                $(".txt_price").html(price + "<span>MACH</span>");
                $(".item_desc").html(desc);
                $(".item_phone").text(item_phone);
                $(".item_user_price").html(item_user_price + "<span>MACH</span>");
                $(".item_price").text("-" + price + "MACH");
                $(".user_price_balance").text(numberWithCommas(total_mach - mach) + "MACH");
                $(".item_status").text(status.text);
                $(".item_character").text(game_character);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function openVTR() {
            if($("#buyer_game_character").val() == "") {
                alert('구매자 캐릭터명을 입력하십시오.');
                return;
            }

            if(mach == 0) {
                alert('MACH 금액이 0인 거래는 거래 신청을 할 수 없습니다.');
                return;
            }

            var popup;

            var confirmYn = confirm('현재 오픈베타 버전이어서 거래취소 기능은 제공하지 않습니다.\n 거래 취소 시 서비스에서 취소를 할 수 있지만 취소 후 VTR 재 입장시 기능이 정상적으로 동작하지 않을 수 있습니다.\nVTR에 접속하시겠습니까?');

            if(confirmYn) {
                roomToken = makeToken1();
                if (isMobile()) {
                    popup = window.open('about:blank', "room" + roomToken);
                }
            
                var body = {
                    "user_id": userTag,
                    "roomToken": roomToken,
                    "buyer_id": to_userTag,
                    "seller_id": userTag,
                    "status": 50,
                    "cmod": "deal",
                    "game_character":$("#buyer_game_character").val()
                };

                $.ajax({
                    method: "PUT",
                    url: "/v1/items/updateStatus/" + itemId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(body),
                }).done(function (data) {
                    console.log(data);
                    if(isMobile()) {
                        popup.location.href = data.data;
                    } else {
                        window.open(data.data, "room" + roomToken, 'toolbar=no,\n' +
                            '                                    location=no,\n' +
                            '                                    status=no,\n' +
                            '                                    menubar=no,\n' +
                            '                                    scrollbars=yes,\n' +
                            '                                    resizable=yes,\n' +
                            '                                    width=550,\n' +
                            '                                    height=750');
                    }
                    location.href = "/buys/detail/" + itemId;
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        