<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">
    <link href="/css/bootstrap/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive/responsive.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/css/others/util.css" rel="stylesheet">
    <link href="/css/others/main.css" rel="stylesheet">
    <link href="/css/others/icon-font.min.css" rel="stylesheet">
    <link href="/css/custom/common.css" rel="stylesheet">

    <link href="/css/custom/etc-sell/register.css" rel="stylesheet">

</head>

<body class="background">
<header class="header_area" id="header">
</header>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55 register-container">
            <span class="login100-form-title p-b-32 text-white"><img
                    src="/img/icon-img/ic-write.png">&nbsp;&nbsp;<%= __('page.sell.etc.add.bigTitle1') %></span>

            <div class="col-10 offset-1 px-0 mt-4">
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.sell.etc.add.title1') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100 text-white" type="text" name="title" id="title" maxlength="30" placeholder="<%= __('page.sell.etc.add.placeholder.placeholder1') %>">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-inline">
                    <% if(useBlockchain=="Y"){ %>
                    <div class="txt1 col-6 p-b-11 text-white pl-0 mach-account">
                        <%= __('page.sell.etc.add.title2') %>
                    </div>
                    <% } if(usePoint=="Y" && country=="KR"){ %>
                    <div class="txt1 col-6 p-b-11 text-white pl-0">
                        <%= __('page.sell.etc.add.title3') %>
                    </div>
                    <% } %>
                </div>
                <div class="form-inline">
                    <% if(useBlockchain=="Y"){ %>
                    <div class="wrap-input100 col-6 validate-input m-b-12 px-0 mach-account">
                        <input class="input100 text-white" type="number" name="price" id="price" min="0" placeholder="<%= __('page.sell.etc.add.placeholder.placeholder2') %>">
                        <span class="focus-input100"></span>
                    </div>
                    <% } if(usePoint=="Y" && country=="KR"){ %>
                    <div class="wrap-input100 col-6 validate-input m-b-12 px-0">
                        <input class="input100 text-white" type="number" name="point" id="point" min="0" placeholder="<%= __('page.sell.etc.add.placeholder.placeholder3') %>">
                        <span class="focus-input100"></span>
                    </div>
                    <% } %>
                </div>
                <div class="form-inline">
                    <% if(useBlockchain=="Y"){ %>
                    <div class="mach-account col-6 txt1 p-b-6 alert-text">
                        <%= __('page.buy.game.detail.info2') %>
                    </div>
                    <% } if(usePoint=="Y" && country=="KR"){ %>
                    <div class="col-6 txt1 p-b-6 alert-text">
                        <%= __('page.buy.game.detail.info3') %>
                    </div>
                    <% } %>
                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.sell.etc.add.title4') %>
                </div>
                <div class="input100 m-b-12 px-0">
                    <div class="filebox">
                        <input class="upload-name col-8 mr-3" disabled="disabled">
                        <input type="file" id="ex_filename" class="upload-hidden"><label class="text-center col-3"
                                                                                         for="ex_filename"><%=
                        __('common.buttons.button19') %></label>
                    </div>

                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.sell.etc.add.title5') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <textarea class="input100 textarea-custom" id="desc" placeholder="<%= __('page.sell.etc.add.placeholder.placeholder4') %>"></textarea>
                </div>
                <div class="txt1 p-b-11 text-white">
                    <%= __('page.sell.etc.add.title6') %>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100 text-white" type="text" name="keywords" id="keywords" maxlength="120" placeholder="<%= __('page.sell.etc.add.placeholder.placeholder5') %>">
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center container-login100-form-btn mt-4">
                <button class="login100-form-btn" id="btnSubmit" onclick="submit()">
                    <%= __('common.buttons.button3') %>
                </button>
            </div>
        </div>
    </div>
</div>

<footer class="dorne-footer-area">
</footer>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/others/plugins.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
<!-- Bootstrap-select -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-select.min.css">
<script src="/js/bootstrap/bootstrap-select.min.js"></script>
<script>
    $(document).ready(function () {
        $(".header_area").load("/header");
        $(".dorne-footer-area").load("/footer");

        //파일 업로드
        var fileTarget = $('.filebox .upload-hidden');
        fileTarget.on('change', function () { // 값이 변경되면
                if (window.FileReader) { // modern browser
                    var filename = $(this)[0].files[0].name;
                } else { // old IE
                    var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
                }
                // 추출한 파일명 삽입
                $(this).siblings('.upload-name').val(filename);
            }
        );

        $("#price").on("keydown", function(e){
            /* e(지수), .(소수점) -(마이너스) 예외처리 */
            if(e.keyCode == 69 || e.keyCode == 190 || e.keyCode == 189){
                return false;
            }
        });
    });


    function submit() {
        let country = "<%= country %>";

        if ($("#title").val() == "") {
            swal({
                text: "<%= __('page.sell.etc.add.validation.alert1') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#price").val() == "" || $("#price").val() == "0" || parseInt($("#price").val()) < 0) {
            swal({
                text: "<%= __('page.sell.etc.add.validation.alert2') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if (country == "KR" && ($("#point").val() == "" || $("#point").val() == "0" || parseInt($("#point").val()) < 0)) {
            swal({
                text: "<%= __('page.sell.etc.add.validation.alert3') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#ex_filename")[0].files[0] == undefined) {
            swal({
                text: "<%= __('page.sell.etc.add.validation.alert4') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#desc").val() == "") {
            swal({
                text: "<%= __('page.sell.etc.add.validation.alert5') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        } else if ($("#keywords").val() == "") {
            swal({
                text: "<%= __('page.sell.etc.add.validation.alert6') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
            return false;
        }

        let data = {
            "userTag": "<%= userTag %>",
            "trade_type": "sell",
            "category": "etc",
            "name": "",
            "title": $("#title").val(),
            "desc": $("#desc").val(),
            "count": 1,
            "status": 0,
            "item_tag": $("#keywords").val(),
            "clicked": 0
        };
        if ("<%= useBlockchain %>" == "Y") {
            data["price"] = $("#price").val();
        } else {
            data["price"] = 0;
        }

        if ("<%= usePoint %>" == "Y" && country == "KR") {
            data["point"] = $("#point").val();
        } else {
            data["point"] = 0;
        }


        // console.log($("#ex_filename")[0].files[0]);

        $.ajax({
            method: "POST",
            url: "/v1/items",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            beforeSend: function( xhr ) {
                $("#btnSubmit").attr('disabled', true);
                $("#btnSubmit").text("<%= __('common.buttons.button22') %>");
            }
        }).done(function (success) {
            // console.log(success);
            let image = new FormData();
            image.append("image",$("#ex_filename")[0].files[0]);

            $.ajax({
                method: "POST",
                url: "/v1/items/" + success.data._id + "/images",
                processData: false,
                contentType: false,
                data: image
            }).done(function (success) {
                location.href='/etc-sells'

            }).fail(function (fail) {
                $('#btnSubmit').attr('disabled', false);
                $('#btnSubmit').text("<%= __('common.buttons.button3') %>");
                swal({
                    text: "<%= __('common.errorMessage.imageSaveError') %>",
                    button: "<%= __('common.buttons.button10')%>"
                });

            })
        }).fail(function (fail) {
            $('#btnSubmit').attr('disabled', false);
            $('#btnSubmit').text("<%= __('common.buttons.button3') %>");

            swal({
                text: "<%= __('common.errorMessage.saveError') %>",
                button: "<%= __('common.buttons.button10')%>"
            });
        })
    }
</script>
</body>
</html>
