<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_sell">
                <div class="board_tit cf">
                    <h1>자산거래 팝니다<span>바로구매 신청</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_etc-sell_buynow">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <span class="dot_tit">거래 정보</span>
                                    <span class="posting_date"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>     
                            <tr>
                                <th>거래 번호</th>
                                <td><span class="item_id"></span></td>
                            </tr>                      
                            <tr>
                                <th>카테고리</th>
                                <td><span class="item_game_server"></span><span class="delivery_type"></span></td>
                            </tr>
                            <tr>
                                <th>거래 제목</th>
                                <td>
                                    <div class="ellipse item_title">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>거래상태</th>
                                <td><span class="item_status"></span></td>
                            </tr>
                            <tr>
                                <th>거래 가격</th>
                                <td><p class="txt_price"></p></td>
                            </tr>
                            <tr class="mrg_cell trForDel">
                                <td colspan="2">
                                    <div id="fullImg"></div>
                                </td>
                            </tr>
                            <tr class="trForDel">
                                <th>상품이미지</th>
                                <td>
                                    <div class="product_img_list">
                                        <div class="imgs_wrap">
                                            <!--
                                            <div class="thumbnail_box">
                                                <div class="img_view_area">
                                                    <img src="/static/img/main/main_visual02.jpg">
                                                </div>
                                                <a href="javascript:void(0);" onclick="deleteImageAction('img_id_0')" id="img_id_0"></a>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    <span class="item_desc">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->

                <!-- 내 정보 입력 -->
                <div class="table_wrap table-responsive preparation_dim">
                    <!-- 서비스준비중입니다 : 부모클래스 preparation_dim 필요 -->
                    <table class="table_view table">
                        <colgroup class="colgroup_etc-sell_buynow">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><span class="dot_tit">내 정보 입력</span></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>연락처</th>
                                <td><span class="item_phone"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--// 내 정보 입력 -->
                <ul class="highligh_list fcrd">
                    <li>※ 입력하신 정보는 결제 시 구매자에게 전달됩니다.</li>
                    <li>※ 입력하신 정보 오 기재로 인해 문제가 발생될 수 있으며, 거래신청자에게 책임이 있습니다.</li>
                </ul>              

                <!-- 결제정보 -->
                <div class="table_wrap">
                    <table class="table_payment_info table">
                        <colgroup class="colgroup_etc-sell_buynow">
                            <col class="col50p">
                            <col class="col50p">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><span class="dot_tit">결제정보</span></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>나의 지갑 잔액</th>
                                <td><span class="item_user_price"></span></td>
                            </tr>
                            <tr>
                                <th>거래가격</th>
                                <td><span class="item_price"></span></td>
                            </tr>
                            <tr>
                                <th>결제 후 나의 지갑 잔액(예상)</th>
                                <td><span class="user_price_balance"></span></td>
                            </tr>                        
                        </tbody>
                    </table>
                </div>
                <!--// 결제정보 -->
                <ul class="highligh_list fcrd">
                    <li>※ 나의 지갑 잔액(MACH)이 거래 가격 보다 적다면 결제하실 수 없습니다.</li>
                    <li>※ [MACH 입금] 버튼 또는 [나의페이지-지갑관리]에서 MACH를 입금하실 수 있습니다.</li>
                </ul>  
                <div class="btn_align_c">
                    <button class="btn btn_in_view1">결제하기</button>
                </div>             
            </section>
            <!--// view page-->
        </div>
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        // 이미지 정보들을 담을 배열
        var sel_files = [];
        var userId = "<%= userId %>";
        var userTag = "<%= userTag %>";
        var country = "<%= country %>";
        var itemId = "<%= id %>";
        var from_userTag;
        var mach;
    
        $(document).ready(function() {
            //$("#input_imgs").on("change", handleImgFileSelect);

            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });

            $(".btn_in_view1").on('click', function() {
                if($('#buyer_game_character').val() == "") {
                    alert("구매자 캐릭터명을 입력하십시오.");
                    return;
                }

                buynow();
            });

            getData();
        });

        function getData() {
            $.ajax({
                method: "GET",
                url: "/v1/items/service/" + itemId
            }).done(function (success) {
                //console.log(success);
                
                itemId = success.data._id;
                var regDate = success.data.regDate;
                var item_game_server = success.data.category1 == undefined ? '기타' : success.data.category1;
                var title = success.data.title;
                mach = success.data.price;
                var total_mach = success.data.total_mach;
                var price = numberWithCommas(mach);
                var item_user_price = numberWithCommas(total_mach);
                var point = numberWithCommas(success.data.point);
                var status = getStatus(success.data.status);
                var delivery_type = getDelivery(success.data.delivery_type == undefined ? "direct" : success.data.delivery_type);
                var trade_type = replaceType(success.data.trade_type);
                var desc = replaceDesc(success.data.desc);
                var game_character = success.data.game_character;
                var img1th = success.data.images.length == 0 ? '' : "<img src=\"" + success.data.images[0].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                var item_phone = success.data.phone;
                from_userTag = success.data.userTag;
                
                if(success.data.images.length === 0) {
                    $(".trForDel").remove();
                }     

                for(var i=0;i<success.data.images.length; i++) {
                    var html = "<div class=\"thumbnail_box\" id=\"img_id_"+i+"\">";
                                html += '<div class="img_view_area">';
                                html += "<img src=\"" + success.data.images[i].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                                html += '</div>';
                                html += '</div>';
                                                    
                    $(".imgs_wrap").append(html);
                }
                
                //console.log(delivery_type);      
                $(".delivery_type").addClass(delivery_type.className).text(delivery_type.text);
                $(".posting_date").text("등록일 : " + regDate);
                $(".item_title").text(title);
                $(".item_game_server").text(item_game_server);
                $(".item_id").text(itemId);
                $(".txt_price").html(price + "<span>MACH</span>");
                $(".item_desc").html(desc);
                $("#fullImg").html(img1th);
                $(".item_phone").text(item_phone);
                $(".item_user_price").html(item_user_price + "<span class='fzsm'>MACH</span>");
                $(".item_price").html("<em class='em_calc_ico minus'>-</em>" + price + "<span class='fzsm'>MACH</span>");
                $(".user_price_balance").html(numberWithCommas(total_mach - mach) + "<span class='fzsm'>MACH</span>");
                $(".item_status").addClass(status.className).addClass(status.className).text(status.text);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function buynow() {
            var confirmYn = confirm("바로구매 후 판매자와 구매자간 휴대폰 연락을 통해서 가래하시기 바랍니다. \r VTR을 사용하지 않고 개인간 거래 시 거래소에서는 책임을 지지 않습니다.\r 거래를 시작하시겠습니까?");
            if(confirmYn) {
                var params = {
                    "itemId": itemId,
                    "from_userId": from_userTag,
                    "to_userId": userTag,
                    "mach": mach
                };
                //console.log(params);
                $.ajax({
                    method: "POST",
                    url: "/v1/vtrs/buynow",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(params),
                }).done(function (success) {
                    if(success.data.code == undefined) {
                        alert('거래가 시작되었습니다.\r 연락처 표시 버튼을 클릭하여 연락하시기 바랍니다.');
                        location.href = "/etc-sells/detail/"+itemId
                    } else {
                        alert(success.data.msg);
                    }
                }).fail(function (fail) {
                    console.log(fail);
                })
            }
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        