<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_sell">
                <div class="board_tit cf">
                    <h1>자산거래 판매등록</span></h1>
                </div>

                <!-- 거래정보 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_etc-sell_register">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2"><em class="dot_tit">거래정보 등록</em></th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>카테고리</th>
                                <td>
                                    <div id="virture_h" class="virture_h">
                                        <select class="selectpicker" id="game-name" data-live-search="true">
                                        </select>
                                        <!-- <select class="selectpicker" id="game-server" data-live-search="true">
                                        </select> -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상품유형</th>
                                <td>
                                    <div class="form-inline radio_wrap">
                                        <div class="form-group">
                                            <input type="radio" name="item_type" id="direct" value="direct" checked><label for="direct">직거래</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="radio" name="item_type" id="free_delivery" value="free_delivery"><label for="free_delivery">무료배송</label>
                                        </div>  
                                        <div class="form-group">
                                            <input type="radio" name="item_type" id="delivery" value="delivery"><label for="delivery">착불거래</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>거래제목</th>
                                <td><input type="text" class="form-control" id="title" placeholder="거래 제목 입력" maxlength="50"></td>
                            </tr>
                            <tr>
                                <th>거래가격</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="number" class="form-control w80p" id="price" min="0" placeholder="거래 가격 입력." onkeypress="return checkDecimal(event)">
                                        <em class="fc2">MACH</em>
                                    </div>
                                    <p class="fcrd">※ 1MACH = 1$</p>
                                </td>
                            </tr>
                            <!-- <tr>
                                <th>거래가격(캐시)</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" id="point" placeholder="거래 가격 입력.">
                                        <em class="fc2">CASH</em>
                                    </div>
                                    <p class="fcrd">※ 1CASH = 1원</p>
                                </td>
                            </tr> -->
                            <tr class="mrg_cell">
                                <td colspan="2">
                                    <div id="fullImg"></div>
                                    <div class="input_wrap">
                                        <span>고화질 이미지를 업로드시 대기시간이 오래걸립니다.</span>
                                        <button class="btn btn-primary" onclick="fileUploadAction();">이미지 선택</button>
                                        <input type="file" id="input_imgs" multiple/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상품이미지</th>
                                <td>
                                    <div class="product_img_list">
                                        <div class="imgs_wrap">
                                            <!--
                                            <div class="thumbnail_box">
                                                <div class="img_view_area">
                                                    <img src="/static/img/main/main_visual02.jpg">
                                                </div>
                                                <a href="javascript:void(0);" onclick="deleteImageAction('img_id_0')" id="img_id_0"></a>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    <textarea class="form-control" style="height: 200px;" id="desc"></textarea>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>   
                <!--// 거래정보 -->

                <ul class="fcrd mb50">
                    <li>※ 입력하신 정보는 구매자가 구매확인 시 전달됩니다.</li>
                    <li>※ 입력하신 정보의 오 기재로 인해 문제가 발생될 수 있으며, 거래신청자에게 책임이 있습니다.</li>
                </ul>

                <div class="btn_align_c">
                    <button class="btn btn_in_view1" id="btnSubmit">등록하기</button>
                </div>                         
            </section>
            <!--// view page-->
        </div>
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        // 이미지 정보들을 담을 배열
        var sel_files = [];
    
        $(document).ready(function() {
            $("#input_imgs").on("change", handleImgFileSelect)

            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });

            $('.selectpicker').selectpicker({
                size: 4
            });

            $("#btnSubmit").on('click', function(){
                submit();
            });

            $("#game-name").on('change', function() {
                selectServer();
            })

            loadGameList();
        });

        function loadGameList() {
            $.ajax({
                method: "GET",
                url: "/v1/categories"
            }).done(function (success) {
                var strDOM = '<option value="">선택하세요</option>';
                for (var i = 0; i < success.data.length; i++) {
                    strDOM += '<option value="' + success.data[i].category1 + '">' + success.data[i].category1 + '</option>'
                }

                $("#game-name").append(strDOM);

                $("#game-name").selectpicker('refresh');
                selectServer();
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function selectServer() {
            var gameName;
            if ($("#game-name option").val() != null) {
                $("#game-server option").remove();
            }
            gameName = $("#game-name option:selected").val();

            if (gameName == "") {
                renderServerSelect({"category2":[]});
                return false;
            }

            $.ajax({
                method: "GET",
                url: "/v1/categories/" + gameName
            }).done(function (success) {
                renderServerSelect(success.data);
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function renderServerSelect(data) {
            var strDOM = '<option value="">선택하세요</option>';

            for (var i = 0; i < data.category2.length; i++) {
                strDOM += '<option value="' + data.category2[i] + '">' + data.category2[i] + '</option>'
            }
            $("#game-server").append(strDOM);
            $("#game-server").selectpicker('refresh');
        }

        function fileUploadAction() {
            console.log("fileUploadAction");
            $("#input_imgs").trigger('click');
        }
    
        function handleImgFileSelect(e) {
            var $spinner = $("#ajaxSpiner");
            $spinner.show(); // spinner
            var pos = $("#spinnerTarget").offset().top - 100;
            $("html, body").animate({
                "scrollTop":pos
            },0);

            // 이미지 정보들을 초기화
            sel_files = [];
            $(".imgs_wrap").empty();
    
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
    
            if(filesArr.length > 5){
                alert('이미지 업로드는 5개까지 가능합니다.');
                $spinner.hide(); // spinner
                return;
            }
    
            var index = 0;
            filesArr.forEach(function(f) {
                if(!f.type.match("image.*")) {
                    alert("확장자는 이미지 확장자만 가능합니다.");
                    $spinner.hide(); // spinner
                    return;
                }
    
                var reader = new FileReader();
                var image  = new Image();
    
                reader.readAsDataURL(f);
                reader.onload = function(_file) {
                    image.src    = _file.target.result;
                    image.onload = function() {
                        var w = this.width,
                            h = this.height,
                            t = f.type,                           // ext only: // file.type.split('/')[1],
                            n = f.name,
                            s = ~~(f.size / 1024) + 'KB';
    
                        //파일 길이, 높이 체크
                        // if(w > 300 || h > 500) {
                        //     alert('300x500 이하의 이미지만 업로드가 가능합니다');
                        //     return;
                        // }
    
                        sel_files.push({
                            "name": "img_id_"+index,
                            "value": f
                        });
    
                        //var html = "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\" id=\"img_id_"+index+"\"><img src=\"" + _file.target.result + "\" data-file='"+f.name+"' class='selProductFile' title='Click to remove'></a>";
                        
                        var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                            html += '<div class="img_view_area">';
                            html += "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>";
                            html += '</div>';
                            html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\"></a>";
                            html += '</div>';
                                                
                        $(".imgs_wrap").append(html);

                        // 풀이미지 썸네일 로직 추가
                        if(index === 0) {
                            var img1th = "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>"
                            $("#fullImg").html(img1th);
                        }

                        index++;

                        if(filesArr.length === index) {
                            $spinner.hide(); // spinner
                        }
                    }
                }

            });

            //console.log(filesArr[0])
        }
    
        function deleteImageAction(index) {
            console.log("index : "+index);
            var findIndex = -1;
            for (var i = 0; i < sel_files.length; ++i) {
                if(sel_files[i].name == index) {
                    findIndex = i;
                }
            }
    
            if(findIndex > -1) {
                sel_files.splice(findIndex, 1);
            }
    
            $('#' + index).remove();

            console.log("sel length : ",sel_files);

            // 풀이미지 썸네일 로직 추가
            var img1th = $(".imgs_wrap > .thumbnail_box:eq(0) img").clone();
            $("#fullImg").html(img1th)
        }

        function fileUploadAction() {
            console.log("fileUploadAction");
            $("#input_imgs").trigger('click');
        }

        function submit() {
            var country = "<%= country %>";
            if ($("#game-name option:selected").val() == "false") {
                alert('카테고리를 선택하세요.');
                return false
                /*
            } else if ($("#game-server option:selected").val() == undefined) {
                alert('서버명을 선택하세요.');
                return false;
                */
            } else if ($("[name=item_type]:checked").val() == "") {
                alert('상품유형을 선택하세요.');
                return false;
            } else if ($("#title").val() == "") {
                alert('거래제목을 입력하세요.');
                return false;
            } else if ($("#price").val() == "" || $("#price").val() == "0" || parseInt($("#price").val()) < 0) {
                alert('거래 가격을 입력하세요.');
                return false;
            } else if (country == "KR" && ($("#point").val() == "" || $("#point").val() == "0" || parseInt($("#point").val()) < 0)) {
                alert('거래 가격을 입력하세요.');
                return false;
            } else if (sel_files.length == 0) {
                alert('상품 이미지를 업로드 하세요.');
                return false;
            } else if ($("#desc").val() == "") {
                alert('상세 정보를 입력하세요.');
                return false;
            } else if (country == "CN" && $("#region1").val() == "") {
                alert('지역 1 입력');
                return false;
            } 
            
            var data = {
                "userTag": "<%= userTag %>",
                "delivery_type": $("[name=item_type]:checked").val(),
                "trade_type": "sell",
                "category": "etc",
                "category1": $("#game-name option:selected").val(),
                //"category2": $("#game-server option:selected").val(),
                "category2": "기타",
                "name": "",
                "title": $("#title").val(),
                "desc": $("#desc").val(),
                "count": 1,
                "status": 0,
                // "item_tag": $("#keywords").val(),
                "clicked": 0
            };
            if ("<%= useBlockchain %>" == "Y") {
                data["price"] = $("#price").val();
            } else {
                data["price"] = 0;
            }
            // if ("<%= usePoint %>" == "Y" && country == "KR") {
            //     data["point"]=$("#point").val();
            // }else{
            //     data["point"]=0;
            // }
            data["point"]=0;

            if(country=="CN"){
                data["china_region1"]=$("#region1").val();
                //data["china_region2"]=$("#region2").val();
            }

            //console.log(data);
            // console.log($("#ex_filename")[0].files[0]);

            $.ajax({
                method: "POST",
                url: "/v1/items",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    $("#btnSubmit").attr('disabled', true);
                    $("#ajaxSpiner").show(); // spinner
                    var pos = $("#spinnerTarget").offset().top - 100;
                    $("html, body").animate({
                        "scrollTop":pos
                    },0);
                }
            }).done(function (success) {
                // console.log(success);
                submitAction(success.data._id);
                
            }).fail(function (fail) {
                $('#btnSubmit').attr('disabled', false);
                $("#ajaxSpiner").hide(); // spinner
            })
        }
    
        function submitAction(id) {
            //console.log("업로드 파일 갯수 : "+sel_files.length);
            var images = new FormData();
    
            for(var i=0, len=sel_files.length; i<len; i++) {
                var name = "image";
                images.append(name, sel_files[i].value);
            }
            //console.log(images);
            //ajax 처리
            $.ajax({
                method: "POST",
                url: "/v1/items/"+id+"/images",
                processData: false,
                contentType: false,
                data: images
            }).done(function (success) {
                //console.log(success);
                $("#ajaxSpiner").hide(); // spinner
                location.href = '/etc-sells?category=etc&trade_type=sell';
            }).fail(function (fail) {
                console.log('실패',fail);
                $("#ajaxSpiner").hide(); // spinner
            })
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        