<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_sell">
                <div class="board_tit cf">
                    <h1>자산거래 팝니다<span>상세정보</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup class="colgroup_etc-sell_view">
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <em class="view_emphasis"></em>  
                                    <span class="posting_date"></span>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <div class="ellipse item_title">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>카테고리</th>
                                <td><span class="item_game_server"></span></td>
                            </tr>
                            <tr>
                                <th>거래번호</th>
                                <td><span class="item_id"></span></td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td><span class="user_tag"></span></td>
                            </tr>
                            <tr>
                                <th>거래상태</th>
                                <td><span class="item_status"></span></td>
                            </tr>
                            <tr>
                                <th>거래가격</th>
                                <td><p class="txt_price"><span></span></p></td>
                            </tr>
                            <tr class="mrg_cell trForBtn">
                                <td colspan="2">
                                    <div class="btn_align_c">
                                        <button class="btn item_view btn_in_view0" id="openVTR">VTR 입장</button>
                                        <button class="btn item_view btn_in_view1" id="regVTR">VTR 거래신청</button>
                                        <button class="btn item_view btn_in_view2" id="buynow">바로구매</button>
                                        <button class="btn item_view btn_in_view3" id="modify">수정</button>
                                        <button class="btn item_view btn_in_view4" id="remove">삭제</button>
                                        <button class="btn item_view btn_in_view5" id="buyComplete">구매확인</button>
                                        <button class="btn item_view btn_in_view6" id="showPhone">연락처 표시</button>
                                        <button class="btn item_view btn_in_view7" id="sellComplete">판매완료</button>
                                        <button class="btn item_view btn_in_view8" id="cancel">거래취소</button>
                                        <button class="btn item_view btn_in_view9" id="confirm">거래완료</button>
                                        <button class="btn item_view btn_in_view10" id="opposition">이의신청</button>
                                    </div>
                                    <div class="tac">
                                        <a href="javascript:openVtrInfo()">VTR 거래신청이란?</a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="mrg_cell trForDel">
                                <td colspan="2">
                                    <div id="fullImg"></div>
                                </td>
                            </tr>
                            <tr class="trForDel">
                                <th>상품이미지</th>
                                <td>
                                    <div class="product_img_list">
                                        <div class="imgs_wrap">
                                            <!--
                                            <div class="thumbnail_box">
                                                <div class="img_view_area">
                                                    <img src="/static/img/main/main_visual02.jpg">
                                                </div>
                                                <a href="javascript:void(0);" onclick="deleteImageAction('img_id_0')" id="img_id_0"></a>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    <span class="item_desc">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->

                <div class="tar">
                    <button class="btn btn_go_list" onclick="history.back();">목록</button>
                </div>

                <!-- 모달창 -->
                <div class="dim_all_area" style="display: none">
                    <article class="modal_bitberry_deposit">
                        <button id="btnmCloseModal" class="btn">X</button>
                        <h1>연락처 표시</h1>
                        <p>구매자 연락처 : <span id="toPhone"></span></p>
                        <p>판매자 연락처 : <span id="fromPhone"></span></p>
                        <button id="checkok" class="btn btn-danger">확인</button>
                    </article>
                </div>
            </section>
            <!--// view page-->
        </div>
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        // 이미지 정보들을 담을 배열
        var sel_files = [];
        var userTag = "<%= userTag %>";
        var country = "<%= country %>";
        var itemId = "<%= id %>";
        var roomToken;
        var vtrTempId;
    
        $(document).ready(function() {
            //$("#input_imgs").on("change", handleImgFileSelect);

            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });

            getData();

            $('#openVTR').on('click', function() {
                openVTR();
            });

            $('#regVTR').on('click', function() {
                location.href="/etc-sells/vtr/" + itemId;
            });

            $('#buynow').on('click', function() {
                buynow();
            });

            $('#modify').on('click', function() {
                location.href="/etc-sells/modify/" + itemId;
            });

            $('#cancel').on('click', function() {
                cancelItem();
            });

            $('#confirm').on('click', function() {
                confirmItem();
            });

            $('#opposition').on('click', function() {
                oppositionItem();
            });

            $('#remove').on('click', function() {
                removeItem();
            });

            $('#buyComplete').on('click', function() {
                buyComplete();
            });

            $('#sellComplete').on('click', function() {
                sellComplete();
            });

            $('#showPhone').on('click', function() {
                showPhone(itemId);
            });

            $("#btnmCloseModal, #checkok").on("click", function() {
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.hide();
                $body.css("position", "initial");
            });
        });

        function getData() {
            $.ajax({
                method: "GET",
                url: "/v1/items/service/" + itemId
            }).done(function (success) {
                //console.log(success);
                setTimeout(function(){
                    $('.dataLoading').hide();
                }, 300)
                
                itemId = success.data._id;
                roomToken = success.data.roomToken;
                vtrTempId = success.data.vtrTempId;
                var regDate = success.data.regDate;
                var item_game_server = success.data.category1 == undefined ? '기타' : success.data.category1;
                var title = success.data.title;
                var price = numberWithCommas(success.data.price);
                var point = numberWithCommas(success.data.point);
                var status = getStatus(success.data.status);
                var delivery_type = getDelivery(success.data.delivery_type == undefined ? "direct" : success.data.delivery_type);
                var trade_type = replaceType(success.data.trade_type);
                var desc = replaceDesc(success.data.desc);
                var img1th = success.data.images.length == 0 ? '' : "<img src=\"" + success.data.images[0].path + "\" data-file='"+success.data.images[0].origin_name+"'>"
                
                for(var i=0;i<success.data.images.length; i++) {
                    var html = "<div class=\"thumbnail_box\" id=\"img_id_"+i+"\">";
                                html += '<div class="img_view_area">';
                                html += "<img src=\"" + success.data.images[i].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                                html += '</div>';
                                html += '</div>';
                                                    
                    $(".imgs_wrap").append(html);
                }
                
                $(".view_emphasis").text(delivery_type.text);
                $(".posting_date").text("등록일 : " + regDate);
                $(".item_title").text(title);
                $(".item_game_server").text(item_game_server);
                $(".item_id").text(itemId);
                $(".txt_price").html(price + "<span>MACH</span>");
                $(".item_desc").html(desc);
                $("#fullImg").html(img1th);
                $(".item_status").addClass(status.className).text(((success.data.status > 0 && success.data.status < 4)||success.data.status == 50 ||success.data.status == 5) && (success.data.vtr_btn_active) ? status.text+ ' - ' + status.detail : status.text);             
                $(".user_tag").text(success.data.userTag);

                if(success.data.status == "0") {
                    if(userTag == success.data.userTag) {
                        $('#modify').css('display','inline-block');
                        $('#remove').css('display','inline-block');
                    } else {
                        $('#regVTR').css('display','inline-block');
                        $('#buynow').css('display','inline-block');
                    }
                } else if((success.data.status > 0 && success.data.status < 4) || success.data.status == 50) {
                    if(success.data.status == "1" || success.data.status == "50") {
                        if(success.data.vtr_btn_active) {
                            if(userTag != success.data.userTag && success.data.status != "50") {
                                $('#buyComplete').css('display','inline-block');  
                            }
                            $('#openVTR').css('display','inline-block');
                            //$('#buynow').css('display','inline-block');  
                            $('#cancel').css('display','inline-block');
                        } else {
                            
                        }
                    }
                    if(success.data.status == "2") {
                        if(success.data.vtr_btn_active) {
                            if(userTag == success.data.userTag) {
                                $('#sellComplete').css('display','inline-block');
                                $('#cancel').css('display','inline-block');
                            }
                            $('#showPhone').css('display','inline-block');
                        }
                    } else if(success.data.status == "3") {
                        if(success.data.vtr_btn_active) {
                            if(userTag != success.data.userTag) {
                                $('#confirm').css('display','inline-block');
                            } else {
                                $('#cancel').css('display','inline-block');
                            }
                            $('#showPhone').css('display','inline-block');
                            $('#opposition').css('display','inline-block');
                        }
                    } 
                }  else if(success.data.status > 3) {
                    if(success.data.status == 5 && success.data.vtr_btn_active) {
                        $('#opposition').css('display','inline-block');
                    }
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function buynow() {
            location.href='/etc-sells/buynow/' + itemId;
        }

        function removeItem() {
            var confirms = confirm('정말로 삭제하시겠습니까?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/items/" + itemId
                }).done(function (success) {
                    location.href = '/etc-sells?category=etc&trade_type=sell';
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function openVTR() {
            var popup;
            if (isMobile()) {
                popup = window.open('about:blank', "room" + roomToken);
            }
            var url = "/room?roomToken="+roomToken+"&itemId="+itemId+"&user_id="+userTag+"&vtrTempId=" + vtrTempId;
            if(isMobile()) {
                popup.location.href = url;
            } else {
                window.open(url, "room" + roomToken, 'toolbar=no,\n' +
                    '                                    location=no,\n' +
                    '                                    status=no,\n' +
                    '                                    menubar=no,\n' +
                    '                                    scrollbars=yes,\n' +
                    '                                    resizable=yes,\n' +
                    '                                    width=550,\n' +
                    '                                    height=850');
            }
        }

        function cancelItem() {
            var confirms = confirm('정말로 거래를 취소 하시겠습니까?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/vtrs/cancel/"+itemId+"/" + userTag
                }).done(function (success) {
                    location.href = '/etc-sells/detail/' + itemId;
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function buyComplete() {
            var confirms = confirm('구매 확인 하시겠습니까?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/buy",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('구매자가 구매 확인하였습니다.\r판매자의 판매 완료를 기다려 주세요.');
                    location.href = '/etc-sells/detail/' + itemId;
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function sellComplete() {
            var confirms = confirm('판매 완료 하시겠습니까?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/sell",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('판매자가 판매 완료하였습니다.\r구매자의 구매 완료 버튼을 누르면 거래가 완료됩니다.');
                    location.href = '/etc-sells/detail/' + itemId;
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function confirmItem() {
            var confirms = confirm('거래 완료 하시겠습니까?');
            if(confirms) {
                var data = {
                    "status": true
                }
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/confirm",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    location.href = '/etc-sells/detail/' + itemId;
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function oppositionItem() {
            // console.log('준비중');
            // alert('준비중입니다.');
            location.href = '/supports/opposition/register?itemId=' + itemId;
        }

        function showPhone(itemId) {
            $.ajax({
                method: "GET",
                url: "/v1/vtrs/item/" + itemId
            }).done(function (success) {
                console.log(success.data);
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.show();
                $body.css("position", "fixed");
                $("#fromPhone").text(success.data.seller_phone);
                $("#toPhone").text(success.data.buyer_phone);
            }).fail(function (fail) {
                console.log(fail);
            });
        }

    </script>

    <% include ../include/footer.html %>
</div>
</body>        