<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var coinId = "<%=coinId%>";
        var userId = "<%=userId%>";
        var userName = "<%=userName%>";
         
        $(document).ready(function() {
            $('#username').text(userName);
            getCoin();
            getItemCount();
        })

        function getCoin() {
            $.ajax({
                method: "GET",
                url: "/v1/coins/" + coinId
            }).done(function (success) {
                if (success.data.total_mach != null) {
                    $("#mach").html(numberWithCommas(success.data.total_mach) + "<span>MACH</span>");
                } else {
                    $("#mach").html("0<span>MACH</span>");
                }
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getItemCount() {
            $.ajax({
                method: "GET",
                url: "/v1/vtrs/count/user/" + userId
            }).done(function (success) {
                //console.log(success.data);
                $("#game_sell").text(success.data.game_sell);
                $("#game_buy").text(success.data.game_buy);
                $("#etc_sell").text(success.data.etc_sell);
                $("#etc_buy").text(success.data.etc_buy);
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">나의 정보</h1>
                        <div class="mypage_main_info cf">
                            <div class="lft_area">
                                <p>
                                    <em id="username"></em> 님의 회원등급은<br>
                                    <em id="" class="fcrd">일반</em> 등급입니다.
                                </p>
                                <!-- <a class="btn btn-success" href="/myPages/user/grade">등급별 혜택보기</a> -->
                            </div>
                            <div class="rgh_area">
                                <a href="">
                                    <em>나의지갑 잔액</em>
                                    <p id="mach"><span>MACH</span></p>
                                </a>
                                <button class="btn bgc1" onclick="location.href='/myPages/wallet/deposit';">MACH입금</button>
                                <button class="btn bgc3" onclick="location.href='/myPages/wallet/withdraw';">MACH출금</button>
                            </div>
                        </div>
                        <div class="mypage_main_trade">
                            <div class="table_wrap">
                                <h1 class="tit_mypage">거래현황</h1>
                                <table class="table_status_3n table">
                                    <colgroup class="colgroup_mypage">
                                        <col class="col3_1">
                                        <col class="col3_2">
                                        <col class="col3_3">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th class="fc2">게임아이템</th>
                                            <td>
                                                <a href="/myPages/sell/list">
                                                    판매거래중
                                                    <span class="fc2">
                                                        <em id="game_sell"></em>건
                                                    </span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/myPages/buy/list">
                                                    구매거래중
                                                    <span class="fc3">
                                                        <em id="game_buy"></em>건
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>         
                                        <tr>
                                            <th class="fc2">자산거래</th>
                                            <td>
                                                <a href="/myPages/sell/list?category=etc">
                                                    판매거래중
                                                    <span class="fc2">
                                                        <em id="etc_sell"></em>건
                                                    </span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/myPages/buy/list?category=etc">
                                                    구매거래중
                                                    <span class="fc3">
                                                        <em id="etc_buy"></em>건
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <!--// mypage -->
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>
    
    <script>
   
   </script>

    <% include ../include/footer.html %>
</div>
</body>