<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var userId = "<%=userId%>";
        var userTag = "<%=userTag%>";
        var pageIdx = "<%=pageIdx%>";
        var category = "<%=category%>";
        var status = "<%=status%>";
        var item_title =  "<%=item_title%>";
        
        $(document).ready(function(){
            resetSearchFilter(".search_filter");

            if(category == "") {
                category = "game";
            }

            getItemList();

            if(category == "game") {
                $('#myItemTitle').text("게임 아이템");
                $('#table_category').text('게임>서버')
            } else {
                $('#myItemTitle').text("자산거래");
                $('#table_category').text('카테고리')
            }
            $("#"+category).prop('checked', true);

            setItemStatus(status);
            $('#title').val(item_title);
            
            $("input[name=category]").on('click', function() {
                category = $("[name=category]:checked").val();
                if(category == "game") {
                    $('#myItemTitle').text("게임 아이템");
                    $('#table_category').text('게임>서버')
                } else {
                    $('#myItemTitle').text("자산거래");
                    $('#table_category').text('카테고리')
                }
                
                getItemList();
            });

            $("input[name=status]").on('click', function() {
                status = $("[name=status]:checked").val();
                getItemList();
            });

            $("#btnmCloseModal, #checkok").on("click", function() {
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.hide();
                $body.css("position", "initial");
            });

            $("#title").on('keyup', function(e) {
                item_title = $("#title").val();
                if(e.keyCode==13){
                    getItemList();
                }
            });

            $("#btn_search").on("click", function(e) {
                getItemList();
            });
        });

        function getItemList() {
            var param = "?category=" + category;
            if(pageIdx != "") {
                param += "&pageIdx=" + pageIdx;
            }

            if(status != "") {
                param += "&status=" + status;
            }

            if(item_title != "") {
                param += "&item_title=" + encodeURIComponent(item_title);
            }

            $.ajax({
                method: "GET",
                url: "/v1/vtrs/user/" + userId + "/sell" + param
            }).done(function (success) {
                //console.log(success.data);
                var buyList = success.data.list;
                var result = "";
                if(buyList.length == 0) {
                    result = "<tr><td colspan='5'>검색 결과가 없습니다.</td><tr>";
                }
                for(var i=0; i< buyList.length; i++) {
                    var itemId = buyList[i]._id;
                    var regDate = buyList[i].regDate.substring(2, 10);
                    var category = buyList[i].game_name + '<br>' + buyList[i].game_server;
                    var item_type = getItemType(buyList[i].type);
                    var url = "/buys/detail/" + itemId;
                    if(buyList[i].game_name == undefined) {
                        category = buyList[i].category1  == undefined ? '-' : buyList[i].category1 + '<br>' + buyList[i].category2;
                        item_type = getDelivery(buyList[i].delivery_type == undefined ? "direct" : buyList[i].delivery_type);
                            
                        if(buyList[i].trade_type == "sell") {
                            url = "/etc-sells/detail/" + itemId;
                        } else {
                            url = "/etc-buys/detail/" + itemId;
                        }
                    } else {
                        if(buyList[i].trade_type == "sell") {
                            url = "/sells/detail/" + itemId;
                        } 
                    }
                    
                    var title = buyList[i].title;
                    var price = numberWithCommas(buyList[i].price);
                    var point = numberWithCommas(buyList[i].point);
                    var status = getStatus(buyList[i].status);
                    var trade_type = replaceType(buyList[i].trade_type);
                    
                    result += '<tr onclick="location.href=\''+url+'\'">' + 
                                '<td>'+category+'</td>' + 
                                '<td>' + 
                                    '<span class="btn_cmm_bd '+item_type.className+'">'+item_type.text+'</span>';
                                    if(buyList[i].images.length != 0) {
                                        result +=          '<span class="ico_photo">사진</span>';
                                    }
                    result +=       '<div class="ellipse">' + title +
                                    '</div>' + 
                                '</td>' + 
                                '<td>' + 
                                    '<span>' + price + ' MACH</span>' + 
                                    '<div class="btn_adjust">';
                                    if(buyList[i].status ==2 || buyList[i].status ==3) {
                                        result +=   '<button class="btn btn_in_view6" id="showPhone" onclick="showPhone(\''+itemId+'\');">연락처 표시</button>';
                                    } 
                    result +=   '</td>' + 
                                '<td>' + 
                                    '<span class="'+status.className+'">'+status.detail+'</span>' +
                                    '<div class="btn_adjust">';
                                    if(buyList[i].status < 4) {
                                        if(buyList[i].status ==1) {
                                            if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                                result +=   '<button class="btn btn_in_view5" id="buyComplete" onclick="buyComplete(\''+itemId+'\');">구매확인</button>';
                                            }
                                        } else if(buyList[i].status ==2) {
                                            if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                                result +=   '<button class="btn btn_in_view7" id="sellComplete" onclick="sellComplete(\''+itemId+'\');">판매완료</button>';
                                            }
                                        } else if(buyList[i].status ==3){
                                            if((buyList[i].trade_type == "sell" && buyList[i].userTag != userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag == userTag)) {
                                                result +=   '<button class="btn btn_in_view9" id="tradeComplete" onclick="tradeComplete(\''+itemId+'\');">거래완료</button>';
                                            } else {    
                                                result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">거래취소(환불)</button>';
                                            }
                                        }
                                    }
                                result +=  '</div>' + 
                                '</td>' + 
                                '<td>'+
                                    '<span>' + regDate + '</span>' + 
                                    '<div class="btn_adjust">';
                                    if(buyList[i].status < 4) {
                                        if(buyList[i].status ==1) {
                                            result +=       '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">거래취소</button>';    
                                        } else if(buyList[i].status ==2) {
                                            if((buyList[i].trade_type == "sell" && buyList[i].userTag == userTag) || (buyList[i].trade_type == "buy" && buyList[i].userTag != userTag)) {
                                                result +=   '<button class="btn btn_in_view8" id="cancelItem" onclick="cancelItem(\''+itemId+'\');">거래취소(환불)</button>';
                                            }
                                        } else if(buyList[i].status ==3){
                                            result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">이의신청</button>';
                                        }
                                    } else if(buyList[i].status == 5) {
                                        result +=   '<button class="btn btn_in_view10" id="oppisitionItem" onclick="oppisitionItem(\''+itemId+'\');">이의신청</button>';
                                    }
                                result +='</div></td>' + 
                            '</tr>'; 
                }

                $('#buy_list').html(result);
                getPaging(success.data.count);
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getPaging(dataCount) {            
            var count = dataCount < 20 ? 1 : Math.ceil(dataCount / 20);
            var result = '<ol class="cf">';
            for(var i=0;i<count;i++) {
                result += '<li><a class="on" href="/myPages/sell/list?category='+category+'&status='+status+'&item_title='+item_title+'&pageIdx='+i+'">'+(i+1)+'</a></li>';
            }

            result+='</ol>';
            $('.paging_wrap').html(result);
        }

        function buyComplete(itemId) {
            var confirms = confirm('구매 확인 하시겠습니까?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/buy",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('구매자가 구매 확인하였습니다.\r판매자의 판매 완료를 기다려 주세요.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function sellComplete(itemId) {
            event.stopPropagation();
            var confirms = confirm('판매 완료 하시겠습니까?');
            if(confirms) {
                var data = {
                    "status": true
                }
                
                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/sell",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('판매자가 판매 완료하였습니다.\r구매자의 구매확정이 완료되면 거래가 완료됩니다.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function tradeComplete(itemId) {
            event.stopPropagation();
            var confirms = confirm('거래 완료 하시겠습니까?');
            if(confirms) {
                var data = {
                    "status": true
                }

                $.ajax({
                    method: "PUT",
                    url: "/v1/vtrs/"+itemId+"/trade/confirm",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data)
                }).done(function (success) {
                    alert('거래가 완료되었습니다.');
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function cancelItem(itemId) {
            event.stopPropagation();
            var confirms = confirm('정말로 거래를 취소 하시겠습니까?');
            if(confirms) {
                $.ajax({
                    method: "DELETE",
                    url: "/v1/vtrs/cancel/"+itemId+"/" + userTag
                }).done(function (success) {
                    alert("거래가 취소되었습니다.");
                    getItemList();
                }).fail(function (fail) {
                    console.log(fail);
                });
            }
        }

        function oppisitionItem(itemId) {
            event.stopPropagation();
            //console.log('준비중');
            //alert('준비중입니다.');
            location.href = '/supports/opposition/register?itemId=' + itemId;
        }

        function showPhone(itemId) {
            event.stopPropagation();
            $.ajax({
                method: "GET",
                url: "/v1/vtrs/item/" + itemId
            }).done(function (success) {
                //console.log(success.data);
                var $body = $("body");
                var $dim = $(".dim_all_area");
                $dim.show();
                $body.css("position", "fixed");
                $("#fromPhone").text(success.data.seller_phone);
                $("#toPhone").text(success.data.buyer_phone);
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">판매관리</h1>
                        <div class="search_filter">
                            <ul class="">
                                <li class="row">
                                    <h2 class="col-sm-2 col-xs-12">거래유형</h2>
                                    <div class="check_filter col-sm-10 col-xs-12">
                                        <input type="radio" name="category" id="game" value="game" checked><label for="game">게임아이템</label>
                                        <input type="radio" name="category" id="etc" value="etc"><label for="etc">자산거래</label>
                                    </div>
                                </li>
                                <li class="row">
                                    <h2 class="col-sm-2 col-xs-12">거래상태</h2>
                                    <div class="check_filter col-sm-10 col-xs-12">
                                        <input type="radio" name="status" id="all" value=""><label for="all">전체</label><br class="mob_br">
                                        <input type="radio" name="status" id="regist" value="0"><label for="regist">거래가능</label><br class="mob_br">
                                        <input type="radio" name="status" id="vtrStart" value="1"><label for="vtrStart">거래요청</label><br class="mob_br">
                                        <input type="radio" name="status" id="vtrBuy" value="2"><label for="vtrBuy">구매확인</label><br class="mob_br">
                                        <input type="radio" name="status" id="vtrSell" value="3"><label for="vtrSell">판매완료</label><br class="mob_br">
                                        <input type="radio" name="status" id="vtrConfirm" value="4"><label for="vtrConfirm">거래완료</label>
                                    </div>
                                </li>
                                <li class="row">
                                    <h2 class="col-sm-2 col-xs-12">상품검색</h2>
                                    <div class="check_filter col-sm-10 col-xs-12">
                                        <div class="w100p-120px">
                                            <input type="text" class="form-control" id="title">
                                        </div>
                                        <div class="mob_100p_tar">
                                            <input type="button" class="btn btn-primary" id="btn_search" value="검색">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="table_wrap table-responsive">
                            <h2 class="tit_mypage dot_tit" id="myItemTitle"></h2>
                            <table class="table_list has_game_icon table">
                                <colgroup class="colgroup_myselllist">
                                    <col class="col5_1">
                                    <col class="col5_2">
                                    <col class="col5_3">
                                    <col class="col5_4">
                                    <col class="col5_5">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><span id="table_category">게임>서버</span></th>
                                        <th>제목</th>
                                        <th>거래가격</th>
                                        <th>거래상태</th>
                                        <th>등록일</th>
                                    </tr>
                                </thead>
                                <tbody id="buy_list">
                                                              
                                </tbody>
                            </table>                 
                        </div>
                        <div class="paging_wrap">
                            <!-- <button class="arw_prev">&lt;</button>
                            <ol class="cf">
                                <li><a class="on" href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                            </ol>
                            <button class="arw_next">&gt;</button> -->
                        </div>
                        
                        <div class="img_info_sec">
                            <img src="/static/img/sub/safety_transaction_information.jpg" alt="">
                        </div>

                        <!-- 모달창 -->
                        <div class="dim_all_area" style="display: none">
                            <article class="modal_bitberry_deposit">
                                <button id="btnmCloseModal" class="btn">X</button>
                                <h1>연락처 표시</h1>
                                <p>구매자 연락처 : <span id="toPhone"></span></p>
                                <p>판매자 연락처 : <span id="fromPhone"></span></p>
                                <button id="checkok" class="btn btn-danger">확인</button>
                            </article>
                        </div>
                    </section>
                </div>
                <!--// sub content -->
            </div>
        </div>
    </div>
    
    <script>
   
   </script>

    <% include ../include/footer.html %>
</div>
</body>