<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var userId = "<%=userId%>";
        var coinId = "<%=coinId%>";
        var bitberry_token = "<%=bitberry_token%>";
        var auth_code;

        $(document).ready(function() {
            if(bitberry_token == undefined || bitberry_token == "") {
                $('.not_connected').show();
                $('.connected').hide();
            } else {
                $('.not_connected').hide();
                $('.connected').show();
            }

            $('#set_auth_code').on('click',function() {
                setAuthCode();
            });

            $('#connect').on('click',function() {
                connect();
            });

            $('#disconnect').on('click',function() {
                disconnect();
            });
        });

        function setAuthCode() {
            $.ajax({
                method: "POST",
                url: "/v1/coins/connect"
            }).done(function (success) {
                //console.log(success.data);
                auth_code = success.data.code;
                $('#view_auth_code').html('<em class="fcrd">'+auth_code+'</em>');
                $('#connect').show();
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function connect() {
            var data = {
                "code": auth_code.replace(/-/g,'')
            };

            $.ajax({
                method: "POST",
                url: "/v1/coins/connected",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data)
            }).done(function (success) {
                //console.log(success.data);
                if(success.data.code != undefined) {
                    alert(success.data.msg);
                } else {
                    alert('비트베리가 성공적으로 연결이 되었습니다.');
                    $('.not_connected').hide();
                    $('.connected').show();
                }
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function disconnect() {
            $.ajax({
                method: "POST",
                url: "/v1/coins/disconnect"
            }).done(function (success) {
                //console.log(success.data);
                alert('비트베리 연결이 해제되었습니다.');
                $('.not_connected').show();
                $('.connected').hide();
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../include/mypage_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">지갑관리 <span>비트베리 연결</span></h1>
                        <hr class="hr_mypage">
                        
                        <h2 class="tit_mypage dot_tit">비트베리 연결</h2>
                        
                        <%# 인증 전 %>
                        <div class="connected_box not_connected">
                            <div class="coin_certification">
                                <dl class="cf">
                                    <dt class="fc2">인증번호</dt>
                                    <dd id="view_auth_code">
                                        <!-- <em class="fcrd">1234-1234</em> -->
                                        <button class="btn btn_in_view2" id="set_auth_code">인증번호 보기</button>
                                    </dd>
                                </dl>
                            </div>
                            <ul class="highligh_list fcrd">
                                <li>※ 화면의 인증번호를 비트베리(BITBERRY) APP에 입력하여 마켓마하와 연결하세요.</li>
                                <li>※ 비트베리APP에 인증번호 등록 후 아래 (비트베리 연결 완료) 버튼을 클릭해 주세요.</li>
                            </ul>
                            <div class="btn_align_c">
                                <button class="btn item_view btn_in_view1" id="connect">비트베리 연결 완료</button>
                            </div> 
                        </div>

                        <%# 인증 후 %>
                        <div class="connected_box connected">
                            <div class="coin_certification mb50">
                                <dl class="cf">
                                    <dt class=""><img src="/static/img/sub/logo_bitberry.png" alt=""></dt>
                                    <dd>
                                        <strong class="fc2">비트베리와<br>나의 지갑이<br>연결되어 있습니다.</strong>
                                    </dd>
                                </dl>
                            </div> 
                            <div class="btn_align_c">
                                <button class="btn btn_in_view1" id="disconnect">비트베리 연결 해제</button>
                            </div>  
                        </div>

                        <h2 class="tit_mypage dot_tit">비트베리 안내</h2>
                        <ul class="bitberry_info cf">
                            <li><img src="/static/img/sub/logo_bitberry.png" alt=""></li>
                            <li><a href="https://bitberry.app/" target="_blank" class="btn btn-success">비트베리 안내</a></li>
                        </ul>                        
                    </section>
                </div>
                <!--// sub content -->
            </div>    
        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>