<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">

            <!-- join_sec page-->
            <section class="join_sec">
                <h1>약관동의 및 실명확인</h1>
                <dl class="join_box">
                    <dt>
                        <input type="checkbox" name="" id="">
                        <label for="">전체 동의</label>
                    </dt>
                    <dd>
                        <ul>
                            <li class="cf">
                                <div class="flt_box">
                                    <input type="checkbox" name="" id="">
                                    <label for="">이용약관 동의 <em>(필수)</em></label>
                                </div>
                                <div class="flt_box">
                                    <a class="btn btn_go_detail" href="">자세히보기</a>                            
                                </div>
                            </li>
                            <li class="cf">
                                <div class="flt_box">
                                    <input type="checkbox" name="" id="">
                                    <label for="">개인정보처리방침 안내 <em>(필수)</em></label>                                
                                </div>
                                <div class="flt_box">
                                    <a class="btn btn_go_detail" href="">자세히보기</a>                            
                                </div>
                            </li>
                            <li class="cf">
                                <div class="flt_box">
                                    <input type="checkbox" name="" id="">
                                    <label for="">거래를 위한 푸쉬알림/SMS 수신 <em>(필수)</em></label> 
                                </div>
                                <div class="flt_box">
                                    <a class="btn btn_go_detail" href="">자세히보기</a>                            
                                </div>
                            </li>
                            <li class="cf">
                                <div class="flt_box">
                                    <h2>마케팅 활용 / 수신동의</h2>
                                    <input type="checkbox" name="" id="">
                                    <label for="">SMS/이벤트 등 푸쉬알림, 이메일 수신 <span>(선택)</span></label>                                
                                </div>
                                <div class="flt_box">
                                    <a class="btn btn_go_detail" href="">자세히보기</a>                            
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>                
                <p class="p_join">※ 선택항목은 동의하지 않아도 회원가입이 가능합니다</p>
                <div class="btn_align_c">
                    <button class="btn btn_in_view1">휴대폰 인증</button>
                </div>
            </section>
            <!--// join_sec page-->

            <!-- join_sec page-->
            <section class="join_sec">
                <h1>이미 가입된 회원입니다.</h1>
                <ul class="existence_box">
                    <li><em>아이디 : </em><span class="fcrd">abcdefghijk</span></li>
                    <li><em>가입일 : </em><span>2019년 02월 18일</span></li>
                </ul>    
                <p class="p_join">※ 현재 MACH 서비스에 가입되어 있습니다.</p>
                <p class="p_join">※ 비밀번호를 알 수 없다면 하단 <em class="fcrd">[비밀번호 찾기]</em>를 이용하세요</p>
                <p class="p_join">※ 본인이 가입하지 않았거나, 개인정보 도용이 의심된다면 <em class="fcrd">[고객센터 1899-8696]</em>로 문의 바랍니다.</p>
                <div class="btn_align_c">
                    <button class="btn btn_in_view1">로그인</button>
                    <button class="btn btn_in_view2">비밀번호 찾기</button>
                </div> 
            </section>
            <!--// join_sec page-->

            <!-- join_sec page-->
            <section class="join_sec">
                <h1>정보입력 <em class="fcor">(필수)</em></h1>
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup>
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>이름</th>
                                <td>홍길동</td>
                            </tr>
                            <tr>
                                <th>아이디</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" placeholder="아이디는 4~12자 영문/숫자/영문+숫자 조합 사용">
                                        <button class="btn btn-info">중복확인</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호</th>
                                <td><input type="text" class="form-control" placeholder="새로운 비밀번호 입력 *8~16자의 영문+숫자 or 특수문자 사용"></td>
                            </tr>
                            <tr>
                                <th>비밀번호 확인</th>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <th>연락처(휴대폰)</th>
                                <td>
                                    <em>010-1234-1234</em>
                                    <p>※ 연락처 변경은 가입 후 나의페이지-나의정보에서 가능합니다.</p>
                                </td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" placeholder="example@mymach.asia">
                                        <button class="btn btn-info">중복확인</button>
                                    </div>                                
                                </td>
                            </tr>
                            <tr>
                                <th class="th_colspan2" colspan="2">선택</th>
                            </tr>
                            <tr>
                                <th>추천인</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" placeholder="example@mymach.asia">
                                        <button class="btn btn-info">확인</button>
                                    </div> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <div class="btn_align_c">
                    <button class="btn btn_in_view1">회원가입</button>
                </div>                    
            </section>
            <!--// join_sec page-->

            <!-- join_sec page-->
            <section class="join_sec">
                <h1>가입완료</h1>
                <dl class="cmn_fjb finish_join_box1">
                    <dt>마켓마하 회원가입을 환영합니다.</dt>
                    <dd>
                        <p>마켓마하 뿐만 아니라 캐시거래소, MACH커뮤니티에서 제공하는 모든 서비스를 이용하실 수 있습니다.</p>
                        <p>단, 19세 미만 회원은 게임아이템거래 이용이 불가능합니다.</p>
                    </dd>
                </dl>
                <div class="btn_align_c">
                    <a class="btn btn_in_view1" href="">홈으로</a>
                </div> 
                <dl class="cmn_fjb finish_join_box2">
                    <dt>원활한 거래를 위해<br>MACH 거래소에 지갑을 등록해주세요^^</dt>
                    <dd>
                        <a class="btn bgc3" href="">지갑 등록하러 하기</a>
                        <p>※ 지갑 등록 및 관리는 나의페이지-나의지갑에서 언제든지 이용하실 수 있습니다.</p>
                    </dd>
                </dl>
            </section>
            <!--// join_sec page-->

        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body> 