<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <!-- view page-->
            <%# section의 클래스명 추가= 팝니다: c_style_sell, 삽니다: c_style_buy %>
            <section class="board_sec c_style_sell">
                <div class="board_tit cf">
                    <h1>팝니다<span>상품정보</span></h1>
                </div>

                <!-- 상품정보 : 이미지 업로드 UI 포함 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup>
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <em class="view_emphasis">아이템</em>  
                                    <span class="posting_date">등록일 : 2019-03-14 20:52</span>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <div class="ellipse">
                                        피규어 + 펀플 + 쿠폰 + 1분거래 원합니다.피규어 + 펀플 + 쿠폰 + 1분거래 원합니다.피규어 + 펀플 + 쿠폰 + 1분거래 원합니다
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore inventore ut molestias sint vel. Asperiores tempora recusandae nulla, nobis dolores, dolor quas eius id, eaque tenetur illo voluptatum cumque in!
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>게임>서버</th>
                                <td>로스트아크 > 이그하람</td>
                            </tr>
                            <tr>
                                <th>거래번호</th>
                                <td>5c6f7bd9ee23e7403786e9fb</td>
                            </tr>
                            <tr>
                                <th>거래가격</th>
                                <td><p class="txt_price">1,000<span>MACH</span></p></td>
                            </tr>
                            <tr class="mrg_cell">
                                <td colspan="2">
                                    <div class="btn_align_c">
                                        <button class="btn btn_in_view1">VTR 거래신청</button>
                                        <button class="btn btn_in_view2">바로구매</button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="mrg_cell">
                                <td colspan="2">
                                    <div id="fullImg"></div>
                                    <div class="input_wrap">
                                        <button class="btn btn-primary" onclick="fileUploadAction();">이미지 선택</button>
                                        <input type="file" id="input_imgs" multiple/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상품이미지</th>
                                <td>
                                    <div class="product_img_list">
                                        <div class="imgs_wrap">
                                            <!--
                                            <div class="thumbnail_box">
                                                <div class="img_view_area">
                                                    <img src="/static/img/main/main_visual02.jpg">
                                                </div>
                                                <a href="javascript:void(0);" onclick="deleteImageAction('img_id_0')" id="img_id_0"></a>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    판도라의 보석 10개<br>
                                    쪽지로 코드번호 거래합니다.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--// 상품정보 : 이미지 업로드 UI 포함 -->

                <div class="board_tit cf">
                    <h1>팝니다<span>바로구매 신청</span></h1>
                </div>
                
                <!-- 내 정보 입력 -->
                <div class="table_wrap table-responsive preparation_dim">
                    <!-- 서비스준비중입니다 : 부모클래스 preparation_dim 필요 -->
                    <article class="pre_addr">
                        <h1>서비스 준비 중입니다.</h1>
                        <ul>
                            <li>판매자연송지정보를공유하세요.</li>
                            <li class="fcor">※ 판매자 연락처는 구매확인 후 VTR에서 공유됩니다.</li>
                            <li class="fcor">(또는 구매확인 후 나의페이지-거래현황에서 확인 가능)</li>
                        </ul>
                    </article>

                    <table class="table_view table">
                        <colgroup>
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    내 정보 입력  
                                    <span class="posting_date">등록일 : 2019-03-14 20:52</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>연락처</th>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <th rowspan="2">배송지</th>
                                <td><label for="">받는분</label><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td><label for="">주소</label><input type="text" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="highligh_list fcrd">
                    <li>※ 입력하신 정보(캐릭터명,연락처)는 구매자 구매확인 시 판매자에게 전달됩니다.</li>
                    <li>※ 연락처,배송지 오 기재로 인해 문제가 발생될 수 있으며, 거래신청자에게 책임이 있습니다.</li>
                </ul>              
                <!--// 내 정보 입력 -->

                <!-- 회색테이블 -->
                <div class="table_wrap">
                    <table class="grey_table table_view table">
                        <colgroup>
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">내 지갑정보</th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>나의 지갑 잔액</th>
                                <td><p class="txt_price">1,000<span>MACH</span></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="highligh_list fcrd">
                    <li>※ 입력하신 정보(캐릭터명,연락처)는 구매자 구매확인 시 판매자에게 전달됩니다.</li>
                    <li>※ 캐릭터명, 연락처 오 기재로 인해 문제가 발생될 수 있으며, 거래신청자에게 책임이 있습니다.</li>
                </ul>
                <!--// 회색테이블 -->

                <!-- 결제정보 -->
                <div class="table_wrap">
                    <table class="table_payment_info table">
                        <colgroup>
                            <col class="col50p">
                            <col class="col50p">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">결제정보</th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>나의 지갑 잔액</th>
                                <td>1,000 MACH</td>
                            </tr>
                            <tr>
                                <th>거래가격</th>
                                <td>1,000 MACH</td>
                            </tr>
                            <tr>
                                <th>결제 후 나의 지갑 잔액(예상)</th>
                                <td>0 MACH</td>
                            </tr>
                            <tr class="mrg_cell">
                                <td colspan="2">
                                    <div class="btn_align_c">
                                        <button class="btn btn_in_view1">결제하기</button>
                                    </div>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
                <!--// 결제정보 -->

                <!-- 거래정보 -->
                <div class="table_wrap table-responsive">
                    <table class="table_view table">
                        <colgroup>
                            <col class="col2_1">
                            <col class="col2_2">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="2">거래정보</th>
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr>
                                <th>카테고리</th>
                                <td>
                                    <div id="virture_h" class="virture_h">
                                        <select class="selectpicker" data-live-search="true">
                                            <option value="nameNotSelected">대분류</option>
                                            <option value="nameNotSelected">bbb</option>
                                            <option value="nameNotSelected">cccc</option>
                                            <option value="nameNotSelected">dddd</option>
                                            <option value="nameNotSelected">cbcb</option>
                                            <option value="nameNotSelected">adad</option>
                                        </select>
                                        <select class="selectpicker" data-live-search="true">
                                            <option value="nameNotSelected">소분류</option>
                                            <option value="nameNotSelected">bbb</option>
                                            
                                            <option value="nameNotSelected">cccc</option>
                                            <option value="nameNotSelected">dddd</option>
                                            <option value="nameNotSelected">cbcb</option>
                                            <option value="nameNotSelected">adad</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>거래제목</th>
                                <td><input type="text" class="form-control" placeholder=""></td>
                            </tr>
                            <tr>
                                <th>거래가격</th>
                                <td>
                                    <div class="no_w100p_wrap">
                                        <input type="text" class="form-control w80p" placeholder="">
                                        <em class="fc2">MACH</em>
                                    </div>
                                    <p class="fcrd">※ 1MACH = 1$</p>
                                </td>
                            </tr>
                            <tr>
                                <th>거래방법</th>
                                <td>
                                    <div class="form-inline radio_wrap">
                                        <div class="form-group">
                                            <input type="radio" name="" class="">
                                            <label for="">직거래</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="radio" name="" class="">
                                            <label for="">택배거래</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상세정보</th>
                                <td>
                                    <textarea class="form-control" rows="10"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <script>
                    $(function(){
                        $('.selectpicker').selectpicker({
                            size: 4
                        });
                    })
                </script>                
                <!--// 거래정보 -->

            </section>
            <!--// view page-->
    </div>
    <!--// content_wrap -->

    <script type="text/javascript">

        // 이미지 정보들을 담을 배열
        var sel_files = [];
    
    
        $(document).ready(function() {
            $("#input_imgs").on("change", handleImgFileSelect);

            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });
        });
    
        function fileUploadAction() {
            console.log("fileUploadAction");
            $("#input_imgs").trigger('click');
        }
    
        function handleImgFileSelect(e) {
    
            // 이미지 정보들을 초기화
            sel_files = [];
            $(".imgs_wrap").empty();
    
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
    
            if(filesArr.length > 5){
                alert('이미지 업로드는 5개까지 가능합니다.');
                return;
            }
    
            var index = 0;
            filesArr.forEach(function(f) {
                if(!f.type.match("image.*")) {
                    alert("확장자는 이미지 확장자만 가능합니다.");
                    return;
                }
    
                var reader = new FileReader();
                var image  = new Image();
    
                reader.readAsDataURL(f);
                reader.onload = function(_file) {
                    image.src    = _file.target.result;
                    image.onload = function() {
                        var w = this.width,
                            h = this.height,
                            t = f.type,                           // ext only: // file.type.split('/')[1],
                            n = f.name,
                            s = ~~(f.size / 1024) + 'KB';
    
                        //파일 길이, 높이 체크
                        // if(w > 300 || h > 500) {
                        //     alert('300x500 이하의 이미지만 업로드가 가능합니다');
                        //     return;
                        // }
    
                        sel_files.push({
                            "name": "img_id_"+index,
                            "value": f
                        });
    
                        //var html = "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\" id=\"img_id_"+index+"\"><img src=\"" + _file.target.result + "\" data-file='"+f.name+"' class='selProductFile' title='Click to remove'></a>";
                        
                        var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                            html += '<div class="img_view_area">';
                            html += "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>";
                            html += '</div>';
                            html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\"></a>";
                            html += '</div>';
                                                
                        $(".imgs_wrap").append(html);

                        // 풀이미지 썸네일 로직 추가
                        if(index === 0) {
                            var img1th = "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>"
                            $("#fullImg").html(img1th);
                        }

                        index++;
                    }
                }

            });

            console.log(filesArr[0])
        }
    
        function deleteImageAction(index) {
            console.log("index : "+index);
            var findIndex = -1;
            for (var i = 0; i < sel_files.length; ++i) {
                if(sel_files[i].name == index) {
                    findIndex = i;
                }
            }
    
            if(findIndex > -1) {
                sel_files.splice(findIndex, 1);
            }
    
            $('#' + index).remove();

            console.log("sel length : ",sel_files);

            // 풀이미지 썸네일 로직 추가
            var img1th = $(".imgs_wrap > .thumbnail_box:eq(0) img").clone();
            $("#fullImg").html(img1th)
        }

        function fileUploadAction() {
            console.log("fileUploadAction");
            $("#input_imgs").trigger('click');
        }
    
        function submitAction() {
            console.log("업로드 파일 갯수 : "+sel_files.length);
            var images = new FormData();
    
            for(var i=0, len=sel_files.length; i<len; i++) {
                var name = "image";
                images.append(name, sel_files[i]);
            }
            //images.append("image_count", sel_files.length);
    
            if(sel_files.length < 1) {
                alert("한개이상의 파일을 선택해주세요.");
                return;
            }
    
            //images.append("image", sel_files);
            console.log(images);
            //ajax 처리
            $.ajax({
                method: "POST",
                url: "/v2/items/5c7e4d5e3c48f1197a52c974/images",
                processData: false,
                contentType: false,
                data: images
            }).done(function (success) {
                console.log(success);
                $(".imgs_wrap").html('');
                sel_files = [];
            }).fail(function (fail) {
                console.log('실패',fail)
    
            })
    
        }
    </script>

    <% include ../include/footer.html %>
</div>
</body>        