<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>

    <link href="/bootstrap_css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/userInformation.css" rel="stylesheet">
    <link rel="shortcut icon" sizes="128x128" href="/image/favicon.png">

    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/blockchain/web3.min.js"></script>
    <script src="/blockchain/truffle-contract.js"></script>

    <script>
        var userinfo = JSON.parse('<%- JSON.stringify(data) %>');
        var validedAddress = true;

        $(document).ready(function(){
            console.log(userinfo);
            $('#header').load('/header');
            $('#menu').load('/menu');
            $('#footer').load('/footer');

            $('#emailAuth').prop('disabled', true);
            $('#emailAuthBtn').css('display', 'none');

            $('#display-userTag').html(userinfo.user.userTag);
            $('#email').val(userinfo.user.email);
            $('#address').val(userinfo.ethers.address);

            if (typeof web3 !== 'undefined') {
                web3 = new Web3(web3.currentProvider);
            } else {
                const provider = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/0c938ce8db2547fdbb12f73b5d500aca0c938ce8db2547fdbb12f73b5d500aca"));
                web3= new Web3( provider );
            }
        });

        setTimeout(function(){
            $('.logout-content').css('display','inline-block');
            $('.login-content').css('display','none');
        },100);

        function modifyUser() {
            var password = $('#password').val();
            if(password !== "") {
                if (password.length < 6) {
                    alert('It can be enter at least 6 characters.');
                    return;
                }

                if (password !== $('#confirmPassword').val()) {
                    alert('It is different password. Please re-enter it.');
                    return;
                }
            }

            if(($("#address").val() !== userinfo.ethers.address)) {
                validedAddress = false;
                alert('Please check validation Wallet address.');
                return;
            }

            var userForm = {};
            if(password == "") {
                userForm = {
                    "userTag": userinfo.user.userTag,
                    "email": $("#email").val(),
                    "etherId": userinfo.etherId,
                    "ethers": {
                        "address": $("#address").val()
                    }
                }
            } else {
                userForm = {
                    "userTag": userinfo.user.userTag,
                    "password": password,
                    "email": $("#email").val(),
                    "etherId": userinfo.etherId,
                    "ethers": {
                        "address": $("#address").val()
                    }
                }
            }

            console.log(userForm);

            $('[name=go]').attr('disabled', true);
            $('[name=go]').text('Loading...');

            $.ajax({
                method: "PUT",
                url: "/users/" + userinfo.userId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(userForm)
            })
            .done(function (data) {
                alert('It is successfully modified user information.');
                location.href = '/userinfo';
            })
            .fail(function (msg) {
                alert("Data Save failed.");
                $('[name=go]').attr('disabled', false);
                $('[name=go]').text('Confirm');
            });
        }

        function deleteUser() {
            event.preventDefault();
            var confirmYn = confirm("Do you want to delete it?");
            if(confirmYn) {
                location.href = '/login';
            }
        }

        function vaildAuthEmail() {
            event.preventDefault();
            console.log('send email');
            if($('#emailAuthBtn').css('display') == 'none') {
                $('#emailAuth').prop('disabled', false);
                $('#emailAuthBtn').css('display', 'block');
            }
        }

        function validWallet() {
            event.preventDefault();

            if($('#address').val() !== userinfo.ethers.address) {
                vaildAddress();
            }
        }

        function vaildAddress() {
            event.preventDefault();
            var address = $('#address').val();
            if(!web3.isAddress(address)) {
                alert('Invaild Wallet Address. Please re-enter it.');
                validedAddress = false;
                return;
            }

            alert('Vaild Wallet Address.');
            validedAddress = true;
            userinfo.ethers.address = address;
        }

        function validBankAccount() {
            event.preventDefault();
            console.log('valid');
        }
    </script>
</head>
<body>
<div id="header"></div>
<div id="menu"></div>
<div id="content">
    <div class="row" id="pwd-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <section class="userinfo-form">
                <div class="form-title">User Informarion</div>
                <form method="post" action="javascript:modifyUser();" role="userinfo">
                    <div class="label-content">
                        <div class="row">
                            <div class="col-md-4">ID</div>
                            <div class="col-md-8">
                                <input type="hidden" id="id" value="id"/>
                                <span id="display-userTag">DAIBLAB</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Password</div>
                            <div class="col-md-8">
                                <input type="password" class="form-control form-control-sm" id="password" placeholder="Password" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Confirm Password</div>
                            <div class="col-md-8">
                                <input type="password" class="form-control form-control-sm" id="confirmPassword" placeholder="Confirm Password" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">E-mail</div>
                            <div class="col-md-5">
                                <input type="email" class="form-control form-control-sm" placeholder="E-mail" id="email" />
                            </div>
                            <div class="col-md-3">
                                <!--<button class="btn btn-primary btn-sm btn-width-small" onclick="javascript:vaildAuthEmail();">Auth</button>-->
                            </div>
                        </div>
                        <!--<div class="row">-->
                            <!--<div class="col-md-4"></div>-->
                            <!--<div class="col-md-5">-->
                                <!--<input type="number" class="form-control form-control-sm" id="emailAuth" placeholder="Auth Number" />-->
                            <!--</div>-->
                            <!--<div class="col-md-3">-->
                                <!--&lt;!&ndash;<button class="btn btn-primary btn-sm btn-width-small" id="emailAuthBtn" onclick="javascript:vaildAuthEmail();">Resend</button>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-md-4">Wallet</div>
                            <div class="col-md-5">
                                <input type="text" class="form-control form-control-sm" placeholder="Wallet Address" id="address" />
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary btn-sm btn-width-small" onclick="javascript:validWallet();">Auth</button>
                            </div>
                        </div>


                        <!--<div class="row">-->
                            <!--<div class="col-md-4">Bank</div>-->
                            <!--<div class="col-md-8">-->
                                <!--<select class="form-control form-control-sm" id="tokenType">-->
                                    <!--<option value="" selected>Select</option>-->
                                    <!--<option value="1">KB</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">Bank Account</div>-->
                            <!--<div class="col-md-5">-->
                                <!--<input type="email" class="form-control form-control-sm" placeholder="Bank Account" id="" />-->
                            <!--</div>-->
                            <!--<div class="col-md-3">-->
                                <!--<button class="btn btn-primary btn-sm btn-width-small" onclick="javascript:validBankAccount();">Auth</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="btn-align">
                            <button type="submit" name="go" class="btn btn-primary btn-sm btn-width-middle">Confirm</button>
                            <!--<button class="btn btn-primary btn-sm btn-width-middle" onclick="javascript:deleteUser();">Delete User</button>-->
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>