<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#userTag").text("<%=userTag%>");

            $('#newPasswordConfirm').keypress(function(){
                if(window.event.keyCode==13){
                    changePassword();
                }
            });

            $("#changePassword").on('click', function() {
                changePassword();
            });

            $('.menu_login').css('display', 'inline-block');
            $('.menu_logout').css('display', 'none');
        });

        function changePassword() {
            if($("#newPassword").val() == "") {
                alert("패스워드를 입력하세요.");
                return;
            }

            if($("#newPasswordConfirm").val() == "") {
                alert("입력하신 패스워드를 다시 입력하세요.");
                return;
            }

            if($("#newPassword").val() != $("#newPasswordConfirm").val()) {
                alert("패스워드가 일치하지 않습니다.\n다시 입력하세요.");
                return;
            }
            
            var changePasswordForm = {
                "password":  $("#newPassword").val()
            };

            $('#changePassword').prop('disabled', true);

            $.ajax({
                method: "PUT",
                url: "/v1/users/changePassword/" + "<%=id%>",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(changePasswordForm)
            })
            .done(function (success) {
                alert('패스워드가 수정되었습니다.\n로그인 하세요.');
                location.href = "/login";
            })
            .fail(function (fail) {
                console.log(fail);
                $('#changePassword').prop('disabled', false);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- page-->
            <section class="find_info_sec">
                <ul class="tab_find_info cf">
                    <li class="on"><a href=""><h1>회원정보 확인</h1></a></li>
                </ul>
                <div class="find_info_box">
                    <div class="align_c">
                        <p class="tac">
                            ※ 새 비밀번호 입력 후 <em class="fcrd">[확인]</em>을 누르시면 설정이 완료됩니다.<br>
                            ※ 비밀번호 변경을 원하지 않으실 경우 <em class="fcrd">[홈으로]</em>를 눌러주세요.
                        </p>
                        <hr>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">아이디</th>
                                        <td><em id="userTag">aaaasssss</em></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">새 비밀번호</th>
                                        <td><input type="text" class="form-control" id="newPassword" placeholder="새로운 비밀번호 입력 *8~16자의 영문+숫자 or 특수문자 사용"></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">새 비밀번호 확인</th>
                                        <td><input type="text" class="form-control" id="newPasswordConfirm"  placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view3" id="changePassword">확인</button>
                        <a href="/" class="btn btn_in_view2">홈으로</a>
                    </div>
                </div>
            </section>
            <!--//  page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        