<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        var popup;
        $(document).ready(function() {
            $('#authPhone').on('click',function(){
                authPhone();
            });

            $('#email').keypress(function(){
                if(window.event.keyCode==13){
                    findId();
                }
            });

            $('#findId').on('click',function(){
                findId();
            });

            $('.menu_login').css('display', 'inline-block');
            $('.menu_logout').css('display', 'none');
        });

        function authPhone(){
            popup = window.open("/reg/auth/start","PAY_WIN","width=480,height=570,toolbar=no,menubar=no,scrollbars=no,resizable=yes");
            var interval = window.setInterval(function() {
                try {
                    //console.log("popup : ", popup);
                    if (popup == null || popup.closed) {
                        window.clearInterval(interval);
                        location.href = '/findResult?type=findId';
                    }
                }
                catch (e) {
                }
            }, 2000);
        }

        function findId() {
            var name = $("#name").val();
            var email = $("#email").val();

            if(name == "") {
                alert("이름을 입력하세요.");
                return;
            }

            if(email == "") {
                alert("이메일을 입력하세요.");
                return;
            }

            $.ajax({
                method: "GET",
                url: "/v1/notifications/email/findId/" + email
            }).done(function (success) {
                console.log(success);
                //location.href = "/existUser?id=" + success.data._id;
                alert('성공적으로 메일을 보냈습니다.\r확인 후 로그인하십시오.');
                location.href="/login";
            }).fail(function (fail) {
                if (fail.status == 403) {
                    location.href="/noResult";
                } else {
                    console.log(fail);
                }

            })
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">

            <!-- page-->
            <section class="find_info_sec">
               <ul class="tab_find_info cf">
                   <li class="on"><a href="findId"><h1>아이디 찾기</h1></a></li>
                   <li><a href="/findPassword">비밀번호 찾기</a></li>
               </ul>
               <div class="find_info_box">
                    <h2>본인 인증으로 찾기</h2>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view3" id="authPhone">휴대폰 인증</button>
                    </div>
                    <div class="align_c">
                        <hr>
                        <h2>이메일로 아이디 찾기</h2>
                        <p>
                            회원정보의 이메일 주소와 동일한 이메일 주소를 입력하셔야 찾으실 수 있습니다.<br>
                            ※ 아이디는 본인 이메일 주소에 발송됩니다.
                        </p>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">이름</th>
                                        <td><input type="text" class="form-control" id="name" placeholder=""></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">이메일</th>
                                        <td><input type="text" class="form-control" id="email" placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view2" id="findId">아이디 찾기</button>
                    </div>
                </div>
            </section>
            <!--//  page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        