<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script type="text/javascript">
        var popup;
        $(document).ready(function() {
            $('#authPhone').on('click',function(){
                authPhone();
            });

            $('#email').keypress(function(){
                if(window.event.keyCode==13){
                    findPassword();
                }
            });

            $('#findPassword').on('click',function(){
                findPassword();
            });

            $('.menu_login').css('display', 'inline-block');
            $('.menu_logout').css('display', 'none');
        });

        function authPhone(){
            popup = window.open("/reg/auth/start","PAY_WIN","width=480,height=570,toolbar=no,menubar=no,scrollbars=no,resizable=yes");
            var interval = window.setInterval(function() {
                try {
                    //console.log("popup : ", popup);
                    if (popup == null || popup.closed) {
                        window.clearInterval(interval);
                        location.href = '/findResult?type=findPassword';
                    }
                }
                catch (e) {
                }
            }, 2000);
        }

        function findPassword() {
            var id = $("#id").val();
            var email = $("#email").val();

            if(id == "") {
                alert("아이디를 입력하세요.");
                return;
            }

            if(email == "") {
                alert("이메일을 입력하세요.");
                return;
            }

            $.ajax({
                method: "GET",
                url: "/v1/notifications/email/findPassword/" + id + "/" + email
            }).done(function (success) {
                //location.href='/changePassword?id=' + success.data._id;
                alert('성공적으로 메일을 보냈습니다.\r확인 후 로그인하십시오.');
                location.href="/login";
            }).fail(function (fail) {
                if (fail.status == 403) {
                    location.href="/noResult";
                } else {
                    console.log(fail);
                }

            })
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- page-->
            <section class="find_info_sec">
                <ul class="tab_find_info cf">
                    <li><a href="/findId">아이디 찾기</a></li>
                    <li class="on"><a href="/findPassword"><h1>비밀번호 찾기</h1></a></li>
                </ul>
                <div class="find_info_box">
                    <h2>본인 인증으로 찾기</h2>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view3" id="authPhone">휴대폰 인증</button>
                    </div>
                    <div class="align_c">
                        <hr>
                        <h2>이메일로 비밀번호 찾기</h2>
                        <p>
                            회원정보의 이메일 주소와 동일한 이메일 주소를 입력하셔야 찾으실 수 있습니다.<br>
                            ※ 새로운 임시 비밀번호로 본인 이메일 주소에 발송됩니다.<br>
                            ※ 발급된 임시 비밀번호로 로그인 후 <em class="fcrd">[나의페이지-정보수정]</em>에서 신규 비밀번호로 변경하세요.
                        </p>
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="fc2">아이디</th>
                                        <td><input type="text" class="form-control" id="id" placeholder=""></td>
                                    </tr>         
                                    <tr>
                                        <th class="fc2">이메일</th>
                                        <td><input type="text" class="form-control" id="email" placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn_align_c">
                        <button class="btn btn_in_view2" id="findPassword">비밀번호 찾기</button>
                    </div>
                </div>
            </section>
            <!--//  page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        