<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        $(document).ready(function(){
            $('.menu_login').css('display', 'inline-block');
            $('.menu_logout').css('display', 'none');
        });
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <% include ../include/member_header.html %>
    <!--// header -->
    <!-- content_wrap -->
    <div class="member_content">
        <div class="sub_container container">
            <!-- page-->
            <section class="find_info_sec">
                <ul class="tab_find_info cf">
                    <li class="on"><a href=""><h1>미등록 회원</h1></a></li>
                </ul>
                <div class="find_info_box">
                    <h2>가입된 정보를 찾을 수 없습니다.</h2>
                    <div class="align_c">
                        <hr>
                    </div>
                    <div class="btn_align_c">n>
                        <a href="/agreement" class="btn btn_in_view3">회원가입</a>
                        <a href="/" class="btn btn_in_view2">홈으로</a>
                    </div>
                </div>
            </section>
            <!--//  page-->
        </div>
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>        