<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mach Exchange</title>
            
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="https://auth.mobilians.co.kr/js/ext/ext_inc_comm.js"></script>
    
    <script>
        $(document).ready(function () {
            $('#Tradeid').val(makeToken1());
            MCASH_PAYMENT(document.payForm); 
        });
    </script>
</head>
<body>
    <form name="payForm" accept-charset='euc-kr'>
        <input type="hidden" name="CASH_GB" id="CASH_GB" value="CI">
        <input type="hidden" name="CI_SVCID" id="CI_SVCID"  value="190307068148">
        <input type="hidden" name="Cryptyn" id="Cryptyn" value="Y">
        <input type="hidden" name="Keygb" id="Keygb"  value="1">
        <input type="hidden" name="LOGO_YN" id="LOGO_YN" value="N">
        <input type="hidden" name="CI_Mode" id="CI_Mode" value="61">
        <input type="hidden" name="Siteurl" id="Siteurl" value="www.marketmach.com">
        <input type="hidden" name="Tradeid" id="Tradeid" size="30" value="randomValue">
        <input type="hidden" name="PAY_MODE" id="PAY_MODE" size="30" value="10">
        <input type="hidden" name="Okurl" id="Okurl" size="30" value="<%=okurl%>">
        <input type="hidden" name="CALL_TYPE" id="CALL_type" size="30" value="P">
    </form>    
</body>
</html>