<!DOCTYPE html>
<html>
<head>
    <% include ../../include/head.html %>
    <script>
        var personalId = "<%=personalId%>";
        var sel_files = [];
        $(document).ready(function() {
            detail();
            $("#input_imgs").on("change", handleImgFileSelect);
            $(document).on("click", ".thumbnail_box .img_view_area",function(e) {
                var src = $(this).children("img").attr("src");
                $("#fullImg > img").attr("src", src);
            });

            
            $('#modifyPersonal').on('click', function() {
                modifyPersonal();
            });
        });

        function detail() {
            $.ajax({
                method: "GET",
                url: "/v1/personal/" + personalId
            }).done(function (success) {
                console.log(success.data);
                var personal = success.data; 
                $("[name=type]").filter('[value='+personal.type+']').prop('checked', true);
                $('#title').val(personal.title);
                $('#content').val(personal.content);                
                var img1th = success.data.images.length == 0 ? '' : "<img src=\"" + success.data.images[0].path + "\" data-file='"+success.data.images[0].origin_name+"'>"
                $("#fullImg").html(img1th);
                
                for(var i=0;i<success.data.images.length; i++) {
                    var html = "<div class=\"thumbnail_box\" id=\"img_id_"+i+"\">";
                                html += '<div class="img_view_area">';
                                html += "<img src=\"" + success.data.images[i].path + "\" data-file='"+success.data.images[0].origin_name+"'>";
                                html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+i+"\')\"></a>";
                                html += '</div>';
                                html += '</div>';
                                                    
                    $(".imgs_wrap").append(html);

                    // sel_files.push({
                    //     "name": "img_id_"+i,
                    //     "value": f
                    // });
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function fileUploadAction() {
            console.log("fileUploadAction");
            $("#input_imgs").trigger('click');
        }
    
        function handleImgFileSelect(e) {
    
            // 이미지 정보들을 초기화
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
    
            if(filesArr.length > 5){
                alert('이미지 업로드는 5개까지 가능합니다.');
                return;
            }

            sel_files = [];
            $(".imgs_wrap").empty();
    
            var index = 0;
            filesArr.forEach(function(f) {
                if(!f.type.match("image.*")) {
                    alert("확장자는 이미지 확장자만 가능합니다.");
                    return;
                }
    
                var reader = new FileReader();
                var image  = new Image();
    
                reader.readAsDataURL(f);
                reader.onload = function(_file) {
                    image.src    = _file.target.result;
                    image.onload = function() {
                        var w = this.width,
                            h = this.height,
                            t = f.type,                           // ext only: // file.type.split('/')[1],
                            n = f.name,
                            s = ~~(f.size / 1024) + 'KB';
    
                        //파일 길이, 높이 체크
                        // if(w > 300 || h > 500) {
                        //     alert('300x500 이하의 이미지만 업로드가 가능합니다');
                        //     return;
                        // }
    
                        sel_files.push({
                            "name": "img_id_"+index,
                            "value": f
                        });
    
                        //var html = "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\" id=\"img_id_"+index+"\"><img src=\"" + _file.target.result + "\" data-file='"+f.name+"' class='selProductFile' title='Click to remove'></a>";
                        
                        var html = "<div class=\"thumbnail_box\" id=\"img_id_"+index+"\">";
                            html += '<div class="img_view_area">';
                            html += "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>";
                            html += '</div>';
                            html += "<a href=\"javascript:void(0);\" onclick=\"deleteImageAction(\'img_id_"+index+"\')\"></a>";
                            html += '</div>';
                                                
                        $(".imgs_wrap").append(html);

                        // 풀이미지 썸네일 로직 추가
                        if(index === 0) {
                            var img1th = "<img src=\"" + _file.target.result + "\" data-file='"+f.name+"'>"
                            $("#fullImg").html(img1th);
                        }

                        index++;
                    }
                }

            });

            //console.log(filesArr[0])
        }
    
        function deleteImageAction(index) {
            console.log("index : "+index);
            var findIndex = -1;
            for (var i = 0; i < sel_files.length; ++i) {
                if(sel_files[i].name == index) {
                    findIndex = i;
                }
            }
    
            if(findIndex > -1) {
                sel_files.splice(findIndex, 1);
            }
    
            $('#' + index).remove();

            console.log("sel length : ",sel_files);

            // 풀이미지 썸네일 로직 추가
            var img1th = $(".imgs_wrap > .thumbnail_box:eq(0) img").clone();
            $("#fullImg").html(img1th)
        }

        function modifyPersonal() {
            var title = $('#title').val();
            var content = $('#content').val();
            
            if(title == "") {
                alert('제목을 입력하세요.');
                return;
            }

            if(content == "") {
                alert('문의 내용을 입력하세요.');
                return;
            }

            var data = {
                "title": $('#title').val(),
                "content": $('#content').val()
            }

            $.ajax({
                method: "PUT",
                url: "/v1/personal/" + personalId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    $("#modifyPersonal").attr('disabled', true);
                }
            }).done(function (success) {
                // console.log(success);
                if(sel_files.length == 0) {
                    location.href = '/supports/private/detail/' + personalId;
                } else {
                    submitAction(personalId);
                }
            }).fail(function (fail) {
                console.log('실패',fail);
                $('#modifyPersonal').attr('disabled', false);
            })
        }

        function submitAction(id) {
            console.log("업로드 파일 갯수 : "+sel_files.length);
            var images = new FormData();
    
            for(var i=0, len=sel_files.length; i<len; i++) {
                var name = "image";
                images.append(name, sel_files[i].value);
            }
            console.log(images);
            //ajax 처리
            $.ajax({
                method: "POST",
                url: "/v1/personal/"+id+"/images",
                processData: false,
                contentType: false,
                data: images
            }).done(function (success) {
                console.log(success);
                location.href = '/supports/private/detail/' + personalId;
            }).fail(function (fail) {
                console.log('실패',fail);
            })
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../../include/header.html %>
        <% include ../../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../../include/support_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">
                    <!-- support -->
                    <section class="support_sec">
                        <h1 class="tit_support">1:1문의 <span>문의 내용 수정</span></h1>                    
                        <div class="table_wrap table-responsive">
                            <table class="table_view table">
                                <colgroup>
                                    <col class="col2_1">
                                    <col class="col2_2">
                                </colgroup>
                                <tbody>                           
                                    <tr>
                                        <th class="fc2">유형</th>
                                        <td>
                                            <div class="form-inline radio_wrap">
                                                <div class="form-group">
                                                    <input type="radio" name="type" id="type0" value="0" checked><label for="type0">사이트 이용문의</label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="radio" name="type" id="type1" value="1"><label for="type1">본인확인 및 인증 문의</label>
                                                </div>  
                                                <div class="form-group">
                                                    <input type="radio" name="type" id="type2" value="2"><label for="type2">이벤트 문의</label>
                                                </div>
                                                <div class="form-group">
                                                    <input type="radio" name="type" id="type3" value="3"><label for="type3">기타 문의</label>
                                                </div>                                                
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">제목</th>
                                        <td><input type="text" id="title" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <th class="fc2">문의내용</th>
                                        <td>
                                            <textarea name="" id="content" class="form-control" style="height: 200px"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="mrg_cell trForDel">
                                        <td colspan="2">
                                            <div id="fullImg">
                                                <!-- <img src="/static/img/main/main_visual02.jpg"> -->
                                            </div>
                                            <div class="input_wrap">
                                                <button class="btn btn-primary" onclick="fileUploadAction();">이미지 선택</button>
                                                <input type="file" id="input_imgs" multiple="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="trForDel">
                                        <th class="fc2">첨부 이미지</th>
                                        <td>
                                            <div class="product_img_list">
                                                <div class="imgs_wrap">
                                                    <!--
                                                    <div class="thumbnail_box">
                                                        <div class="img_view_area">
                                                            <img src="/static/img/main/main_visual02.jpg">
                                                        </div>
                                                        <a href="javascript:void(0);" onclick="deleteImageAction('img_id_0')" id="img_id_0"></a>
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="btn_align_c">
                            <button class="btn btn_in_view1" id="modifyPersonal">확인</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <% include ../../include/footer.html %>
</div>
</body>