<!DOCTYPE html>
<html>
<head>
    <% include ../../include/head.html %>
    <script>
        var userId = "<%=userId%>";
        var pointId = "<%=pointId%>";

        $(document).ready(function() {
            $('#deposit').on('click', function(){
                location.href = '/mypages/point/deposit';
            });

            $('#withdraw').on('click', function(){
                location.href = '/mypages/point/withdraw';
            });

            $('#exchange_deposit').on('click', function(){
                location.href = '/mypages/point/exchange/deposit';
            });

            $('#exchange_withdraw').on('click', function(){
                location.href = '/mypages/point/exchange/withdraw';
            });

            getPoint();
            getPointHistory('deposit');
        });

        function getPoint() {
            $.ajax({
                method: "GET",
                url: "/v1/points/" + pointId
            }).done(function (success) {
                if (success.data.total_point != null) {
                    $("#point").html(numberWithCommas(success.data.total_point) + "<span>Point</span>");
                } else {
                    $("#point").html("0<span>Point</span>");
                }
            }).fail(function (fail) {
                console.log(fail);
            });
        }

        function getPointHistory(trade_type) {
            $.ajax({
                method: "GET",
                url: "/v1/point/historys/" + pointId + "/" + trade_type
            }).done(function (success) {
                //console.log(success.data);
                var pointHistorys = success.data;
                var result = ""
                if(pointHistorys.length == 0) {
                    result = "<tr><td colspan='2'>내역이 존재하지 않습니다.</td></tr>";
                }

                for(var i=0;i<pointHistorys.length;i++) {
                    var amount = numberWithCommas(pointHistorys[i].amount);
                    var currency_code = pointHistorys[i].amountCurrency;
                    var point = numberWithCommas(pointHistorys[i].point);                    
                    var regDate = pointHistorys[i].regDate.substr(2);

                    if(pointHistorys[i].type == "deposit") {
                        var status = pointHistorys[i].status == true ? '입금 완료' : '입금 대기';
                        result += '<tr>' + 
                                        '<td class="td_exchange_coin">' + 
                                            '<em class="fc2">'+amount+'<span>'+currency_code+'</span></em><span class="arw_txt">>>></span><em class="fc3">'+point+'<span>Point</span></em>' + 
                                        '</td>' + 
                                        '<td>'+status+'</td>' + 
                                        '<td>'+regDate+'</td>' + 
                                    '</tr>';
                    } else {
                        var status = pointHistorys[i].status == true ? '출금 완료' : '출금 대기';
                        result += '<tr>' + 
                            '<td class="td_exchange_coin">' + 
                                '<em class="fc3">'+point+'<span>Point</span></em><span class="arw_txt">>>></span><em class="fc2">'+amount+'<span>'+currency_code+'</span></em>' + 
                            '</td>' + 
                            '<td>'+status+'</td>' + 
                            '<td>'+regDate+'</td>' + 
                        '</tr>';
                    }
                }

                $('#wallet_historys').html(result);

                if(trade_type == 'deposit') {
                    $('#mach_sell').removeClass('on');
                    $('#mach_buy').addClass('on');
                } else {
                    $('#mach_buy').removeClass('on');
                    $('#mach_sell').addClass('on');
                }
            }).fail(function (fail) {
                console.log(fail);
            });
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../../include/header.html %>
        <% include ../../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">
            <div class="has_left_menu cf">
                <!-- 레프트 메뉴 -->
                <% include ../../include/mypage_leftmenu.html %>
                <!-- sub content -->
                <div class="sub_content">

                    <!-- mypage -->
                    <section class="mypage_sec">
                        <h1 class="tit_mypage">포인트관리 <span>나의 포인트 정보</span></h1>
                        <div class="point_box">
                            <div class="pb_inner cf">
                                <div class="paint_point">
                                    <em>P</em>
                                </div>
                                <div class="pb_center">
                                    <div>
                                        <em>나의 포인트 잔액</em>
                                        <p class="fc3" id="point">0 <span>Point</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn_align_c mb50">
                            <button class="btn bgc1" id="deposit">포인트 입금</button>
                            <button class="btn bgc2" id="withdraw">포인트 출금</button>
                            <button class="btn bgc4" id="exchange_deposit">MACH로 교환</button>
                            <button class="btn bgc3" id="exchange_withdraw">포인트로 교환</button>
                        </div>

                        <div class="tab_board cf">
                            <li id="mach_buy" class="on"><a href="javascript:getPointHistory('deposit');">입금 내역</a></li>
                            <li id="mach_sell"><a href="javascript:getPointHistory('withdraw');">출금 내역</a></li>
                        </div>
                        <div class="table_wrap table-responsive">
                            <table class="table_wallet table">
                                <colgroup class="colgroup_walletinfo">
                                    <col class="col3_1">
                                    <col class="col3_2">
                                    <col class="col3_3">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>내역</th>
                                        <th>상태</th>
                                        <th>일자</th>
                                    </tr>
                                </thead>
                                <tbody id="wallet_historys">

                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
                <!--// sub content -->
            </div>    
        </div>
    </div>
    
    <% include ../../include/footer.html %>
</div>
</body>