<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
    <script>
        var pageIdx = 0;
        var type = "<%= type %>";
        var title = "<%= title %>";

        $(document).ready(function() {
            getCommunityList();

            $('#more_search').click(function() {
                pageIdx++;
                getCommunityList();
            });
            
            $('#btn_search').click(function() {
                $("#community_list").html('');
                pageIdx = 0;
                type = $('[name=type]:checked').val();
                title = $('#title').val();

                getCommunityList();
            });

            $("input[name='type']").on('change', function() {
                $('#btn_search').trigger('click');
            });

            $('#title').on("keydown", function(e) {
                if(e.keyCode === 13){
                    $('#btn_search').trigger('click');
                }
            });
        });

        function getCommunityList() {
            var query = "/v1/community/list?pageIdx=" + pageIdx;
            if(type != "") {
                query += "&type=" + type;
            }

            if(title != undefined) {
                query += "&title=" + title;
            }

            $.ajax({
                method: "GET",
                url: query,
            }).done(function (success) {
                console.log(success.data);
                pageIdx = success.pageIdx;
                setCommunitys(success.data.list);
                if(success.data.count < 20) {
                    $('#more_search').hide();
                } else {
                    $('#more_search').show();
                }
            }).fail(function (fail) {
                console.log(fail);
            })
        }

        function setCommunitys(data) {
            var result="";
            if(data.length == 0) {
                result = '<tr><td colspan="4">공지사항 내역이 없습니다.</td></tr>';
            }

            for(var i=0; i<data.length; i++) {
                var id = data[i]._id;
                var type = getCommunityType(data[i].type);
                var title = data[i].type == 'movie' ? '<i class="ico_media material-icons">live_tv</i>' + data[i].title : data[i].title;
                var reporter = data[i].reporter;
                var regDate = data[i].regDate.substring(2, 10);

                result+= '<tr onclick="javascript:showDetail(\''+id+'\')">' +
                            '<td>'+type.text+'</td>' +
                            '<td class="tal">' +
                                '<div class="ellipse" style="width: 100%">' + title +
                                '</div>' +
                            '</td>' +
                            '<td>'+ reporter +'</td>' +
                            '<td>'+ regDate +'</td>' +
                        '</tr>';
            }
            $('#community_list').append(result);
        }

        function showDetail(id) {
            location.href="/community/board/detail/" + id;
        }
    </script>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="sub_container container">

            <section class="board_sec">
                <div class="board_tit cf">
                    <h1>게임소식</h1>
                    <button class="btn btn-success" id="register">등록</button>
                </div>
                <div class="search_filter">
                    <ul class="">
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">분류</h2>
                            <div class="check_filter col-sm-10 col-xs-12">
                                <input type="radio" name="type" id="all" value="" checked><label for="all">전체</label>
                                <input type="radio" name="type" id="board" value="board"><label for="board">게시글</label>
                                <input type="radio" name="type" id="game" value="game"><label for="board">게임 공략</label>
                                <input type="radio" name="type" id="movie" value="movie"><label for="movie">동영상</label>
                            </div>
                        </li>
                        <li class="row">
                            <h2 class="col-sm-2 col-xs-12">검색</h2>
                            <div class="col-sm-10 col-xs-12">
                                <div class="w100p-120px">
                                    <input type="text" class="form-control" id="title">
                                </div>
                                <div class="mob_100p_tar">
                                    <input type="button" class="btn btn-primary" id="btn_search" value="검색">
                                </div>
                            </div>
                        </li>                        
                    </ul>
                </div>
                
                <div class="table_wrap table-responsive">
                    <table class="table_list has_media_icon table">
                        <colgroup class="colgroup_community_list">
                            <col class="col4_1">
                            <col class="col4_2">
                            <col class="col4_3">
                            <col class="col4_4">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>분류</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody id="community_list">
                            <!-- <tr onclick="">
                                <td>동영상</td>
                                <td>
                                    <div class="ellipse"><i class="ico_media material-icons">live_tv</i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dolore itaque, illo enim dolorum molestiae consequuntur nemo minima labore quo incidunt rem,</div>
                                </td>
                                <td>김마하</td>
                                <td>19/04/11</td>
                            </tr>
                            <tr onclick="location.href='/v2/community/detail'">
                                <td>일반</td>
                                <td>                           
                                    <div class="ellipse">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dolore itaque, illo enim dolorum molestiae consequuntur nemo minima labore quo incidunt rem,</div>
                                </td>
                                <td>김마하</td>
                                <td>19/04/11</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>

                <div class="btn_align_c">
                    <button class="btn btn_more_list" id="more_search">20개 더보기</button>
                </div>
            </section>

        </div>
    </div>
    
    <% include ../include/footer.html %>
</div>
</body>