<!DOCTYPE html>
<html>
<head>
    <% include ../include/head.html %>
</head>
<body>
<div id="wrap" class="wrap">
    <!-- header -->
    <div class="header_wrap">
        <% include ../include/header.html %>
        <% include ../include/m_header.html %>
    </div>
    <script>
        document.querySelector("#floatingInfoBox").setAttribute("ismain", "true");
    </script>
    <!--// header -->

    <!-- content_wrap -->
    <div class="content_wrap">
        <div class="visual_wrap">
            <section class="visual_sec">
                <h1 class="blind">메인 비주얼 이미지 영역</h1>
                <div class="slick_visual">
                    <div class="visual_img">
                        <div class="visual_txt">
                            <strong class="vs_tit">마하코인 이제<br><span class="fc1">카카오</span>와 함께하세요</strong> 
                            <p class="vs_con fcbk">이제 카카오에서도 마하코인이 구매가능합니다.</p>
                        </div>
                        <img src="/static/img/main/main_visual01.jpg" alt="">
                    </div>
                    <div class="visual_img">
                        <div class="visual_txt">
                            <strong class="vs_tit">배틀그라운드 플레이 하고<br><span class="fc2">마하코인</span>받자</strong> 
                            <p class="vs_con fcwh">플레이 시간에 따른 코인제공</p>
                        </div>                    
                        <img src="/static/img/main/main_visual02.jpg" alt="">
                    </div>
                </div>
            </section>
        </div>
        <section class="btm_visual_sec cf">
            <div class="flow_box">
                <h1>COIN 시세</h1>
            </div>
            <div class="flow_box cf">
                <div class="slick_coin_quotes">
                    <div class="">
                        <dl class="cf">
                            <dt>비트코인</dt>
                            <dd class="fc3">4,328,000 KRW<em>-0.18%</em></dd>
                        </dl>
                    </div>
                    <div class="">
                        <dl class="cf">
                            <dt>이더리움</dt>
                            <dd class="fcrd">148,900 KRW<em>0.58%</em></dd>
                        </dl>
                    </div>
                    <div class="">
                        <dl class="cf">
                            <dt>마하코인</dt>
                            <dd class="fc3">333,900,000 KRW<em>0.58%</em></dd>
                        </dl>
                    </div>
                    <div class="">
                        <dl class="cf">
                            <dt>제로코인</dt>
                            <dd class="fc3">444,900,000,000 KRW<em>3.33%</em></dd>
                        </dl>
                    </div>
                    <div class="">                        
                        <dl class="cf">
                            <dt>테스트코인</dt>
                            <dd class="fcrd">444,900,000,000 KRW<em>3.33%</em></dd>
                        </dl>
                    </div>
                    <div class="">                       
                        <dl class="cf">
                            <dt>마지막코인</dt>
                            <dd class="fc3">444,900,000,000 KRW<em>3.33%</em></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="flow_box">
                <a class="plus_link" href="">더보기</a>
            </div>
        </section>
        <!-- primezone_wrap -->
        <div class="primezone_wrap">
            <section class="primezone_sec container">
                <h1>PRIME ZONE<a class="plus_link" href="">더보기</a></h1>
                <div class="slick_primezone">
                    <div>
                        <dl class="card_ui card_sell">
                            <dt class="bgc1">팝<br>니<br>다</dt>
                            <dd>
                                <a href="">
                                    <ul>
                                        <li class="cf">
                                            <em>게임머니</em>
                                            <strong class="fc1">10 <span>MACH</span></strong>
                                        </li>
                                        <li>카발온라인>안드로메다</li>
                                        <li>게임버니 100만 골드 삽니 다. 많이 찔러봐주세요</li>
                                    </ul>
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <dl class="card_ui card_buy">
                            <dt class="bgc3">삽<br>니<br>다</dt>
                            <dd>
                                <a href="">
                                    <ul>
                                        <li class="cf">
                                            <em>아이템</em>
                                            <strong class="fc3">100 <span>MACH</span></strong>
                                        </li>
                                        <li>십이지천M>흑천무경</li>
                                        <li>게임버니 100만 골드 삽니 다. 많이 찔러봐주세요</li>
                                    </ul>
                                </a>
                            </dd>
                        </dl>
                    </div>                        
                    <div>
                        <dl class="card_ui card_sell">
                            <dt class="bgc1">팝<br>니<br>다</dt>
                            <dd>
                                <a href="">
                                    <ul>
                                        <li class="cf">
                                            <em>게임머니</em>
                                            <strong class="fc1">10 <span>MACH</span></strong>
                                        </li>
                                        <li>카발온라인>안드로메다</li>
                                        <li>게임버니 100만 골드 삽니 다. 많이 찔러봐주세요</li>
                                    </ul>
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <dl class="card_ui card_buy">
                            <dt class="bgc3">삽<br>니<br>다</dt>
                            <dd>
                                <a href="">
                                    <ul>
                                        <li class="cf">
                                            <em>아이템</em>
                                            <strong class="fc3">100 <span>MACH</span></strong>
                                        </li>
                                        <li>십이지천M>흑천무경</li>
                                        <li>게임버니 100만 골드 삽니 다. 많이 찔러봐주세요</li>
                                    </ul>
                                </a>
                            </dd>
                        </dl>
                    </div>                        
                    <div>
                        <dl class="card_ui card_sell">
                            <dt class="bgc1">팝<br>니<br>다</dt>
                            <dd>
                                <a href="">
                                    <ul>
                                        <li class="cf">
                                            <em>게임머니</em>
                                            <strong class="fc1">10 <span>MACH</span></strong>
                                        </li>
                                        <li>카발온라인>안드로메다</li>
                                        <li>게임버니 100만 골드 삽니 다. 많이 찔러봐주세요</li>
                                    </ul>
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <dl class="card_ui card_buy">
                            <dt class="bgc3">삽<br>니<br>다</dt>
                            <dd>
                                <a href="">
                                    <ul>
                                        <li class="cf">
                                            <em>아이템</em>
                                            <strong class="fc3">100 <span>MACH</span></strong>
                                        </li>
                                        <li>십이지천M>흑천무경</li>
                                        <li>게임버니 100만 골드 삽니 다. 많이 찔러봐주세요</li>
                                    </ul>
                                </a>
                            </dd>
                        </dl>
                    </div>                                                        
                </div>
            </section>
        </div>
        <!--// primezone_wrap -->
        <!--// bootstrap container -->
        <div class="container">
            <section class="w100p_banner row">
                <div class="col-lg-12"> 
                    <img src="/static/img/main/@temp_banner.jpg" alt="">
                </div>
            </section>
            <div class="row">
                <h1 class="con_tit col-lg-4">MACH 서비스</h1>
            </div>
            <section class="img_banner_sec row cf">
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href=""><img src="/static/img/main/mach_service01.jpg" alt="1"></a></div>
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href=""><img src="/static/img/main/mach_service02.jpg" alt="2"></a></div>
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href=""><img src="/static/img/main/mach_service03.jpg" alt="3"></a></div>           
            </section>
            <div class="row">
                <h1 class="con_tit col-lg-4">MACH LINK</h1>
            </div>
            <section class="img_banner_sec row">
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href=""><img src="/static/img/main/mach_link01.jpg" alt="1"></a></div>
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href=""><img src="/static/img/main/mach_link02.jpg" alt="2"></a></div>
                <div class="col-xs-12 col-sm-12 col-lg-4"><a href=""><img src="/static/img/main/mach_link03.jpg" alt="3"></a></div>
            </section>
            <!-- 게임 아이템 판매/구매 -->
            <div class="row">
                <section class="item_trade_sec col-lg-8">
                    <h1 class="blind">게임아이템 판매와 구매 게시판 리스트</h1>
                    <h2 class="item_sell_tit on"><button class="btn_show_list on">게임아이템 판매</button><a class="plus_link" href="">더보기</a></h2>
                    <div class="trade_list item_sell table-responsive">              
                        <table class="table">
                            <thead>
                                <tr class="active">
                                    <th>종류</th>
                                    <th>게임명>서버명</th>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>게임머니</td>
                                    <td>블레이드앤소울>이확</td>
                                    <td><div class="txt_el">금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.</div></td>
                                    <td>2001.5 MACH</td>
                                </tr>
                                <tr>
                                    <td>게임머니</td>
                                    <td>블레이드앤소울>이확</td>
                                    <td><div class="txt_el">금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.</div></td>
                                    <td>2001.5 MACH</td>
                                </tr>
                                <tr>
                                    <td>게임머니</td>
                                    <td>블레이드앤소울>이확</td>
                                    <td><div class="txt_el">금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.금 팝니다.</div></td>
                                    <td>2001.5 MACH</td>
                                </tr>
                                <tr>
                                    <td>게임아이템</td>
                                    <td>블레이드앤소울>이확</td>
                                    <td><div class="txt_el">불멸의검 삽니다</div></td>
                                    <td>20.5 MACH</td>
                                </tr>
                                <tr>
                                    <td>게임아이템</td>
                                    <td>블레이드앤소울>이확</td>
                                    <td><div class="txt_el">불멸의검 삽니다</div></td>
                                    <td>20.5 MACH</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                    <h2 class="item_buy_tit"><button class="btn_show_list">게임아이템 구매</button><a class="plus_link" href="">더보기</a></h2>
                    <div class="trade_list item_buy table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>종류</th>
                                    <th>게임명>서버명</th>
                                    <th>제 목</th>
                                    <th>거래가격</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>게임아이템</td>
                                    <td>블레이드앤소울>이확</td>
                                    <td><div class="txt_el">불멸의검 삽니다</div></td>
                                    <td>20.5 MACH</td>
                                </tr>
                            </tbody>
                        </table>                           
                    </div>             
                </section>
                <section class="assets_trade_sec col-lg-4">
                    <div class="bd_area">
                        <h1 class="assets_tit">자산거래<a class="plus_link" href="">더보기</a></h1>
                        <div class="assets_img">
                            <img src="/static/img/main/@test_macbook.jpg" alt="">
                        </div>
                        <dl>
                            <dt>
                                <div class="assets_tit_txt ellipse">맥북 프로 레티나 디스플레이 2015 급처분합니다. 빠른 거래 원합니다. 연락주세요</div>
                            </dt>
                            <dd class="cf">
                                <div class="money_txt">1200.25 <span>MACH</span></div>
                                <div class="time_txt">1분전</div>  
                            </dd>
                        </dl>
                    </div>
                </section>
            </div>
            <!--// 게임 아이템 판매/구매 -->
            <section class="w100p_banner row">
                <div class="col-lg-12"> 
                    <img src="/static/img/main/@temp_banner.jpg" alt="">
                </div>
            </section>
            <div class="row">
                <!-- 동영상 -->
                <section class="media_sec col-lg-8">
                    <div class="bd_area">
                        <h1 class="media_tit fc2">동영상<a class="plus_link" href="">더보기</a></h1>
                        <div class="media_img_wrap cf">
                            <div class="media_img">
                                <a href="">
                                    <img src="/static/img/main/@media_thumnail.png" alt="">
                                    <h2>MACH Project Intro</h2>
                                </a>
                            </div>
                            <div class="media_img">
                                <a href="">
                                    <img src="/static/img/main/@media_thumnail.png" alt="">
                                    <h2>MACH Project Intro</h2>
                                </a>
                            </div>
                            <div class="media_img">
                                <a href="">
                                    <img src="/static/img/main/@media_thumnail.png" alt="">
                                    <h2>MACH Project Intro</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!--// 동영상 -->
                <!-- 게임뉴스 -->
                <section class="gamenews_sec col-lg-4">
                    <div class="bd_area">
                        <h1 class="gamenews_tit fc2">게임뉴스<a class="plus_link" href="">더보기</a></h1>
                        <ul>
                            <li class="ellipse">갓오브워4는 3이랑 완전 다르군요. 진짜 완전 다른 게임인것 같아요. 꼭 해보세요</li>
                            <li class="ellipse">디트로이트휴먼 진짜 재밌네요.</li>
                            <li class="ellipse">스위치 재미있게 하고 있네요. 정보랄께 있나 모르겠지만 한번 적어봅니다</li>
                            <li class="ellipse">스위치 재미있게 하고 있네요. 정보랄께 있나 모르겠지만</li>
                        </ul>
                    </div>
                </section>
                <!--// 게임뉴스 -->
            </div>
        </div>
        <!--// bootstrap container -->
    </div>
    <!--// content_wrap -->

    <% include ../include/footer.html %>
</div>
</body>